# TfL and Citibike bike bike sharing data prep
___

The following code for downloading the data has been adopted from [Markus Hauru's](https://github.com/mhauru) analysis.


Notes:
- Use 'diss' venv

In [1]:
# importing libraries
import os
import pickle
import requests
import zipfile
import pandas as pd
from pathlib import Path
from urllib.parse import urlparse
import openpyxl
import psycopg2
import xlrd

---
# TfL bikes
---

1. Downloading, processing and cleaning the bike data
- The data comes in CSV files, each of which covers a period of time. Up first, we need to download the data from the TfL website. 
- You can run it code repeatedly, and it'll only download data that it doesn't have already.

In [2]:
bikefolder = "data/bikes"

In [3]:
def download_file(datafolder, url, verbosity=0):
    """Download the data from the given URL into the datafolder, unless it's
    already there. Return path to downloaded file.
    """
    # data folder variable for where the folder for where the downloaded file should be stores 
    # using the path() function to converted the data folder string into a path
    datafolder = Path(datafolder)
    datafolder.mkdir(parents=True, exist_ok=True)

    # using the url parse function to extract the file from the url and create a filepath for it to be stored
    a = urlparse(url)
    filename = Path(os.path.basename(a.path))
    filepath = datafolder / filename
    # Don't redownload if we already have this file.
    if filepath.exists():
        if verbosity > 1:
            print("Already have {}".format(filename))
    else:
        if verbosity > 0:
            print("Downloading {}".format(filename))
        # sends a GET request to the URL using the requests module and raises an exception if there is an error
        rqst = requests.get(url)
        rqst.raise_for_status()
        with open(filepath, "wb") as f:
            f.write(rqst.content)
    return filepath

In [4]:
# Adjust whether to print progress reports of the downloads.
# verbosity=0 is silence, verbosity=1 reports only when actually doing things,
# verbosity>1 also reports when there's nothing to do.
verbosity = 1

# Most files are individual CSV files, listed in bike_data_urls.txt. Download them.
urlsfile = "data/bikes/bike_data_urls.txt"
with open(urlsfile, "r") as f:
    urls = f.read().splitlines()
# There are a few comments in the file, marked by lines starting with #.
# Filter them out.
urls = [u for u in urls if u[0] != "#"]
for url in urls:
    download_file(bikefolder, url, verbosity)

# The early years come in zips. Download and unzip them.
zipsfolder = Path("data/bikes/bikezips")
bikezipurls = [
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2012.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2013.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/cyclehireusagestats-2014.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2015TripDatazip.zip",
    "https://cycling.data.tfl.gov.uk/usage-stats/2016TripDataZip.zip",
]
# A list of CSV files that are already there. Only unzip if some of the files
# in the zip aren't present already.
current_csvs = sorted(os.listdir(bikefolder))
for url in bikezipurls:
    zippath = download_file(zipsfolder, url, verbosity)
    with zipfile.ZipFile(zippath, "r") as z:
        namelist = z.namelist()
        has_been_extracted = any(name not in current_csvs for name in namelist)
        if has_been_extracted:
            if verbosity > 0:
                print("Unzipping {}".format(zippath))
            z.extractall(bikefolder)
        else:
            if verbosity > 1:
                print("{} has already been extracted.".format(zippath))

# Finally, there's an odd one out: One week's data comes in as an .xlsx.
# Download it and use pandas to convert it to csv.
xlsxurl = "https://cycling.data.tfl.gov.uk/usage-stats/49JourneyDataExtract15Mar2017-21Mar2017.xlsx"
xlsxfile = download_file(bikefolder, xlsxurl)
csvfile = xlsxfile.with_suffix(".csv")
if not csvfile.exists():
    if verbosity > 0:
        print("Converting .xlsx to .csv.")
    pd.read_excel(xlsxfile).to_csv(csvfile, date_format="%d/%m/%Y %H:%M:%S")
else:
    if verbosity > 1:
        print("Already have {}".format(csvfile))

The data we have now lists on each line of the CSV file a single bike trip, with starting point and time, end point and time, and things like bike ID number. Here's an example.

In [5]:
example_file  = Path(bikefolder) / Path("47JourneyDataExtract01Mar2017-07Mar2017.csv")
pd.read_csv(example_file, encoding="ISO-8859-2").head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,62857677,3780.0,7851,06/03/2017 19:20,43.0,"Crawford Street, Marylebone",06/03/2017 18:17,811,"Westferry Circus, Canary Wharf"
1,62863035,540.0,4089,06/03/2017 22:17,295.0,"Swan Street, The Borough",06/03/2017 22:08,272,"Baylis Road, Waterloo"
2,62775896,600.0,4895,02/03/2017 21:27,295.0,"Swan Street, The Borough",02/03/2017 21:17,197,"Stamford Street, South Bank"
3,62747748,420.0,4347,01/03/2017 21:08,295.0,"Swan Street, The Borough",01/03/2017 21:01,803,"Southwark Street, Bankside"
4,62843939,420.0,3192,06/03/2017 09:28,193.0,"Bankside Mix, Bankside",06/03/2017 09:21,197,"Stamford Street, South Bank"

In [6]:
from glob import glob 

# using glob to list all the csv file in the bikefolder filepath
all_csv = glob(bikefolder+str('/*.csv'))
all_csv

['data/bikes\\01aJourneyDataExtract10Jan16-23Jan16.csv',
 'data/bikes\\01bJourneyDataExtract24Jan16-06Feb16.csv',
 'data/bikes\\02aJourneyDataExtract07Feb16-20Feb2016.csv',
 'data/bikes\\02bJourneyDataExtract21Feb16-05Mar2016.csv',
 'data/bikes\\03JourneyDataExtract06Mar2016-31Mar2016.csv',
 'data/bikes\\04JourneyDataExtract01Apr2016-30Apr2016.csv',
 'data/bikes\\05JourneyDataExtract01May2016-17May2016.csv',
 'data/bikes\\06JourneyDataExtract18May2016-24May2016.csv',
 'data/bikes\\07JourneyDataExtract25May2016-31May2016.csv',
 'data/bikes\\08JourneyDataExtract01Jun2016-07Jun2016.csv',
 'data/bikes\\09JourneyDataExtract08Jun2016-14Jun2016.csv',
 'data/bikes\\1. Journey Data Extract 01Jan-05Jan13.csv',
 'data/bikes\\1. Journey Data Extract 04Jan-31Jan 12.csv',
 'data/bikes\\1. Journey Data Extract 05Jan14-02Feb14.csv',
 'data/bikes\\10. Journey Data Extract 18Aug-13Sep13.csv',
 'data/bikes\\10. Journey Data Extract 21Aug-22 Aug12.csv',
 'data/bikes\\10a Journey Data Extract 20Sep15-03Oct15.csv',
 'data/bikes\\10a. Journey Data Extract 14Sep14-27Sep14.csv',
 'data/bikes\\10b Journey Data Extract 04Oct15-17Oct15.csv',
 'data/bikes\\10b. Journey Data Extract 28Sep14-11Oct14.csv',
 'data/bikes\\10JourneyDataExtract15Jun2016-21Jun2016.csv',
 'data/bikes\\11. Journey Data Extract 14Sep13-12Oct13.csv',
 'data/bikes\\11. Journey Data Extract 23Aug-25 Aug12.csv',
 'data/bikes\\11a Journey Data Extract 18Oct15-31Oct15.csv',
 'data/bikes\\11a. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11b Journey Data Extract 01Nov15-14Nov15.csv',
 'data/bikes\\11b. Journey Data Extract 12Oct14-08Nov14.csv',
 'data/bikes\\11JourneyDataExtract22Jun2016-28Jun2016.csv',
 'data/bikes\\12. Journey Data Extract 13Oct13-09Nov13.csv',
 'data/bikes\\12. Journey Data Extract 26Aug-27 Aug12.csv',
 'data/bikes\\12a Journey Data Extract 15Nov15-27Nov15.csv',
 'data/bikes\\12a. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12b Journey Data Extract 28Nov15-12Dec15.csv',
 'data/bikes\\12b. Journey Data Extract 09Nov14-06Dec14.csv',
 'data/bikes\\12JourneyDataExtract29Jun2016-05Jul2016.csv',
 'data/bikes\\13. Journey Data Extract 10Nov13-07Dec13.csv',
 'data/bikes\\13. Journey Data Extract 28Aug-29 Aug12.csv',
 'data/bikes\\13a Journey Data Extract 13Dec15-24Dec15.csv',
 'data/bikes\\13a. Journey Data Extract 07Dec14-21Dec14.csv',
 'data/bikes\\13b Journey Data Extract 25Dec15-09Jan16.csv',
 'data/bikes\\13b. Journey Data Extract 22Dec14-03Jan15.csv',
 'data/bikes\\13JourneyDataExtract06Jul2016-12Jul2016.csv',
 'data/bikes\\14. Journey Data Extract 08Dec13-04Jan14.csv',
 'data/bikes\\14. Journey Data Extract 30Aug-31 Aug12.csv',
 'data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\14JourneyDataExtract13Jul2016-19Jul2016.csv',
 'data/bikes\\15. Journey Data Extract 01Sep-30Sep12.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\15JourneyDataExtract20Jul2016-26Jul2016.csv',
 'data/bikes\\16. Journey Data Extract 01Oct-31Oct12.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\16JourneyDataExtract27Jul2016-02Aug2016.csv',
 'data/bikes\\17. Journey Data Extract 01Nov-30Nov12.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\17JourneyDataExtract03Aug2016-09Aug2016.csv',
 'data/bikes\\18. Journey Data Extract 01Dec-31Dec12.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\18JourneyDataExtract10Aug2016-16Aug2016.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv',
 'data/bikes\\19JourneyDataExtract17Aug2016-23Aug2016.csv',
 'data/bikes\\1a.JourneyDataExtract04Jan15-17Jan15.csv',
 'data/bikes\\1b.JourneyDataExtract18Jan15-31Jan15.csv',
 'data/bikes\\2. Journey Data Extract 03Feb14-01Mar14.csv',
 'data/bikes\\2. Journey Data Extract 06Jan-02Feb13.csv',
 'data/bikes\\2. Journey Data Extract_01Feb-29Feb 12.csv',
 'data/bikes\\206JourneyDataExtract18Mar2020-24Mar2020.csv',
 'data/bikes\\207JourneyDataExtract25Mar2020-31Mar2020.csv',
 'data/bikes\\208JourneyDataExtract01Apr2020-07Apr2020.csv',
 'data/bikes\\209JourneyDataExtract08Apr2020-14Apr2020.csv',
 'data/bikes\\20JourneyDataExtract24Aug2016-30Aug2016.csv',
 'data/bikes\\210JourneyDataExtract15Apr2020-21Apr2020.csv',
 'data/bikes\\211JourneyDataExtract22Apr2020-28Apr2020.csv',
 'data/bikes\\212JourneyDataExtract29Apr2020-05May2020.csv',
 'data/bikes\\213JourneyDataExtract06May2020-12May2020.csv',
 'data/bikes\\214JourneyDataExtract13May2020-19May2020.csv',
 'data/bikes\\215JourneyDataExtract20May2020-26May2020.csv',
 'data/bikes\\216JourneyDataExtract27May2020-02Jun2020.csv',
 'data/bikes\\217JourneyDataExtract03Jun2020-09Jun2020.csv',
 'data/bikes\\218JourneyDataExtract10Jun2020-16Jun2020.csv',
 'data/bikes\\219JourneyDataExtract17Jun2020-23Jun2020.csv',
 'data/bikes\\21JourneyDataExtract31Aug2016-06Sep2016.csv',
 'data/bikes\\220JourneyDataExtract24Jun2020-30Jun2020.csv',
 'data/bikes\\221JourneyDataExtract01Jul2020-07Jul2020.csv',
 'data/bikes\\222JourneyDataExtract08Jul2020-14Jul2020.csv',
 'data/bikes\\223JourneyDataExtract15Jul2020-21Jul2020.csv',
 'data/bikes\\224JourneyDataExtract22Jul2020-28Jul2020.csv',
 'data/bikes\\225JourneyDataExtract29Jul2020-04Aug2020.csv',
 'data/bikes\\226JourneyDataExtract05Aug2020-11Aug2020.csv',
 'data/bikes\\227JourneyDataExtract12Aug2020-18Aug2020.csv',
 'data/bikes\\228JourneyDataExtract19Aug2020-25Aug2020.csv',
 'data/bikes\\229JourneyDataExtract26Aug2020-01Sep2020.csv',
 'data/bikes\\22JourneyDataExtract07Sep2016-13Sep2016.csv',
 'data/bikes\\23JourneyDataExtract14Sep2016-20Sep2016.csv',
 'data/bikes\\24JourneyDataExtract21Sep2016-27Sep2016.csv',
 'data/bikes\\25JourneyDataExtract28Sep2016-04Oct2016.csv',
 'data/bikes\\26JourneyDataExtract05Oct2016-11Oct2016.csv',
 'data/bikes\\27JourneyDataExtract12Oct2016-18Oct2016.csv',
 'data/bikes\\28JourneyDataExtract19Oct2016-25Oct2016.csv',
 'data/bikes\\298JourneyDataExtract29Dec2021-04Jan2022.csv',
 'data/bikes\\299JourneyDataExtract05Jan2022-11Jan2022.csv',
 'data/bikes\\29JourneyDataExtract26Oct2016-01Nov2016.csv',
 'data/bikes\\2a.JourneyDataExtract01Feb15-14Feb15.csv',
 'data/bikes\\2b.JourneyDataExtract15Feb15-28Feb15.csv',
 'data/bikes\\3. Journey Data Extract 02Mar14-31Mar14.csv',
 'data/bikes\\3. Journey Data Extract 03Feb-02Mar13.csv',
 'data/bikes\\3. Journey Data Extract_01Mar-31Mar12.csv',
 'data/bikes\\300JourneyDataExtract12Jan2022-18Jan2022.csv',
 'data/bikes\\301JourneyDataExtract19Jan2022-25Jan2022.csv',
 'data/bikes\\302JourneyDataExtract26Jan2022-01Feb2022.csv',
 'data/bikes\\303JourneyDataExtract02Feb2022-08Feb2022.csv',
 'data/bikes\\304JourneyDataExtract09Feb2022-15Feb2022.csv',
 'data/bikes\\305JourneyDataExtract16Feb2022-22Feb2022.csv',
 'data/bikes\\306JourneyDataExtract23Feb2022-01Mar2022.csv',
 'data/bikes\\307JourneyDataExtract02Mar2022-08Mar2022.csv',
 'data/bikes\\308JourneyDataExtract09Mar2022-15Mar2022.csv',
 'data/bikes\\309JourneyDataExtract16Mar2022-22Mar2022.csv',
 'data/bikes\\30JourneyDataExtract02Nov2016-08Nov2016.csv',
 'data/bikes\\310JourneyDataExtract23Mar2022-29Mar2022.csv',
 'data/bikes\\311JourneyDataExtract30Mar2022-05Apr2022.csv',
 'data/bikes\\312JourneyDataExtract06Apr2022-12Apr2022.csv',
 'data/bikes\\313JourneyDataExtract13Apr2022-19Apr2022.csv',
 'data/bikes\\314JourneyDataExtract20Apr2022-26Apr2022.csv',
 'data/bikes\\315JourneyDataExtract27Apr2022-03May2022.csv',
 'data/bikes\\316JourneyDataExtract04May2022-10May2022.csv',
 'data/bikes\\317JourneyDataExtract11May2022-17May2022.csv',
 'data/bikes\\318JourneyDataExtract18May2022-24May2022.csv',
 'data/bikes\\319JourneyDataExtract25May2022-31May2022.csv',
 'data/bikes\\31JourneyDataExtract09Nov2016-15Nov2016.csv',
 'data/bikes\\320JourneyDataExtract01Jun2022-07Jun2022.csv',
 'data/bikes\\321JourneyDataExtract08Jun2022-14Jun2022.csv',
 'data/bikes\\322JourneyDataExtract15Jun2022-21Jun2022.csv',
 'data/bikes\\323JourneyDataExtract22Jun2022-28Jun2022.csv',
 'data/bikes\\324JourneyDataExtract29Jun2022-05Jul2022.csv',
 'data/bikes\\325JourneyDataExtract06Jul2022-12Jul2022.csv',
 'data/bikes\\326JourneyDataExtract13Jul2022-19Jul2022.csv',
 'data/bikes\\327JourneyDataExtract20Jul2022-26Jul2022.csv',
 'data/bikes\\328JourneyDataExtract27Jul2022-02Aug2022.csv',
 'data/bikes\\329JourneyDataExtract03Aug2022-09Aug2022.csv',
 'data/bikes\\32JourneyDataExtract16Nov2016-22Nov2016.csv',
 'data/bikes\\330JourneyDataExtract10Aug2022-16Aug2022.csv',
 'data/bikes\\331JourneyDataExtract17Aug2022-23Aug2022.csv',
 'data/bikes\\332JourneyDataExtract24Aug2022-30Aug2022.csv',
 'data/bikes\\333JourneyDataExtract31Aug2022-06Sep2022.csv',
 'data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv',
 'data/bikes\\335JourneyDataExtract12Sep2022-18Sep2022.csv',
 'data/bikes\\336JourneyDataExtract19Sep2022-25Sep2022.csv',
 'data/bikes\\337JourneyDataExtract26Sep2022-02Oct2022.csv',
 'data/bikes\\338JourneyDataExtract03Oct2022-09Oct2022.csv',
 'data/bikes\\339JourneyDataExtract10Oct2022-16Oct2022.csv',
 'data/bikes\\33JourneyDataExtract23Nov2016-29Nov2016.csv',
 'data/bikes\\340JourneyDataExtract17Oct2022-23Oct2022.csv',
 'data/bikes\\341JourneyDataExtract24Oct2022-30Oct2022.csv',
 'data/bikes\\342JourneyDataExtract31Oct2022-06Nov2022.csv',
 'data/bikes\\343JourneyDataExtract07Nov2022-13Nov2022.csv',
 'data/bikes\\344JourneyDataExtract14Nov2022-20Nov2022.csv',
 'data/bikes\\345JourneyDataExtract21Nov2022-27Nov2022.csv',
 'data/bikes\\346JourneyDataExtract28Nov2022-04Dec2022.csv',
 'data/bikes\\347JourneyDataExtract05Dec2022-11Dec2022.csv',
 'data/bikes\\348JourneyDataExtract12Dec2022-18Dec2022.csv',
 'data/bikes\\349JourneyDataExtract19Dec2022-25Dec2022.csv',
 'data/bikes\\34JourneyDataExtract30Nov2016-06Dec2016.csv',
 'data/bikes\\350JourneyDataExtract26Dec2022-01Jan2023.csv',
 'data/bikes\\351JourneyDataExtract02Jan2023-08Jan2023.csv',
 'data/bikes\\352JourneyDataExtract09Jan2023-15Jan2023.csv',
 'data/bikes\\353JourneyDataExtract16Jan2023-22Jan2023.csv',
 'data/bikes\\354JourneyDataExtract23Jan2023-29Jan2023.csv',
 'data/bikes\\355JourneyDataExtract30Jan2023-05Feb2023.csv',
 'data/bikes\\356JourneyDataExtract06Feb2023-12Feb2023.csv',
 'data/bikes\\357JourneyDataExtract13Feb2023-19Feb2023.csv',
 'data/bikes\\358JourneyDataExtract20Feb2023-26Feb2023.csv',
 'data/bikes\\359JourneyDataExtract27Feb2023-05Mar2023.csv',
 'data/bikes\\35JourneyDataExtract07Dec2016-13Dec2016.csv',
 'data/bikes\\360JourneyDataExtract06Mar2023-12Mar2023.csv',
 'data/bikes\\361JourneyDataExtract13Mar2023-19Mar2023.csv',
 'data/bikes\\362JourneyDataExtract20Mar2023-26Mar2023.csv',
 'data/bikes\\363JourneyDataExtract27Mar2023-02Apr2023.csv',
 'data/bikes\\36JourneyDataExtract14Dec2016-20Dec2016.csv',
 'data/bikes\\37JourneyDataExtract21Dec2016-27Dec2016.csv',
 'data/bikes\\38JourneyDataExtract28Dec2016-03Jan2017.csv',
 'data/bikes\\39JourneyDataExtract04Jan2017-10Jan2017.csv',
 'data/bikes\\3a.JourneyDataExtract01Mar15-15Mar15.csv',
 'data/bikes\\3b.JourneyDataExtract16Mar15-31Mar15.csv',
 'data/bikes\\4. Journey Data Extract 01Apr14-26Apr14.csv',
 'data/bikes\\4. Journey Data Extract 03Mar-31Mar13.csv',
 'data/bikes\\4. Journey Data Extract_1Apr-28Apr12.csv',
 'data/bikes\\40JourneyDataExtract11Jan2017-17Jan2017.csv',
 'data/bikes\\41JourneyDataExtract18Jan2017-24Jan2017.csv',
 'data/bikes\\42JourneyDataExtract25Jan2017-31Jan2017.csv',
 'data/bikes\\43JourneyDataExtract01Feb2017-07Feb2017.csv',
 'data/bikes\\44JourneyDataExtract08Feb2017-14Feb2017.csv',
 'data/bikes\\45JourneyDataExtract15Feb2017-21Feb2017.csv',
 'data/bikes\\46JourneyDataExtract22Feb2017-28Feb2017.csv',
 'data/bikes\\47JourneyDataExtract01Mar2017-07Mar2017.csv',
 'data/bikes\\48JourneyDataExtract08Mar2017-14Mar2017.csv',
 'data/bikes\\49JourneyDataExtract15Mar2017-21Mar2017.csv',
 'data/bikes\\4a.JourneyDataExtract01Apr15-16Apr15.csv',
 'data/bikes\\4b.JourneyDataExtract 17Apr15-02May15.csv',
 'data/bikes\\5. Journey Data Extract 01Apr-27Apr13.csv',
 'data/bikes\\5. Journey Data Extract 27Apr14-24May14.csv',
 'data/bikes\\5. Journey Data Extract_29Apr-26May12.csv',
 'data/bikes\\50 Journey Data Extract 22Mar2017-28Mar2017.csv',
 'data/bikes\\51 Journey Data Extract 29Mar2017-04Apr2017.csv',
 'data/bikes\\52 Journey Data Extract 05Apr2017-11Apr2017.csv',
 'data/bikes\\53JourneyDataExtract12Apr2017-18Apr2017.csv',
 'data/bikes\\54JourneyDataExtract19Apr2017-25Apr2017.csv',
 'data/bikes\\55JourneyData Extract26Apr2017-02May2017.csv',
 'data/bikes\\56JourneyDataExtract 03May2017-09May2017.csv',
 'data/bikes\\57JourneyDataExtract10May2017-16May2017.csv',
 'data/bikes\\5a.JourneyDataExtract03May15-16May15.csv',
 'data/bikes\\5b.JourneyDataExtract17May15-30May15.csv',
 'data/bikes\\6. Journey Data Extract 25May14-21Jun14.csv',
 'data/bikes\\6. Journey Data Extract 28Apr-25May13.csv',
 'data/bikes\\6. Journey Data Extract_27May-23Jun12.csv',
 'data/bikes\\6aJourneyDataExtract31May15-12Jun15.csv',
 'data/bikes\\6bJourneyDataExtract13Jun15-27Jun15.csv',
 'data/bikes\\7. Journey Data Extract 22Jun14-19Jul14.csv',
 'data/bikes\\7. Journey Data Extract 26May-22Jun13.csv',
 'data/bikes\\7. Journey Data Extract_24Jun-21Jul12.csv',
 'data/bikes\\7a.JourneyDataExtract28Jun15-11Jul15.csv',
 'data/bikes\\7b.JourneyDataExtract12Jul15-25Jul15.csv',
 'data/bikes\\8. Journey Data Extract 22Jul-18Aug12.csv',
 'data/bikes\\8. Journey Data Extract 23Jun-20Jul13.csv',
 'data/bikes\\8a Journey Data Extract 20Jul14-31Jul14.csv',
 'data/bikes\\8aJourneyDataExtract26Jul15-07Aug15.csv',
 'data/bikes\\8b Journey Data Extract 01Aug14-16Aug14.csv',
 'data/bikes\\8bJourneyData Extract 08Aug15-22Aug15.csv',
 'data/bikes\\9. Journey Data Extract 19Aug-20 Aug12.csv',
 'data/bikes\\9. Journey Data Extract 21Jul-17Aug13.csv',
 'data/bikes\\9a Journey Data Extract 17Aug14-31Aug14.csv',
 'data/bikes\\9a-Journey-Data-Extract-23Aug15-05Sep15.csv',
 'data/bikes\\9b Journey Data Extract 01Sep14-13Sep14.csv',
 'data/bikes\\9b-Journey-Data-Extract-06Sep15-19Sep15.csv']

In [7]:
# creating a list of csv files that contain '2019' and '2022' respectively
csv_2019 = [item for item in all_csv if '2019' in item]
csv_2020_Mar_Aug = [item for item in all_csv if '2020' in item]
csv_2022 = [item for item in all_csv if '2022' in item]
csv_2023 = [item for item in all_csv if '2023' in item]

### 2019 data prep

In [8]:
csv_2019

['data/bikes\\142JourneyDataExtract26Dec2018-01Jan2019.csv',
 'data/bikes\\143JourneyDataExtract02Jan2019-08Jan2019.csv',
 'data/bikes\\144JourneyDataExtract09Jan2019-15Jan2019.csv',
 'data/bikes\\145JourneyDataExtract16Jan2019-22Jan2019.csv',
 'data/bikes\\146JourneyDataExtract23Jan2019-29Jan2019.csv',
 'data/bikes\\147JourneyDataExtract30Jan2019-05Feb2019.csv',
 'data/bikes\\148JourneyDataExtract06Feb2019-12Feb2019.csv',
 'data/bikes\\149JourneyDataExtract13Feb2019-19Feb2019.csv',
 'data/bikes\\150JourneyDataExtract20Feb2019-26Feb2019.csv',
 'data/bikes\\151JourneyDataExtract27Feb2019-05Mar2019.csv',
 'data/bikes\\152JourneyDataExtract06Mar2019-12Mar2019.csv',
 'data/bikes\\153JourneyDataExtract13Mar2019-19Mar2019.csv',
 'data/bikes\\154JourneyDataExtract20Mar2019-26Mar2019.csv',
 'data/bikes\\155JourneyDataExtract27Mar2019-02Apr2019.csv',
 'data/bikes\\156JourneyDataExtract03Apr2019-09Apr2019.csv',
 'data/bikes\\157JourneyDataExtract10Apr2019-16Apr2019.csv',
 'data/bikes\\158JourneyDataExtract17Apr2019-23Apr2019.csv',
 'data/bikes\\159JourneyDataExtract24Apr2019-30Apr2019.csv',
 'data/bikes\\160JourneyDataExtract01May2019-07May2019.csv',
 'data/bikes\\161JourneyDataExtract08May2019-14May2019.csv',
 'data/bikes\\162JourneyDataExtract15May2019-21May2019.csv',
 'data/bikes\\163JourneyDataExtract22May2019-28May2019.csv',
 'data/bikes\\164JourneyDataExtract29May2019-04Jun2019.csv',
 'data/bikes\\165JourneyDataExtract05Jun2019-11Jun2019.csv',
 'data/bikes\\166JourneyDataExtract12Jun2019-18Jun2019.csv',
 'data/bikes\\167JourneyDataExtract19Jun2019-25Jun2019.csv',
 'data/bikes\\168JourneyDataExtract26Jun2019-02Jul2019.csv',
 'data/bikes\\169JourneyDataExtract03Jul2019-09Jul2019.csv',
 'data/bikes\\170JourneyDataExtract10Jul2019-16Jul2019.csv',
 'data/bikes\\171JourneyDataExtract17Jul2019-23Jul2019.csv',
 'data/bikes\\172JourneyDataExtract24Jul2019-30Jul2019.csv',
 'data/bikes\\173JourneyDataExtract31Jul2019-06Aug2019.csv',
 'data/bikes\\174JourneyDataExtract07Aug2019-13Aug2019.csv',
 'data/bikes\\175JourneyDataExtract14Aug2019-20Aug2019.csv',
 'data/bikes\\176JourneyDataExtract21Aug2019-27Aug2019.csv',
 'data/bikes\\177JourneyDataExtract28Aug2019-03Sep2019.csv',
 'data/bikes\\178JourneyDataExtract04Sep2019-10Sep2019.csv',
 'data/bikes\\179JourneyDataExtract11Sep2019-17Sep2019.csv',
 'data/bikes\\180JourneyDataExtract18Sep2019-24Sep2019.csv',
 'data/bikes\\181JourneyDataExtract25Sep2019-01Oct2019.csv',
 'data/bikes\\182JourneyDataExtract02Oct2019-08Oct2019.csv',
 'data/bikes\\183JourneyDataExtract09Oct2019-15Oct2019.csv',
 'data/bikes\\184JourneyDataExtract16Oct2019-22Oct2019.csv',
 'data/bikes\\185JourneyDataExtract23Oct2019-29Oct2019.csv',
 'data/bikes\\186JourneyDataExtract30Oct2019-05Nov2019.csv',
 'data/bikes\\187JourneyDataExtract06Nov2019-12Nov2019.csv',
 'data/bikes\\188JourneyDataExtract13Nov2019-19Nov2019.csv',
 'data/bikes\\189JourneyDataExtract20Nov2019-26Nov2019.csv',
 'data/bikes\\190JourneyDataExtract27Nov2019-03Dec2019.csv',
 'data/bikes\\191JourneyDataExtract04Dec2019-10Dec2019.csv',
 'data/bikes\\192JourneyDataExtract11Dec2019-17Dec2019.csv',
 'data/bikes\\193JourneyDataExtract18Dec2019-24Dec2019.csv',
 'data/bikes\\194JourneyDataExtract25Dec2019-31Dec2019.csv']

In [9]:
# using list comprehension that reads each csv file from the list and generates a sequence of dataframes
dfs_2019 = (pd.read_csv(csv) for csv in csv_2019)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2019 = pd.concat(dfs_2019, ignore_index=True)

In [10]:
print(data_2019.shape)
data_2019.head()

(10388411, 9)

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,83252102,720,2077,31/12/2018 19:05,272,"Baylis Road, Waterloo",31/12/2018 18:53,94,"Bricklayers Arms, Borough"
1,83195883,120,10781,27/12/2018 19:47,93,"Cloudesley Road, Angel",27/12/2018 19:45,339,"Risinghill Street, Angel"
2,83196070,120,2977,27/12/2018 20:11,339,"Risinghill Street, Angel",27/12/2018 20:09,234,"Liverpool Road (N1 Centre), Angel"
3,83197932,660,10802,28/12/2018 07:35,282,"Royal London Hospital, Whitechapel",28/12/2018 07:24,698,"Shoreditch Court, Haggerston"
4,83176351,1380,15749,26/12/2018 11:55,785,"Aquatic Centre, Queen Elizabeth Olympic Park",26/12/2018 11:32,783,"Monier Road, Hackney Wick"

In [11]:
# 2019

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specified date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%d/%m/%Y %H:%M"

## Some routes had dates with a seconds component, whereas some didn't - the below code cuts these seconds off
data_2019['Start Date'] = data_2019['Start Date'].str[:16]
data_2019['End Date'] = data_2019['End Date'].str[:16]

data_2019['Start Date']= pd.to_datetime(data_2019['Start Date'], format=format)

data_2019['End Date']= pd.to_datetime(data_2019['End Date'], format=format)

data_2019['Hour']= pd.to_datetime(data_2019['Start Date'], format=format).dt.hour

data_2019['Day']= pd.to_datetime(data_2019['Start Date'], format=format).dt.weekday

data_2019.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
0,83252102,720,2077,2018-12-31 19:05:00,272,"Baylis Road, Waterloo",2018-12-31 18:53:00,94,"Bricklayers Arms, Borough",18,0
1,83195883,120,10781,2018-12-27 19:47:00,93,"Cloudesley Road, Angel",2018-12-27 19:45:00,339,"Risinghill Street, Angel",19,3
2,83196070,120,2977,2018-12-27 20:11:00,339,"Risinghill Street, Angel",2018-12-27 20:09:00,234,"Liverpool Road (N1 Centre), Angel",20,3
3,83197932,660,10802,2018-12-28 07:35:00,282,"Royal London Hospital, Whitechapel",2018-12-28 07:24:00,698,"Shoreditch Court, Haggerston",7,4
4,83176351,1380,15749,2018-12-26 11:55:00,785,"Aquatic Centre, Queen Elizabeth Olympic Park",2018-12-26 11:32:00,783,"Monier Road, Hackney Wick",11,2

In [12]:
# 2019 filtering data - remove any rows that aren't from 2019
# remember the first csv contained data from 2018... 26Dec2018-01Jan2019.csv
bike_data_2019 = data_2019[data_2019['Start Date'].dt.year == 2019]
bike_data_2019

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
12,83262236,540,6571,2019-01-01 13:13:00,783,"Monier Road, Hackney Wick",2019-01-01 13:04:00,812,"Here East North, Queen Elizabeth Olympic Park",13,1
28,83259622,480,13179,2019-01-01 08:45:00,719,"Victoria Park Road, Hackney Central",2019-01-01 08:37:00,722,"Finnis Street, Bethnal Green",8,1
67,83266845,660,3667,2019-01-01 16:40:00,79,"Arundel Street, Temple",2019-01-01 16:29:00,230,"Poured Lines, Bankside",16,1
71,83268124,540,8565,2019-01-01 18:19:00,819,"Belvedere Road 2, South Bank",2019-01-01 18:10:00,230,"Poured Lines, Bankside",18,1
83,83265146,660,5572,2019-01-01 15:25:00,334,"Concert Hall Approach 1, South Bank",2019-01-01 15:14:00,230,"Poured Lines, Bankside",15,1
...,...,...,...,...,...,...,...,...,...,...,...
10388406,93988500,1200,8454,2019-12-31 14:07:00,216,"Old Brompton Road, South Kensington",2019-12-31 13:47:00,303,"Albert Gate, Hyde Park",13,1
10388407,93973049,3960,11780,2019-12-30 14:56:00,303,"Albert Gate, Hyde Park",2019-12-30 13:50:00,303,"Albert Gate, Hyde Park",13,0
10388408,93989586,2820,2080,2019-12-31 15:40:00,303,"Albert Gate, Hyde Park",2019-12-31 14:53:00,303,"Albert Gate, Hyde Park",14,1
10388409,93969138,840,4499,2019-12-30 11:01:00,99,"Old Quebec Street, Marylebone",2019-12-30 10:47:00,303,"Albert Gate, Hyde Park",10,0
10388410,93974189,2040,2603,2019-12-30 15:08:00,348,"Grosvenor Square, Mayfair",2019-12-30 14:34:00,303,"Albert Gate, Hyde Park",14,0

In [13]:
# bike_data_2019 has no null values, perfect
#bike_data_2019.isnull().sum()

### 2023 data prep

In [14]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs_2023 = (pd.read_csv(csv) for csv in csv_2023)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2023 = pd.concat(dfs_2023, ignore_index=True)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2800578035.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2023 = (pd.read_csv(csv) for csv in csv_2023)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2800578035.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2023 = (pd.read_csv(csv) for csv in csv_2023)

In [15]:
print(data_2023.shape)
data_2023.head()

(1895670, 11)

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,127702739,2023-01-01 23:58,3425,"Northington Street , Holborn",2023-01-02 00:04,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467
1,127702740,2023-01-01 23:58,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880
2,127702737,2023-01-01 23:56,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606
3,127702738,2023-01-01 23:56,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663
4,127702735,2023-01-01 23:55,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122

In [16]:
null_counts = data_2023.isnull().sum()

print(null_counts)

# no null values, great

Number                  0
Start date              0
Start station number    0
Start station           0
End date                0
End station number      0
End station             0
Bike number             0
Bike model              0
Total duration          0
Total duration (ms)     0
dtype: int64

In [17]:
# 2023 formatting and cleaning 
format = "%d/%m/%Y %H:%M"
format = "%Y-%m-%d %H:%"

data_2023['Start date'] = data_2023['Start date'].str[:16]
data_2023['End date'] = data_2023['End date'].str[:16]

data_2023['Start date']= pd.to_datetime(data_2023['Start date'], format=format)

data_2023['End date']= pd.to_datetime(data_2023['End date'], format=format)

data_2023['Hour']= pd.to_datetime(data_2023['Start date'], format=format).dt.hour

data_2023['Day']= pd.to_datetime(data_2023['Start date'], format=format).dt.weekday

data_2023.head()

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Hour,Day
0,127702739,2023-01-01 23:58:00,3425,"Northington Street , Holborn",2023-01-02 00:04:00,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467,23,6
1,127702740,2023-01-01 23:58:00,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06:00,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880,23,6
2,127702737,2023-01-01 23:56:00,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05:00,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606,23,6
3,127702738,2023-01-01 23:56:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663,23,6
4,127702735,2023-01-01 23:55:00,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59:00,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122,23,6

In [18]:
# 2023 filtering data - remove any rows that aren't from 2023
bike_data_2023 = data_2023[data_2023['Start date'].dt.year == 2023]
bike_data_2023

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Hour,Day
0,127702739,2023-01-01 23:58:00,3425,"Northington Street , Holborn",2023-01-02 00:04:00,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467,23,6
1,127702740,2023-01-01 23:58:00,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06:00,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880,23,6
2,127702737,2023-01-01 23:56:00,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05:00,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606,23,6
3,127702738,2023-01-01 23:56:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663,23,6
4,127702735,2023-01-01 23:55:00,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59:00,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895665,129456954,2023-03-27 00:02:00,200110,"Bishop's Bridge Road West, Bayswater",2023-03-27 00:06:00,200017,"Lancaster Gate , Bayswater",21256,CLASSIC,4m 5s,245341,0,0
1895666,129456948,2023-03-27 00:02:00,1100,"Strand, Strand",2023-03-27 00:28:00,300253,"Bermondsey Station, Bermondsey",41152,CLASSIC,26m 21s,1581989,0,0
1895667,129456945,2023-03-27 00:00:00,3489,"Broadwick Street, Soho",2023-03-27 00:12:00,1002,"Holy Trinity Brompton, Knightsbridge",60367,PBSC_EBIKE,12m 1s,721746,0,0
1895668,129456946,2023-03-27 00:00:00,990,"Cotton Garden Estate, Kennington",2023-03-27 00:04:00,10624,"Strata, Elephant & Castle",58401,CLASSIC,3m 19s,199591,0,0
1895669,129456947,2023-03-27 00:00:00,22166,"Albert Gardens, Stepney",2023-03-27 00:40:00,22166,"Albert Gardens, Stepney",59321,CLASSIC,40m 7s,2407020,0,0

### 2020 - March - August data prep

In [19]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs_2020 = (pd.read_csv(csv) for csv in csv_2020_Mar_Aug)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2020 = pd.concat(dfs_2020, ignore_index=True)

In [20]:
# 2020

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specififed date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%d/%m/%Y %H:%M"

## Some routes had dates with a seconds component, whereas some didn't - the below code cuts these seconds off
data_2020['Start Date'] = data_2020['Start Date'].str[:16]
data_2020['End Date'] = data_2020['End Date'].str[:16]

data_2020['Start Date']= pd.to_datetime(data_2020['Start Date'], format=format)

data_2020['End Date']= pd.to_datetime(data_2020['End Date'], format=format)

data_2020['Hour']= pd.to_datetime(data_2020['Start Date'], format=format).dt.hour

data_2020['Day']= pd.to_datetime(data_2020['Start Date'], format=format).dt.weekday

data_2020.head()

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
0,95783235,540,10640,2020-03-18 11:25:00,97,"Gloucester Road (North), Kensington",2020-03-18 11:16:00,225,"Notting Hill Gate Station, Notting Hill",11,2
1,95791444,540,10620,2020-03-18 18:14:00,225,"Notting Hill Gate Station, Notting Hill",2020-03-18 18:05:00,97,"Gloucester Road (North), Kensington",18,2
2,95855566,480,16507,2020-03-22 17:12:00,114,"Park Road (Baker Street), The Regent's Park",2020-03-22 17:04:00,343,"London Zoo Car Park, The Regent's Park",17,6
3,95850436,540,17213,2020-03-22 14:49:00,685,"Osiers Road, Wandsworth",2020-03-22 14:40:00,302,"Putney Pier, Wandsworth",14,6
4,95850578,1380,16695,2020-03-22 15:07:00,755,"The Vale, Chelsea",2020-03-22 14:44:00,302,"Putney Pier, Wandsworth",14,6

In [21]:
df_sorted = data_2020.sort_values(by='Start Date', ascending=True)

In [22]:
df_sorted

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
42264,95777577,840,12845,2020-03-18 00:14:00,119,"Bath Street, St. Luke's",2020-03-18 00:00:00,119,"Bath Street, St. Luke's",0,2
81429,95777578,540,14175,2020-03-18 00:10:00,259,"Bourne Street, Belgravia",2020-03-18 00:01:00,746,"Lots Road, West Chelsea",0,2
64519,95777579,780,12720,2020-03-18 00:14:00,239,"Warren Street Station, Euston",2020-03-18 00:01:00,546,"New Fetter Lane, Holborn",0,2
61216,95777580,960,12768,2020-03-18 00:18:00,94,"Bricklayers Arms, Borough",2020-03-18 00:02:00,298,"Curlew Street, Shad Thames",0,2
61219,95777581,1020,8469,2020-03-18 00:20:00,61,"Great Dover Street, The Borough",2020-03-18 00:03:00,298,"Curlew Street, Shad Thames",0,2
...,...,...,...,...,...,...,...,...,...,...,...
5281800,101367955,240,15436,2020-09-01 23:53:00,652,"Evesham Street, Avondale",2020-09-01 23:49:00,606,"Addison Road, Holland Park",23,1
5253583,101367958,60,10896,2020-09-01 23:51:00,488,"Reardon Street, Wapping",2020-09-01 23:50:00,458,"Wapping Lane, Wapping",23,1
5274721,101367970,480,18116,2020-09-01 23:59:00,442,"Walmer Road, Avondale",2020-09-01 23:51:00,442,"Walmer Road, Avondale",23,1
5109576,101367999,300,16371,2020-09-01 23:59:00,511,"Sutton Street, Shadwell",2020-09-01 23:54:00,202,"Leman Street, Aldgate",23,1
5252853,101367995,240,8408,2020-09-01 23:58:00,56,"Paddington Street, Marylebone",2020-09-01 23:54:00,367,"Harrowby Street, Marylebone",23,1

In [23]:
# filter 2020 data set between 23-03-2020 (start of the UK covid lockdown) and 2020-08-31
# Define the date range
start_date_range = pd.to_datetime('2020-03-23')
end_date_range = pd.to_datetime('2020-08-31')

# Filter the DataFrame using boolean indexing
bike_data_2020 = data_2020[(data_2020['Start Date'] >= start_date_range)  & (data_2020['Start Date'] <= end_date_range)]

### 2022 data prep
---

- In September 2022 the column names change slightly and additional clumns have been added
- for example the 'Bike model' column has been added detailing wherther the bike is 'classic' or 'PBSC_EBIKE'

Cycle Hire Data - data format change & new data https://techforum.tfl.gov.uk/t/cycle-hire-data-data-format-change-new-data/2520

### Exploring the 2022 data

In [24]:
csv_2022 = [item for item in all_csv if '2022' in item]

In [25]:
# using list comprehension that reads each csv file from the list and gnerators a sequence of dataframes
dfs_2022 = (pd.read_csv(csv) for csv in csv_2022)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2022 = pd.concat(dfs_2022, ignore_index=True)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\1336633212.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2022 = (pd.read_csv(csv) for csv in csv_2022)

#### there is an issue with data from 10th and 11th September 2022
#### let's look into this csv to try and solve the issue

- according to the csv data, there was 4 journeys on 10/09/2022 and 7 on 11/09/2022. There is clear something wrong here as there were 29595 journeys on 09/09/2022/
- for the purpose of analysis, we will duplicate the data from the 17th and 18th (the saturday and sunday from the following week) to populate the 2 days with no data
- perhaps no data was recorded due to TfL being in transition in how the record their bike journeys. Remember from the 12th September 2022, they started recording journey data in a new format


- data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv

In [26]:
#let's split the data into 2, before and after the data format changed 

# CSVs before September 2022 part 1 data 
# use slicing to includes all elements of the previous list except for the last 16
csv_2022_p1 = csv_2022[:-16]

# CSVs From september 12th 2022 
# use slicing to create a new list that includes only the last 16 elements
csv_2022_p2 = csv_2022[-16:]

In [27]:
# test = pd.read_csv('data/bikes\\314JourneyDataExtract20Apr2022-26Apr2022.csv', engine='python', encoding='utf-8', on_bad_lines='skip')

test = pd.read_csv('data/bikes\\334JourneyDataExtract07Sep2022-11Sep2022.csv')

In [28]:
test

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,124948506,420,17902,07/09/2022 00:07,424,"Ebury Bridge, Pimlico",07/09/2022 00:00,177,"Ashley Place, Victoria"
1,124948505,900,14422,07/09/2022 00:15,469,"Lindfield Street, Poplar",07/09/2022 00:00,282,"Royal London Hospital, Whitechapel"
2,124948507,180,17277,07/09/2022 00:03,461,"Aston Street, Stepney",07/09/2022 00:00,480,"Flamborough Street, Limehouse"
3,124948504,180,23917,07/09/2022 00:03,461,"Aston Street, Stepney",07/09/2022 00:00,480,"Flamborough Street, Limehouse"
4,124948503,420,10853,07/09/2022 00:07,182,"Bell Street , Marylebone",07/09/2022 00:00,111,"Park Lane , Hyde Park"
...,...,...,...,...,...,...,...,...,...
93448,125044170,3840,21738,11/09/2022 09:45,201,"Dorset Square, Marylebone",11/09/2022 08:41,514,"Portman Square, Marylebone"
93449,125102716,360,10886,11/09/2022 10:19,5,"Sedding Street, Sloane Square",11/09/2022 10:13,826,"Allington Street, Victoria"
93450,125102718,540,8719,11/09/2022 10:53,270,"Kennington Lane Rail Bridge, Vauxhall",11/09/2022 10:44,826,"Allington Street, Victoria"
93451,125044249,6000,8881,11/09/2022 14:13,757,"Harcourt Terrace, West Brompton",11/09/2022 12:33,757,"Harcourt Terrace, West Brompton"
93452,125044312,480,23806,12/09/2022 00:06,339,"Risinghill Street, Angel",11/09/2022 23:58,189,"Claremont Square, Angel"

In [29]:
# doing the same for the 2022 data
# passing errors within the csv files as per https://stackoverflow.com/questions/52105659/pandas-read-csv-unexpected-end-of-data-error
#dfs_2022_p1 = (pd.read_csv(csv, engine='python', encoding='utf-8', on_bad_lines='skip') for csv in csv_2022_p1)
dfs_2022_p1 = (pd.read_csv(csv) for csv in csv_2022_p1)
data_2022_p1 = pd.concat(dfs_2022_p1, ignore_index=True)

In [30]:
data_2022_p1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,115967515,1260,15338,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529,"Manresa Road, Chelsea"
1,116017034,720,19861,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804,"Good's Way, King's Cross"
2,115895660,360,19666,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57,"Guilford Street , Bloomsbury"
3,116016563,480,19861,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57,"Guilford Street , Bloomsbury"
4,116014412,1260,17235,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297,"Geraldine Street, Elephant & Castle"
...,...,...,...,...,...,...,...,...,...
8930282,125044170,3840,21738,11/09/2022 09:45,201.0,"Dorset Square, Marylebone",11/09/2022 08:41,514,"Portman Square, Marylebone"
8930283,125102716,360,10886,11/09/2022 10:19,5.0,"Sedding Street, Sloane Square",11/09/2022 10:13,826,"Allington Street, Victoria"
8930284,125102718,540,8719,11/09/2022 10:53,270.0,"Kennington Lane Rail Bridge, Vauxhall",11/09/2022 10:44,826,"Allington Street, Victoria"
8930285,125044249,6000,8881,11/09/2022 14:13,757.0,"Harcourt Terrace, West Brompton",11/09/2022 12:33,757,"Harcourt Terrace, West Brompton"
8930286,125044312,480,23806,12/09/2022 00:06,339.0,"Risinghill Street, Angel",11/09/2022 23:58,189,"Claremont Square, Angel"

In [31]:
data_2022_p1.isnull().sum()
# for the part 1 data, there were 312144 records with null station ids  

#es_id_null = data_2022_p1.loc[data_2022_p1['EndStation Id'].isnull()] 
#es_id_null.sort_values(by='Start Date', ascending=False)

# filtering the data above reveal the journeys taken between 06/07/2022 00:00 and 12/07/2022 23:56 did not record an end station Id

Rental Id                 0
Duration                  0
Bike Id                   0
End Date                  0
EndStation Id        312144
EndStation Name           0
Start Date                0
StartStation Id           0
StartStation Name         0
dtype: int64

Let's drop the 11 journey's from 10/09/2022 and 11/09/2022. We will replace them with synthetic data later on

In [32]:


df = data_2022_p1.copy()

# Filter rows based on date condition
filtered_df = df[df['Start Date'].str.contains('17-09-2022')]

filtered_df

data_2022_p1_clean = data_2022_p1.drop(data_2022_p1[data_2022_p1['Start Date'].str.contains('10/09/2022')].index)
data_2022_p1_clean2 = data_2022_p1_clean.drop(data_2022_p1_clean[data_2022_p1_clean['Start Date'].str.contains('11/09/2022')].index)

data_2022_p1_clean2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,115967515,1260,15338,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529,"Manresa Road, Chelsea"
1,116017034,720,19861,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804,"Good's Way, King's Cross"
2,115895660,360,19666,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57,"Guilford Street , Bloomsbury"
3,116016563,480,19861,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57,"Guilford Street , Bloomsbury"
4,116014412,1260,17235,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297,"Geraldine Street, Elephant & Castle"
...,...,...,...,...,...,...,...,...,...
8930271,125044138,600,3536,10/09/2022 00:00,558.0,"Page Street, Westminster",09/09/2022 23:50,183,"Riverlight North, Nine Elms"
8930272,125044146,1200,21422,10/09/2022 00:11,616.0,"Aintree Street, Fulham",09/09/2022 23:51,151,"Chepstow Villas, Notting Hill"
8930273,125044147,420,20309,09/09/2022 23:59,451.0,"Hermitage Court, Wapping",09/09/2022 23:52,552,"Watney Street, Shadwell"
8930274,125044149,120,3532,09/09/2022 23:54,755.0,"The Vale, Chelsea",09/09/2022 23:52,345,"Flood Street, Chelsea"
8930275,125044150,1080,16058,10/09/2022 00:10,692.0,"Cadogan Close, Victoria Park",09/09/2022 23:52,132,"Bethnal Green Road, Shoreditch"

2022 data part 2

In [33]:
# read in data with datetime data type for column 2 and column 5
dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)
data_2022_p2 = pd.concat(dfs_2022_p2, ignore_index=True)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\3855985093.py:2: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs_2022_p2 = (pd.read_csv(csv) for csv in csv_2022_p2)

In [34]:
data_2022_p2.isnull().sum()

Number                  0
Start date              0
Start station number    0
Start station           0
End date                0
End station number      0
End station             0
Bike number             0
Bike model              0
Total duration          0
Total duration (ms)     0
dtype: int64

In [35]:
data_2022_p2.count()

Number                  2555077
Start date              2555077
Start station number    2555077
Start station           2555077
End date                2555077
End station number      2555077
End station             2555077
Bike number             2555077
Bike model              2555077
Total duration          2555077
Total duration (ms)     2555077
dtype: int64

In [36]:
data_2022_p2

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,125230172,2022-09-18 23:59,001059,"Albert Embankment, Vauxhall",2022-09-19 02:11,200222,"Danvers Street, West Chelsea",54170,CLASSIC,2h 12m 14s,7934133
1,125230173,2022-09-18 23:59,002660,"Frith Street, Soho",2022-09-19 00:11,001194,"Westminster University, Marylebone",50087,CLASSIC,12m 16s,736233
2,125230174,2022-09-18 23:59,001183,"Bramham Gardens, Earl's Court",2022-09-19 00:14,300019,"Felsham Road, Putney",54561,CLASSIC,15m 29s,929662
3,125230175,2022-09-18 23:59,010624,"Strata, Elephant & Castle",2022-09-19 00:23,300252,"Canada Water Station, Rotherhithe",54324,CLASSIC,23m 31s,1411818
4,125230176,2022-09-18 23:59,010624,"Strata, Elephant & Castle",2022-09-19 00:23,300252,"Canada Water Station, Rotherhithe",22065,CLASSIC,23m 20s,1400619
...,...,...,...,...,...,...,...,...,...,...,...
2555072,127641458,2022-12-26 00:02,200214,"Woodstock Grove, Shepherd's Bush",2022-12-26 01:51,200249,"Queen Mary's, Mile End",53664,CLASSIC,1h 49m 4s,6544593
2555073,127641459,2022-12-26 00:02,1213,"Curlew Street, Shad Thames",2022-12-26 00:34,200147,"Salmon Lane, Limehouse",54303,CLASSIC,32m 16s,1936877
2555074,127641453,2022-12-26 00:00,1213,"Curlew Street, Shad Thames",2022-12-26 00:49,200160,"Langdon Park, Poplar",21426,CLASSIC,49m 15s,2955280
2555075,127641454,2022-12-26 00:00,22167,"Millharbour, Millwall",2022-12-26 01:31,22167,"Millharbour, Millwall",54786,CLASSIC,1h 30m 27s,5427555
2555076,127641455,2022-12-26 00:00,1213,"Curlew Street, Shad Thames",2022-12-26 00:49,200160,"Langdon Park, Poplar",30605,CLASSIC,48m 22s,2902467

Let's create a dataframe for 17th and 18th September 2022 jounrys

In [37]:
data_2022_p2['Start date'] = pd.to_datetime(data_2022_p2['Start date'])

data_2022_p2['End date'] = pd.to_datetime(data_2022_p2['End date'])

Sep_17_18_2022 = data_2022_p2[(data_2022_p2['Start date'].dt.date == pd.to_datetime('2022-09-17').date()) |
            (data_2022_p2['Start date'].dt.date == pd.to_datetime('2022-09-18').date())]

In [38]:
Sep_17_18_2022

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,125230172,2022-09-18 23:59:00,001059,"Albert Embankment, Vauxhall",2022-09-19 02:11:00,200222,"Danvers Street, West Chelsea",54170,CLASSIC,2h 12m 14s,7934133
1,125230173,2022-09-18 23:59:00,002660,"Frith Street, Soho",2022-09-19 00:11:00,001194,"Westminster University, Marylebone",50087,CLASSIC,12m 16s,736233
2,125230174,2022-09-18 23:59:00,001183,"Bramham Gardens, Earl's Court",2022-09-19 00:14:00,300019,"Felsham Road, Putney",54561,CLASSIC,15m 29s,929662
3,125230175,2022-09-18 23:59:00,010624,"Strata, Elephant & Castle",2022-09-19 00:23:00,300252,"Canada Water Station, Rotherhithe",54324,CLASSIC,23m 31s,1411818
4,125230176,2022-09-18 23:59:00,010624,"Strata, Elephant & Castle",2022-09-19 00:23:00,300252,"Canada Water Station, Rotherhithe",22065,CLASSIC,23m 20s,1400619
...,...,...,...,...,...,...,...,...,...,...,...
47448,125180379,2022-09-17 00:00:00,200167,"Twig Folly Bridge, Mile End",2022-09-17 00:16:00,001077,"Royal London Hospital, Whitechapel",40132,CLASSIC,15m 47s,947338
47449,125180380,2022-09-17 00:01:00,300032,"Victoria & Albert Museum, South Kensington",2022-09-17 00:41:00,001190,"Kennington Lane Rail Bridge, Vauxhall",55479,CLASSIC,39m 58s,2398688
47450,125180381,2022-09-17 00:01:00,001094,"Wright's Lane, Kensington",2022-09-17 00:02:00,001121,"Lexham Gardens, Kensington",58637,CLASSIC,1m 52s,112773
47451,125180382,2022-09-17 00:01:00,300247,"Cranmer Road, Stockwell",2022-09-17 00:09:00,200132,"Gaywood Street, Elephant & Castle",30110,CLASSIC,8m 11s,491762
47455,125180375,2022-09-17 00:00:00,200021,"Hermitage Court, Wapping",2022-09-17 00:33:00,200021,"Hermitage Court, Wapping",54228,CLASSIC,33m 37s,2017734

In [39]:
# Subtract 7 days from the DateTime column
Sep_10_11_2022_Syn = Sep_17_18_2022.copy()

# Subtract 7 days from the DateTime column
Sep_10_11_2022_Syn['Start date'] -= pd.DateOffset(days=7)  # Subtract 7 days from each value
Sep_10_11_2022_Syn['End date'] -= pd.DateOffset(days=7)  # Subtract 7 days from each value

In [40]:
Sep_10_11_2022_Syn

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,125230172,2022-09-11 23:59:00,001059,"Albert Embankment, Vauxhall",2022-09-12 02:11:00,200222,"Danvers Street, West Chelsea",54170,CLASSIC,2h 12m 14s,7934133
1,125230173,2022-09-11 23:59:00,002660,"Frith Street, Soho",2022-09-12 00:11:00,001194,"Westminster University, Marylebone",50087,CLASSIC,12m 16s,736233
2,125230174,2022-09-11 23:59:00,001183,"Bramham Gardens, Earl's Court",2022-09-12 00:14:00,300019,"Felsham Road, Putney",54561,CLASSIC,15m 29s,929662
3,125230175,2022-09-11 23:59:00,010624,"Strata, Elephant & Castle",2022-09-12 00:23:00,300252,"Canada Water Station, Rotherhithe",54324,CLASSIC,23m 31s,1411818
4,125230176,2022-09-11 23:59:00,010624,"Strata, Elephant & Castle",2022-09-12 00:23:00,300252,"Canada Water Station, Rotherhithe",22065,CLASSIC,23m 20s,1400619
...,...,...,...,...,...,...,...,...,...,...,...
47448,125180379,2022-09-10 00:00:00,200167,"Twig Folly Bridge, Mile End",2022-09-10 00:16:00,001077,"Royal London Hospital, Whitechapel",40132,CLASSIC,15m 47s,947338
47449,125180380,2022-09-10 00:01:00,300032,"Victoria & Albert Museum, South Kensington",2022-09-10 00:41:00,001190,"Kennington Lane Rail Bridge, Vauxhall",55479,CLASSIC,39m 58s,2398688
47450,125180381,2022-09-10 00:01:00,001094,"Wright's Lane, Kensington",2022-09-10 00:02:00,001121,"Lexham Gardens, Kensington",58637,CLASSIC,1m 52s,112773
47451,125180382,2022-09-10 00:01:00,300247,"Cranmer Road, Stockwell",2022-09-10 00:09:00,200132,"Gaywood Street, Elephant & Castle",30110,CLASSIC,8m 11s,491762
47455,125180375,2022-09-10 00:00:00,200021,"Hermitage Court, Wapping",2022-09-10 00:33:00,200021,"Hermitage Court, Wapping",54228,CLASSIC,33m 37s,2017734

Let's add the synthetic data for 10th and 11th September to the 2022 part 2 dataframe

In [41]:
data_2022_p2_clean = pd.concat([data_2022_p2, Sep_10_11_2022_Syn])

In [42]:
data_2022_p2_clean

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,125230172,2022-09-18 23:59:00,001059,"Albert Embankment, Vauxhall",2022-09-19 02:11:00,200222,"Danvers Street, West Chelsea",54170,CLASSIC,2h 12m 14s,7934133
1,125230173,2022-09-18 23:59:00,002660,"Frith Street, Soho",2022-09-19 00:11:00,001194,"Westminster University, Marylebone",50087,CLASSIC,12m 16s,736233
2,125230174,2022-09-18 23:59:00,001183,"Bramham Gardens, Earl's Court",2022-09-19 00:14:00,300019,"Felsham Road, Putney",54561,CLASSIC,15m 29s,929662
3,125230175,2022-09-18 23:59:00,010624,"Strata, Elephant & Castle",2022-09-19 00:23:00,300252,"Canada Water Station, Rotherhithe",54324,CLASSIC,23m 31s,1411818
4,125230176,2022-09-18 23:59:00,010624,"Strata, Elephant & Castle",2022-09-19 00:23:00,300252,"Canada Water Station, Rotherhithe",22065,CLASSIC,23m 20s,1400619
...,...,...,...,...,...,...,...,...,...,...,...
47448,125180379,2022-09-10 00:00:00,200167,"Twig Folly Bridge, Mile End",2022-09-10 00:16:00,001077,"Royal London Hospital, Whitechapel",40132,CLASSIC,15m 47s,947338
47449,125180380,2022-09-10 00:01:00,300032,"Victoria & Albert Museum, South Kensington",2022-09-10 00:41:00,001190,"Kennington Lane Rail Bridge, Vauxhall",55479,CLASSIC,39m 58s,2398688
47450,125180381,2022-09-10 00:01:00,001094,"Wright's Lane, Kensington",2022-09-10 00:02:00,001121,"Lexham Gardens, Kensington",58637,CLASSIC,1m 52s,112773
47451,125180382,2022-09-10 00:01:00,300247,"Cranmer Road, Stockwell",2022-09-10 00:09:00,200132,"Gaywood Street, Elephant & Castle",30110,CLASSIC,8m 11s,491762
47455,125180375,2022-09-10 00:00:00,200021,"Hermitage Court, Wapping",2022-09-10 00:33:00,200021,"Hermitage Court, Wapping",54228,CLASSIC,33m 37s,2017734

Let's clean up the 2022 data into 1 final completed dataframe

Firstly, let's combine 2022 p1 and p2 together

In [43]:
# Concatenate the two DataFrames
data_2022_clean = pd.concat([data_2022_p1_clean2, data_2022_p2_clean]) 
# Reset the index of the combined DataFrame
data_2022_clean = data_2022_clean.reset_index(drop=True)

In [44]:
data_2022_clean

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180379.0,2022-09-10 00:00:00,200167,"Twig Folly Bridge, Mile End",2022-09-10 00:16:00,001077,"Royal London Hospital, Whitechapel",40132.0,CLASSIC,15m 47s,947338.0
11532801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180380.0,2022-09-10 00:01:00,300032,"Victoria & Albert Museum, South Kensington",2022-09-10 00:41:00,001190,"Kennington Lane Rail Bridge, Vauxhall",55479.0,CLASSIC,39m 58s,2398688.0
11532802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180381.0,2022-09-10 00:01:00,001094,"Wright's Lane, Kensington",2022-09-10 00:02:00,001121,"Lexham Gardens, Kensington",58637.0,CLASSIC,1m 52s,112773.0
11532803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180382.0,2022-09-10 00:01:00,300247,"Cranmer Road, Stockwell",2022-09-10 00:09:00,200132,"Gaywood Street, Elephant & Castle",30110.0,CLASSIC,8m 11s,491762.0
11532804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180375.0,2022-09-10 00:00:00,200021,"Hermitage Court, Wapping",2022-09-10 00:33:00,200021,"Hermitage Court, Wapping",54228.0,CLASSIC,33m 37s,2017734.0

In [45]:
#let's start by sorting out the date time formatting
format = "%d/%m/%Y %H:%M"
format2 = "%Y/%m/%d %H:%M"


data_2022_clean['Start Date'] = data_2022_clean['Start Date'].str[:16]
#data_2022_clean['End Date'] = data_2022_clean['End Date'].str[:16]

# let's create some extra columns to store the newly formatted datetime data,
#remember the date columns have different formatting before and after September
# we will merge them into single columns later on 
data_2022_clean['Start Date Time'] = pd.to_datetime(data_2022_clean['Start Date'], format=format)
data_2022_clean['Start Date Time 2']= pd.to_datetime(data_2022_clean['Start date'], format=format2)
data_2022_clean['End Date Time'] = pd.to_datetime(data_2022_clean['End Date'], format=format)
data_2022_clean['End Date Time 2'] = pd.to_datetime(data_2022_clean['End date'], format=format2)

In [46]:
data_2022_clean

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
0,115967515.0,1260.0,15338.0,01/01/2022 23:13,310.0,"Black Prince Road, Vauxhall",01/01/2022 22:52,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 22:52:00,NaT,2022-01-01 23:13:00,NaT
1,116017034.0,720.0,19861.0,04/01/2022 19:08,11.0,"Brunswick Square, Bloomsbury",04/01/2022 18:56,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:56:00,NaT,2022-01-04 19:08:00,NaT
2,115895660.0,360.0,19666.0,29/12/2021 16:34,70.0,"Calshot Street , King's Cross",29/12/2021 16:28,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-29 16:28:00,NaT,2021-12-29 16:34:00,NaT
3,116016563.0,480.0,19861.0,04/01/2022 18:46,804.0,"Good's Way, King's Cross",04/01/2022 18:38,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:38:00,NaT,2022-01-04 18:46:00,NaT
4,116014412.0,1260.0,17235.0,04/01/2022 17:45,14.0,"Belgrove Street , King's Cross",04/01/2022 17:24,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 17:24:00,NaT,2022-01-04 17:45:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180379.0,...,001077,"Royal London Hospital, Whitechapel",40132.0,CLASSIC,15m 47s,947338.0,NaT,2022-09-10 00:00:00,NaT,2022-09-10 00:16:00
11532801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180380.0,...,001190,"Kennington Lane Rail Bridge, Vauxhall",55479.0,CLASSIC,39m 58s,2398688.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:41:00
11532802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180381.0,...,001121,"Lexham Gardens, Kensington",58637.0,CLASSIC,1m 52s,112773.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:02:00
11532803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180382.0,...,200132,"Gaywood Street, Elephant & Castle",30110.0,CLASSIC,8m 11s,491762.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:09:00
11532804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125180375.0,...,200021,"Hermitage Court, Wapping",54228.0,CLASSIC,33m 37s,2017734.0,NaT,2022-09-10 00:00:00,NaT,2022-09-10 00:33:00

In [47]:
data_2022_clean.isnull().sum()

Rental Id               2602529
Duration                2602529
Bike Id                 2602529
End Date                2602529
EndStation Id           2914673
EndStation Name         2602529
Start Date              2602529
StartStation Id         2602529
StartStation Name       2602529
Number                  8930276
Start date              8930276
Start station number    8930276
Start station           8930276
End date                8930276
End station number      8930276
End station             8930276
Bike number             8930276
Bike model              8930276
Total duration          8930276
Total duration (ms)     8930276
Start Date Time         2602529
Start Date Time 2       8930276
End Date Time           2602529
End Date Time 2         8930276
dtype: int64

In [48]:

data_2022_clean1 = data_2022_clean.copy()

In [49]:
# transfering values from one pandas column to another pandas column only for null rows
data_2022_clean1.loc[data_2022_clean1['Rental Id'].isnull(), 'Rental Id'] = data_2022_clean1['Number']
data_2022_clean1.loc[data_2022_clean1['Bike Id'].isnull(), 'Bike Id'] = data_2022_clean1['Bike number']
data_2022_clean1['End Date'] = data_2022_clean1['End Date Time']
data_2022_clean1['Start Date'] = data_2022_clean1['Start Date Time']

data_2022_clean1.loc[data_2022_clean1['End Date'].isnull(), 'End Date'] = data_2022_clean1['End Date Time 2']
data_2022_clean1.loc[data_2022_clean1['EndStation Name'].isnull(), 'EndStation Name'] = data_2022_clean1['End station']
data_2022_clean1.loc[data_2022_clean1['Start Date'].isnull(), 'Start Date'] = data_2022_clean1['Start Date Time 2']
data_2022_clean1.loc[data_2022_clean1['StartStation Name'].isnull(), 'StartStation Name'] = data_2022_clean1['Start station']

In [50]:
data_2022_clean1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Number,...,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Start Date Time,Start Date Time 2,End Date Time,End Date Time 2
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01 22:52:00,NaT,2022-01-01 23:13:00,NaT
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:56:00,NaT,2022-01-04 19:08:00,NaT
2,115895660.0,360.0,19666.0,2021-12-29 16:34:00,70.0,"Calshot Street , King's Cross",2021-12-29 16:28:00,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-12-29 16:28:00,NaT,2021-12-29 16:34:00,NaT
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 18:38:00,NaT,2022-01-04 18:46:00,NaT
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-04 17:24:00,NaT,2022-01-04 17:45:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,125180379.0,NaN,40132.0,2022-09-10 00:16:00,NaN,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,NaN,"Twig Folly Bridge, Mile End",125180379.0,...,001077,"Royal London Hospital, Whitechapel",40132.0,CLASSIC,15m 47s,947338.0,NaT,2022-09-10 00:00:00,NaT,2022-09-10 00:16:00
11532801,125180380.0,NaN,55479.0,2022-09-10 00:41:00,NaN,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:01:00,NaN,"Victoria & Albert Museum, South Kensington",125180380.0,...,001190,"Kennington Lane Rail Bridge, Vauxhall",55479.0,CLASSIC,39m 58s,2398688.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:41:00
11532802,125180381.0,NaN,58637.0,2022-09-10 00:02:00,NaN,"Lexham Gardens, Kensington",2022-09-10 00:01:00,NaN,"Wright's Lane, Kensington",125180381.0,...,001121,"Lexham Gardens, Kensington",58637.0,CLASSIC,1m 52s,112773.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:02:00
11532803,125180382.0,NaN,30110.0,2022-09-10 00:09:00,NaN,"Gaywood Street, Elephant & Castle",2022-09-10 00:01:00,NaN,"Cranmer Road, Stockwell",125180382.0,...,200132,"Gaywood Street, Elephant & Castle",30110.0,CLASSIC,8m 11s,491762.0,NaT,2022-09-10 00:01:00,NaT,2022-09-10 00:09:00
11532804,125180375.0,NaN,54228.0,2022-09-10 00:33:00,NaN,"Hermitage Court, Wapping",2022-09-10 00:00:00,NaN,"Hermitage Court, Wapping",125180375.0,...,200021,"Hermitage Court, Wapping",54228.0,CLASSIC,33m 37s,2017734.0,NaT,2022-09-10 00:00:00,NaT,2022-09-10 00:33:00

In [51]:
# adding hour and day columns  
data_2022_clean1['Hour']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.hour
data_2022_clean1['Day']= pd.to_datetime(data_2022_clean1['Start Date'], format = "%d/%m/%Y %H:%M").dt.weekday

In [52]:
# removing columns that are no longer needed
data_2022_clean_drop = data_2022_clean1.drop(['Number', 'Start date', 'Start station', 'End date', 'End station',
                                             'Bike number', 'Total duration', 'Total duration (ms)', 'Start Date Time', 'Start Date Time 2','End Date Time','End Date Time 2'], axis=1)

In [53]:
data_2022_clean_drop

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start station number,End station number,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,1
2,115895660.0,360.0,19666.0,2021-12-29 16:34:00,70.0,"Calshot Street , King's Cross",2021-12-29 16:28:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,16,2
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,1
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,125180379.0,NaN,40132.0,2022-09-10 00:16:00,NaN,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,NaN,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11532801,125180380.0,NaN,55479.0,2022-09-10 00:41:00,NaN,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:01:00,NaN,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11532802,125180381.0,NaN,58637.0,2022-09-10 00:02:00,NaN,"Lexham Gardens, Kensington",2022-09-10 00:01:00,NaN,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11532803,125180382.0,NaN,30110.0,2022-09-10 00:09:00,NaN,"Gaywood Street, Elephant & Castle",2022-09-10 00:01:00,NaN,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11532804,125180375.0,NaN,54228.0,2022-09-10 00:33:00,NaN,"Hermitage Court, Wapping",2022-09-10 00:00:00,NaN,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

checking the synthetic data 10 and 11th of September has transfer correctly

In [54]:
Sep_10_11_2022 = data_2022_clean_drop[(data_2022_clean_drop['Start Date'].dt.date == pd.to_datetime('2022-09-10').date()) |
            (data_2022_clean_drop['Start Date'].dt.date == pd.to_datetime('2022-09-11').date())]

In [55]:
Sep_10_11_2022

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Start station number,End station number,Bike model,Hour,Day
11485353,125230172.0,NaN,54170.0,2022-09-12 02:11:00,NaN,"Danvers Street, West Chelsea",2022-09-11 23:59:00,NaN,"Albert Embankment, Vauxhall",001059,200222,CLASSIC,23,6
11485354,125230173.0,NaN,50087.0,2022-09-12 00:11:00,NaN,"Westminster University, Marylebone",2022-09-11 23:59:00,NaN,"Frith Street, Soho",002660,001194,CLASSIC,23,6
11485355,125230174.0,NaN,54561.0,2022-09-12 00:14:00,NaN,"Felsham Road, Putney",2022-09-11 23:59:00,NaN,"Bramham Gardens, Earl's Court",001183,300019,CLASSIC,23,6
11485356,125230175.0,NaN,54324.0,2022-09-12 00:23:00,NaN,"Canada Water Station, Rotherhithe",2022-09-11 23:59:00,NaN,"Strata, Elephant & Castle",010624,300252,CLASSIC,23,6
11485357,125230176.0,NaN,22065.0,2022-09-12 00:23:00,NaN,"Canada Water Station, Rotherhithe",2022-09-11 23:59:00,NaN,"Strata, Elephant & Castle",010624,300252,CLASSIC,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,125180379.0,NaN,40132.0,2022-09-10 00:16:00,NaN,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,NaN,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11532801,125180380.0,NaN,55479.0,2022-09-10 00:41:00,NaN,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:01:00,NaN,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11532802,125180381.0,NaN,58637.0,2022-09-10 00:02:00,NaN,"Lexham Gardens, Kensington",2022-09-10 00:01:00,NaN,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11532803,125180382.0,NaN,30110.0,2022-09-10 00:09:00,NaN,"Gaywood Street, Elephant & Castle",2022-09-10 00:01:00,NaN,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11532804,125180375.0,NaN,54228.0,2022-09-10 00:33:00,NaN,"Hermitage Court, Wapping",2022-09-10 00:00:00,NaN,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

Looking good :)

In [56]:
data_2022_clean_drop.isnull().sum()

Rental Id                     0
Duration                2602529
Bike Id                       0
End Date                      0
EndStation Id           2914673
EndStation Name               0
Start Date                    0
StartStation Id         2602529
StartStation Name             0
Start station number    8930276
End station number      8930276
Bike model              8930276
Hour                          0
Day                           0
dtype: int64

In [57]:
# let's rename a couple of columns to make it clearer
# we will rename the Start and End station number column 
# these columns actually  refer to the station 'terminalName' as per https://tfl.gov.uk/tfl/syndication/feeds/cycle-hire/livecyclehireupdates.xml

data_2022_clean_drop = data_2022_clean_drop.rename(columns={'Start station number': 'SS Terminal Name', 'End station number': 'ES Terminal Name'})

In [58]:
# finally, 2022 filtering data - remove any rows that aren't from 2022
data_2022_clean_drop1 = data_2022_clean_drop[data_2022_clean_drop['Start Date'].dt.year == 2022]
print(data_2022_clean_drop1.shape)

(11466735, 14)

In [59]:
data_2022_clean_drop1

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:13:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 22:52:00,529.0,"Manresa Road, Chelsea",NaN,NaN,NaN,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:08:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 18:56:00,804.0,"Good's Way, King's Cross",NaN,NaN,NaN,18,1
3,116016563.0,480.0,19861.0,2022-01-04 18:46:00,804.0,"Good's Way, King's Cross",2022-01-04 18:38:00,57.0,"Guilford Street , Bloomsbury",NaN,NaN,NaN,18,1
4,116014412.0,1260.0,17235.0,2022-01-04 17:45:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:24:00,297.0,"Geraldine Street, Elephant & Castle",NaN,NaN,NaN,17,1
5,116013350.0,480.0,13790.0,2022-01-04 16:50:00,252.0,"Jubilee Gardens, South Bank",2022-01-04 16:42:00,310.0,"Black Prince Road, Vauxhall",NaN,NaN,NaN,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11532800,125180379.0,NaN,40132.0,2022-09-10 00:16:00,NaN,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,NaN,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11532801,125180380.0,NaN,55479.0,2022-09-10 00:41:00,NaN,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:01:00,NaN,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11532802,125180381.0,NaN,58637.0,2022-09-10 00:02:00,NaN,"Lexham Gardens, Kensington",2022-09-10 00:01:00,NaN,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11532803,125180382.0,NaN,30110.0,2022-09-10 00:09:00,NaN,"Gaywood Street, Elephant & Castle",2022-09-10 00:01:00,NaN,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11532804,125180375.0,NaN,54228.0,2022-09-10 00:33:00,NaN,"Hermitage Court, Wapping",2022-09-10 00:00:00,NaN,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

In [60]:
bike_data_2022 = data_2022_clean_drop1.copy()

### Before uploading to a postgres database, lets remove nonsense/improper docking staitons from before dataframes
- Nonsense dockign stations, such as mechanics were identified using degree centrality. Nonsnese docking stations had low degree scored as journey departures would tend to start and end in the same location. For example, bikes going on test rides


2019 improper station:
- 'Pop Up Dock 1' 

2020 improper stations:
- none 

2022 improper stations:
- 'One London'
- 'Mechanical Workshop Clapham'
- 'Mechanical Workshop Penton'

2023 improper stations:
- 'One London'
- 'Mechanical Workshop Clapham'
- 'Mechanical Workshop Penton'

In [61]:
bike_data_2019

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
12,83262236,540,6571,2019-01-01 13:13:00,783,"Monier Road, Hackney Wick",2019-01-01 13:04:00,812,"Here East North, Queen Elizabeth Olympic Park",13,1
28,83259622,480,13179,2019-01-01 08:45:00,719,"Victoria Park Road, Hackney Central",2019-01-01 08:37:00,722,"Finnis Street, Bethnal Green",8,1
67,83266845,660,3667,2019-01-01 16:40:00,79,"Arundel Street, Temple",2019-01-01 16:29:00,230,"Poured Lines, Bankside",16,1
71,83268124,540,8565,2019-01-01 18:19:00,819,"Belvedere Road 2, South Bank",2019-01-01 18:10:00,230,"Poured Lines, Bankside",18,1
83,83265146,660,5572,2019-01-01 15:25:00,334,"Concert Hall Approach 1, South Bank",2019-01-01 15:14:00,230,"Poured Lines, Bankside",15,1
...,...,...,...,...,...,...,...,...,...,...,...
10388406,93988500,1200,8454,2019-12-31 14:07:00,216,"Old Brompton Road, South Kensington",2019-12-31 13:47:00,303,"Albert Gate, Hyde Park",13,1
10388407,93973049,3960,11780,2019-12-30 14:56:00,303,"Albert Gate, Hyde Park",2019-12-30 13:50:00,303,"Albert Gate, Hyde Park",13,0
10388408,93989586,2820,2080,2019-12-31 15:40:00,303,"Albert Gate, Hyde Park",2019-12-31 14:53:00,303,"Albert Gate, Hyde Park",14,1
10388409,93969138,840,4499,2019-12-30 11:01:00,99,"Old Quebec Street, Marylebone",2019-12-30 10:47:00,303,"Albert Gate, Hyde Park",10,0
10388410,93974189,2040,2603,2019-12-30 15:08:00,348,"Grosvenor Square, Mayfair",2019-12-30 14:34:00,303,"Albert Gate, Hyde Park",14,0

In [62]:
improper_ds_removed_2019 = bike_data_2019.copy()

In [63]:
improper_ds_removed_2019 = bike_data_2019[bike_data_2019['StartStation Name'] != 'Pop Up Dock 1']
improper_ds_removed_2019_1 = improper_ds_removed_2019[improper_ds_removed_2019['EndStation Name'] != 'Pop Up Dock 1']

In [64]:
# storing the cleaned data in the variable 'bike_data_2019'
bike_data_2019 = improper_ds_removed_2019_1.copy()

2022

In [65]:
# Define the values to exclude
exclude_values = ['One London', 'Mechanical Workshop Clapham', 'Mechanical Workshop Penton']

# Filter the dataframe
improper_ds_removed_2022 = bike_data_2022[~bike_data_2022['StartStation Name'].isin(exclude_values)]
improper_ds_removed_2022_1 = improper_ds_removed_2022[~improper_ds_removed_2022['EndStation Name'].isin(exclude_values)]

In [66]:
# storing the cleaned data in the variable 'bike_data_2022'
bike_data_2022 = improper_ds_removed_2022_1.copy()

2023

In [67]:
# Define the values to exclude
exclude_values = ['One London', 'Mechanical Workshop Clapham', 'Mechanical Workshop Penton']

In [68]:
# Filter the dataframe
improper_ds_removed_2023 = bike_data_2023[~bike_data_2023['Start station'].isin(exclude_values)]
improper_ds_removed_2023_1 = improper_ds_removed_2023[~improper_ds_removed_2023['End station'].isin(exclude_values)]

In [69]:
# storing the cleaned data in the variable 'bike_data_2022'
bike_data_2023 = improper_ds_removed_2023_1.copy()

In [70]:
bike_data_2023

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Hour,Day
0,127702739,2023-01-01 23:58:00,3425,"Northington Street , Holborn",2023-01-02 00:04:00,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467,23,6
1,127702740,2023-01-01 23:58:00,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06:00,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880,23,6
2,127702737,2023-01-01 23:56:00,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05:00,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606,23,6
3,127702738,2023-01-01 23:56:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663,23,6
4,127702735,2023-01-01 23:55:00,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59:00,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895665,129456954,2023-03-27 00:02:00,200110,"Bishop's Bridge Road West, Bayswater",2023-03-27 00:06:00,200017,"Lancaster Gate , Bayswater",21256,CLASSIC,4m 5s,245341,0,0
1895666,129456948,2023-03-27 00:02:00,1100,"Strand, Strand",2023-03-27 00:28:00,300253,"Bermondsey Station, Bermondsey",41152,CLASSIC,26m 21s,1581989,0,0
1895667,129456945,2023-03-27 00:00:00,3489,"Broadwick Street, Soho",2023-03-27 00:12:00,1002,"Holy Trinity Brompton, Knightsbridge",60367,PBSC_EBIKE,12m 1s,721746,0,0
1895668,129456946,2023-03-27 00:00:00,990,"Cotton Garden Estate, Kennington",2023-03-27 00:04:00,10624,"Strata, Elephant & Castle",58401,CLASSIC,3m 19s,199591,0,0
1895669,129456947,2023-03-27 00:00:00,22166,"Albert Gardens, Stepney",2023-03-27 00:40:00,22166,"Albert Gardens, Stepney",59321,CLASSIC,40m 7s,2407020,0,0

### Storing the data in an PostgreSQL databse

In [71]:
# psycopg2 library installed to connect to a PostgreSQL database from Python

import psycopg2
from sqlalchemy import create_engine

In [33]:
# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

In [35]:
# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

In [21]:
# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bike_data_2019.to_sql('bike_data_2019_tb_v03', engine, if_exists='replace', index=False)

965

In [36]:
# save the DataFrame to the PostgreSQL database
bike_data_2020.to_sql('bike_data_2020_tb_v01', engine, if_exists='replace', index=False)

162

In [22]:
# save the DataFrame to the PostgreSQL database
bike_data_2022.to_sql('bike_data_2022_tb_v06', engine, if_exists='replace', index=False)

652

In [56]:
# save the DataFrame to the PostgreSQL database
bike_data_2023.to_sql('bike_data_2023_tb_v01', engine, if_exists='replace', index=False)

717

## Transforming the dataframes into a matrix, whereby the value of each cell is the number of events per hour

#### firstly, let's import the tables we just uploaded to psotgres and check the intereaction between python and postgres is working is it should be

In [72]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

engine = sqlalchemy.create_engine('postgresql://postgres:password123@localhost:5432/diss_data')

# create a connection to the database
conn = psycopg2.connect(database="diss_data", user="postgres", password="password123", host="localhost", port="5432")

In [73]:
# define the SQL query to retrieve the data from the table
sql_query = "SELECT * FROM bike_data_2019_tb_v03"

# use the read_sql function to read the table into a Pandas dataframe
df = pd.read_sql(sql_query, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\1784963779.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [74]:
# doing ther same for 2022
# define the SQL query to retrieve the data from the table
sql_query_2022 = "SELECT * FROM bike_data_2022_tb_v06"

# use the read_sql function to read the table into a Pandas dataframe
df_2022 = pd.read_sql(sql_query_2022, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\3202524295.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2022 = pd.read_sql(sql_query_2022, conn)

In [75]:
# doing ther same for 2023
# define the SQL query to retrieve the data from the table
sql_query_2023 = "SELECT * FROM bike_data_2023_tb_v01"

# use the read_sql function to read the table into a Pandas dataframe
df_2023 = pd.read_sql(sql_query_2023, conn)

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\338010200.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_2023 = pd.read_sql(sql_query_2023, conn)

In [76]:
#copying the dataframe
bike_data_2019 = df.copy()
bike_data_2022 = df_2022.copy()
bike_data_2023 = df_2023.copy()

### Now lets create a matrix for all the data in 2019

In [77]:
def add_station_names(station_names, df, namecolumn, idcolumn):
    """Given a DataFrame df that has df[namecolumn] listing names of stations
    and df[idcolumn] listing station ID numbers, add to the dictionary
    station_names all the names that each ID is attached to.

    """
    namemaps = (
        df[[idcolumn, namecolumn]]
        .groupby(idcolumn)
        .aggregate(lambda x: x.unique())
    )
    for number, names in namemaps.iterrows():
        current_names = station_names.get(number, set())
        # The following two lines are a stupid dance around the annoying fact
        # that pd.unique sometimes returns a single value, sometimes a numpy
        # array of values, but since the single value is a string, it too is an
        # iterable.
        vals = names[0]
        new_names = set([vals]) if type(vals) == str else set(vals)
        current_names.update(new_names)
        station_names[number] = current_names

In [78]:
def clean_datetime_column(df, colname, roundto="H"):
    """Parse df[colname] from strings to datetime objects, and round the times
    to the nearest hour. 
    """

    format = "%d/%m/%Y %H:%M"
    df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
    df.loc[:, colname] = df[colname].dt.round(roundto)

    return df

In [79]:
def compute_single_events(df, which):
    """Read from df all the events, either departures or arrivals depending on
    whether `which` is "Start" or "End", and collect them in a DataFrame that
    lists event counts per station and time.
    """
    stationcol = "{}Station Id".format(which)
    datecol = "{} Date".format(which)
    events = (
        df.rename(columns={stationcol: "Station", datecol: "Date"})
        .groupby(["Date", "Station"])
        .size()
        .unstack("Station")
    )
    return events

In [80]:
def compute_both_events(df):
    """Read from df all the events, both arrivals and departures, and collect
    them in a DataFrame that lists event counts per station and time.
    """
    arrivals = compute_single_events(df, "End")
    departures = compute_single_events(df, "Start")
    both = (
        pd.concat(
            [arrivals, departures], keys=["Arrivals", "Departures"], axis=1
        )
        .reorder_levels([1, 0], axis=1)
        .fillna(0.0)
    )
    return both

In [81]:
station_allnames = {}
add_station_names(station_allnames, bike_data_2019, "EndStation Name", "EndStation Id")
add_station_names(station_allnames, bike_data_2019, "StartStation Name", "StartStation Id")
#add_station_names(station_allnames, bike_data_2019, "EndStation Name", "EndStation Name")
#add_station_names(station_allnames, bike_data_2019, "StartStation Name", "StartStation Name")

station_allnames_newdic = {key: value.pop() for key, value in station_allnames.items()}

print(station_allnames_newdic)

{1: 'River Street , Clerkenwell', 2: 'Phillimore Gardens, Kensington', 3: 'Christopher Street, Liverpool Street', 4: "St. Chad's Street, King's Cross", 5: 'Sedding Street, Sloane Square', 6: 'Broadcasting House, Marylebone', 7: "Charlbert Street, St. John's Wood", 8: 'Maida Vale, Maida Vale', 9: 'New Globe Walk, Bankside', 10: 'Park Street, Bankside', 11: 'Brunswick Square, Bloomsbury', 12: 'Malet Street, Bloomsbury', 13: 'Scala Street, Fitzrovia', 14: "Belgrove Street , King's Cross", 15: 'Great Russell Street, Bloomsbury', 16: 'Cartwright Gardens , Bloomsbury', 17: 'Hatton Wall, Holborn', 18: 'Drury Lane, Covent Garden', 19: 'Taviton Street, Bloomsbury', 20: 'Drummond Street , Euston', 21: 'Hampstead Road (Cartmel), Euston', 22: 'Northington Street , Holborn', 23: 'Red Lion Square, Holborn', 24: 'British Museum, Bloomsbury', 25: 'Doric Way , Somers Town', 26: 'Ampton Street , Clerkenwell', 27: 'Bouverie Street, Temple', 28: 'Bolsover Street, Fitzrovia', 29: 'Hereford Road, Bayswater', 30: 'Windsor Terrace, Hoxton', 31: 'Fanshaw Street, Hoxton', 32: 'Leonard Circus , Shoreditch', 33: 'Central House, Aldgate', 34: "Pancras Road, King's Cross", 36: 'De Vere Gardens, Kensington', 37: "Penywern Road, Earl's Court", 38: 'Abingdon Villas, Kensington', 39: 'Shoreditch High Street, Shoreditch', 40: 'Commercial Street, Shoreditch', 41: 'Pindar Street, Liverpool Street', 42: 'Wenlock Road , Hoxton', 43: 'Crawford Street, Marylebone', 44: 'Bruton Street, Mayfair', 45: 'Boston Place, Marylebone', 46: 'Nesham Street, Wapping', 47: 'Warwick Avenue Station, Maida Vale', 48: "Godliman Street, St. Paul's", 49: 'Curzon Street, Mayfair', 50: 'East Road, Hoxton', 51: 'Finsbury Library , Finsbury', 52: "Roscoe Street, St. Luke's", 53: 'Grafton Street, Mayfair', 54: 'Golden Lane, Barbican', 55: 'Finsbury Circus, Liverpool Street', 56: 'Paddington Street, Marylebone', 57: 'Guilford Street , Bloomsbury', 58: 'New Inn Yard, Shoreditch', 60: "Lisson Grove, St. John's Wood", 61: 'Great Dover Street, The Borough', 62: 'Cotton Garden Estate, Kennington', 63: 'Murray Grove , Hoxton', 64: 'William IV Street, Strand', 65: 'Gower Place , Euston', 66: 'Holborn Circus, Holborn', 67: 'Hatton Garden, Holborn', 68: "Theobald's Road , Holborn", 69: 'Euston Road, Euston', 70: "Calshot Street , King's Cross", 71: "Newgate Street , St. Paul's", 72: 'Farringdon Lane, Clerkenwell', 73: "Old Street Station, St. Luke's", 74: 'Vauxhall Cross, Vauxhall', 75: 'Torrens Street, Angel', 76: "Longford Street, The Regent's Park", 77: 'Russell Square Station, Bloomsbury', 78: 'Sadlers Sports Centre, Finsbury', 79: 'Arundel Street, Temple', 80: 'Webber Street , Southwark', 81: 'Great Titchfield Street, Fitzrovia', 82: 'Chancery Lane, Holborn', 83: 'Panton Street, West End', 84: 'Breams Buildings, Holborn', 85: 'Tanner Street, Bermondsey', 86: 'Sancroft Street, Vauxhall', 87: 'Devonshire Square, Liverpool Street', 88: 'Bayley Street , Bloomsbury', 89: 'Tavistock Place, Bloomsbury', 90: 'Harrington Square 1, Camden Town', 91: 'Walnut Tree Walk, Vauxhall', 92: 'Borough Road, Elephant & Castle', 93: 'Cloudesley Road, Angel', 94: 'Bricklayers Arms, Borough', 95: 'Aldersgate Street, Barbican', 96: 'Falkirk Street, Hoxton', 97: 'Gloucester Road (North), Kensington', 98: 'Hampstead Road, Euston', 99: 'Old Quebec Street, Marylebone', 100: 'Albert Embankment, Vauxhall', 101: 'Queen Street 1, Bank', 102: 'Jewry Street, Aldgate', 103: 'Vicarage Gate, Kensington', 104: 'Crosswall, Tower', 105: 'Westbourne Grove, Bayswater', 106: 'Woodstock Street, Mayfair', 107: "Finsbury Leisure Centre, St. Luke's", 108: 'Abbey Orchard Street, Westminster', 109: 'Soho Square , Soho', 110: "Wellington Road, St. John's Wood", 111: 'Park Lane , Hyde Park', 112: 'Stonecutter Street, Holborn', 113: 'Gloucester Road (Central), South Kensington', 114: "Park Road (Baker Street), The Regent's Park", 115: 'Braham Street, Aldgate', 116: 'Little Argyll Street, West End', 117: 'Lollard Street, Vauxhall', 118: 'Rochester Row, Westminster', 119: "Bath Street, St. Luke's", 120: 'The Guildhall, Guildhall', 121: 'Baker Street, Marylebone', 122: 'Norton Folgate, Liverpool Street', 123: 'St. John Street, Finsbury', 124: 'Eaton Square, Belgravia', 125: 'Borough High Street, The Borough', 126: 'Museum of London, Barbican', 127: 'Wood Street, Guildhall', 128: "Emperor's Gate, South Kensington", 129: 'Golden Square, Soho', 130: 'Tower Gardens , Tower', 131: 'Eversholt Street , Camden Town', 132: 'Bethnal Green Road, Shoreditch', 133: 'Derry Street, Kensington', 134: 'Wapping High Street, Wapping', 135: 'Clerkenwell Green, Clerkenwell', 136: "Queen Victoria Street, St. Paul's", 138: 'Green Street, Mayfair', 139: 'Lambeth Road, Vauxhall', 140: 'Finsbury Square , Moorgate', 141: 'Chapel Place, Marylebone', 142: "West Cromwell Road, Earl's Court", 143: 'Pont Street, Knightsbridge', 144: 'Kennington Cross, Kennington', 145: 'Ilchester Place, Kensington', 146: 'Vauxhall Bridge , Pimlico', 148: 'Tachbrook Street, Victoria', 149: 'Kennington Road Post Office, Oval', 150: 'Holy Trinity Brompton, Knightsbridge', 151: 'Chepstow Villas, Notting Hill', 152: 'Hampton Street, Walworth', 153: 'Bayswater Road, Hyde Park', 154: 'Waterloo Station 3, Waterloo', 155: 'Lexham Gardens, Kensington', 156: 'New Kent Road, The Borough', 157: "Wright's Lane, Kensington", 158: "Trebovir Road, Earl's Court", 159: 'Great Marlborough Street, Soho', 160: "Waterloo Place, St. James's", 161: 'Guildhouse Street, Victoria', 162: 'Southampton Place, Holborn', 163: 'Sloane Avenue, Knightsbridge', 164: 'Cleveland Gardens, Bayswater', 165: 'Orsett Terrace, Bayswater', 166: 'Seville Street, Knightsbridge', 167: 'Eccleston Place, Victoria', 168: 'Argyll Road, Kensington', 169: 'Porchester Place, Paddington', 170: 'Hardwick Street, Clerkenwell', 171: "Collingham Gardens, Earl's Court", 172: 'Sumner Place, South Kensington', 173: 'Waterloo Road, South Bank', 174: 'Strand, Strand', 175: 'Worship Street, Shoreditch', 176: 'Gloucester Terrace, Bayswater', 177: 'Ashley Place, Victoria', 178: 'Warwick Square, Pimlico', 180: 'North Audley Street, Mayfair', 181: 'Belgrave Square, Belgravia', 182: 'Bell Street , Marylebone', 183: 'Riverlight North, Nine Elms', 184: 'Portland Place, Marylebone', 185: 'Alderney Street, Pimlico', 186: 'South Wharf Road, Paddington', 187: "Queen's Gate (South), South Kensington", 188: 'Nutford Place, Marylebone', 189: 'Claremont Square, Angel', 190: 'Rampayne Street, Pimlico', 191: 'Hyde Park Corner, Hyde Park', 192: 'Wardour Street, Soho', 193: 'Bankside Mix, Bankside', 194: 'Hop Exchange, The Borough', 195: 'Milroy Walk, South Bank', 196: 'Union Street, The Borough', 197: 'Stamford Street, South Bank', 199: 'Great Tower Street, Monument', 200: 'LMU Commercial Road, Whitechapel', 201: 'Dorset Square, Marylebone', 202: 'Leman Street, Aldgate', 203: 'West Smithfield Rotunda, Farringdon', 204: 'Margery Street, Clerkenwell', 206: 'New Road 1 , Whitechapel', 207: 'Grosvenor Crescent, Belgravia', 208: 'Mallory Street, Marylebone', 209: 'Denyer Street, Knightsbridge', 210: 'Hinde Street, Marylebone', 211: 'Cadogan Place, Knightsbridge', 212: 'Campden Hill Road, Notting Hill', 213: 'Wellington Arch, Hyde Park', 214: 'Endsleigh Gardens, Euston', 215: 'Moorfields, Moorgate', 216: 'Old Brompton Road, South Kensington', 217: 'Wormwood Street, Liverpool Street', 218: "St. Luke's Church, Chelsea", 219: "Bramham Gardens, Earl's Court", 220: 'Chelsea Green, Chelsea', 221: 'Horseferry Road, Westminster', 222: 'Knightsbridge, Hyde Park', 223: 'Rodney Road , Walworth', 224: 'Queensway, Westminster', 225: 'Notting Hill Gate Station, Notting Hill', 226: 'Charles II Street, West End', 227: 'Great Percy Street, Clerkenwell', 228: "St. James's Square, St. James's", 229: 'Whitehall Place, Strand', 230: 'Poured Lines, Bankside', 231: "Queen's Gate (Central), South Kensington", 232: 'Carey Street, Holborn', 233: 'Pall Mall East, West End', 234: 'Liverpool Road (N1 Centre), Angel', 235: 'Kennington Road  , Vauxhall', 236: 'Fashion Street, Whitechapel', 237: 'Dock Street, Wapping', 238: 'Frampton Street, Paddington', 239: 'Warren Street Station, Euston', 240: 'Colombo Street, Southwark', 242: 'Beaumont Street, Marylebone', 243: 'Gloucester Street, Pimlico', 244: 'Earnshaw Street , Covent Garden', 245: 'Grosvenor Road, Pimlico', 246: 'Berry Street, Clerkenwell', 247: "St. John's Wood Church, The Regent's Park", 248: 'Triangle Car Park, Hyde Park', 249: 'Harper Road, The Borough', 250: 'Royal Avenue 1, Chelsea', 251: 'Brushfield Street, Liverpool Street', 252: 'Jubilee Gardens, South Bank', 253: 'Shoreditch Park, Hoxton', 254: 'Chadwell Street, Angel', 255: 'Clifton Road, Maida Vale', 256: 'Houghton Street, Strand', 257: 'Westminster University, Marylebone', 258: 'Kensington Gore, Knightsbridge', 259: 'Bourne Street, Belgravia', 260: 'Broadwick Street, Soho', 261: 'Princes Square, Bayswater', 262: 'LSBU (Borough Road), Elephant & Castle', 263: 'St. Mary Axe, Aldgate', 264: 'Tysoe Street, Clerkenwell', 265: 'Southwick Street, Paddington', 266: "Queen's Gate (North), Kensington", 267: 'Regency Street, Westminster', 268: 'Belgrave Road, Victoria', 269: 'Empire Square, The Borough', 270: 'Kennington Lane Rail Bridge, Vauxhall', 271: "London Zoo,  The Regent's Park", 272: 'Baylis Road, Waterloo', 273: 'Belvedere Road 1, South Bank', 274: 'Warwick Road, Olympia', 275: 'Barbican Centre, Barbican', 276: 'Lower Thames Street, Monument', 277: 'Kensington Church Street, Kensington', 278: 'Tooley Street, Bermondsey', 279: 'North Wharf Road, Paddington', 280: 'Royal Avenue 2, Chelsea', 281: 'Smith Square, Westminster', 282: 'Royal London Hospital, Whitechapel', 283: 'Kingsway, Covent Garden', 284: 'Lambeth North Station, Waterloo', 286: "St. John's Wood Road, St. John's Wood", 287: 'Bedford Way, Bloomsbury', 288: 'Elizabeth Bridge, Victoria', 289: 'South Audley Street, Mayfair', 290: "St Mary's Hospital, Westminster", 291: 'Claverton Street, Pimlico', 292: 'Montpelier Street, Knightsbridge', 293: 'Kensington Olympia Station, Olympia', 294: "St. George's Square, Pimlico", 295: 'Swan Street, The Borough', 296: "Knaresborough Place, Earl's Court", 297: 'Geraldine Street, Elephant & Castle', 298: 'Curlew Street, Shad Thames', 299: 'Vincent Square, Westminster', 300: 'Serpentine Car Park, Hyde Park', 301: 'Marylebone Lane, Marylebone', 302: 'Putney Pier, Wandsworth', 303: 'Albert Gate, Hyde Park', 305: 'Kennington Lane Tesco, Vauxhall', 306: 'Rathbone Street, Fitzrovia', 307: 'Black Lion Gate, Kensington Gardens', 308: 'Long Lane , Bermondsey', 309: 'Embankment (Savoy), Strand', 310: 'Black Prince Road, Vauxhall', 311: 'Foley Street, Fitzrovia', 312: "Grove End Road, St. John's Wood", 313: 'Wells Street, Fitzrovia', 314: 'Tyers Gate, Bermondsey', 315: "The Tennis Courts, The Regent's Park", 316: 'Warwick Row, Westminster', 317: 'Dickens Square, Borough', 318: 'Sackville Street, Mayfair', 319: "Baldwin Street, St. Luke's", 320: 'Queen Mother Sports Centre, Victoria', 321: 'Bermondsey Street, Bermondsey', 322: 'Palissy Street, Shoreditch', 323: 'Clifton Street, Shoreditch', 324: 'Ontario Street, Elephant & Castle', 325: "St. Martin's Street, West End", 326: 'Graham Street, Angel', 327: 'New North Road 1, Hoxton', 328: 'New North Road 2, Hoxton', 329: "Prince Albert Road, The Regent's Park", 330: 'Eastbourne Mews, Paddington', 331: 'Bunhill Row, Moorgate', 332: "Nevern Place, Earl's Court", 333: 'Palace Gardens Terrace, Notting Hill', 334: 'Concert Hall Approach 1, South Bank', 335: 'Tavistock Street, Covent Garden', 336: 'Concert Hall Approach 2, South Bank', 337: 'Pembridge Villas, Notting Hill', 338: 'Wellington Street , Strand', 339: 'Risinghill Street, Angel', 340: 'Bank of England Museum, Bank', 341: 'Craven Street, Strand', 343: "London Zoo Car Park, The Regent's Park", 344: 'Goswell Road (City Uni), Finsbury', 345: 'Flood Street, Chelsea', 347: 'Lower Marsh, Waterloo', 348: 'Grosvenor Square, Mayfair', 349: 'St. George Street, Mayfair', 350: "Queen's Gate, Kensington Gardens", 351: 'Macclesfield Rd, St Lukes', 352: 'Vauxhall Street, Vauxhall', 353: 'Greycoat Street , Westminster', 354: 'Northumberland Avenue, Strand', 355: 'Oval Way, Vauxhall', 356: 'South Kensington Station, South Kensington', 357: 'Howland Street, Fitzrovia', 358: 'High Holborn , Covent Garden', 359: 'Butler Place, Westminster', 360: 'Howick Place, Westminster', 361: 'Waterloo Station 2, Waterloo', 362: 'Royal College Street, Camden Town', 363: "Lord's, St. John's Wood", 364: 'Alfred Place, Bloomsbury', 365: 'City Road, Angel', 366: 'Millennium Hotel, Mayfair', 367: 'Harrowby Street, Marylebone', 368: 'Harriet Street, Knightsbridge', 370: 'Paddington Green, Paddington', 371: 'King Edward Walk, Waterloo', 372: 'Sardinia Street, Holborn', 373: 'Prince Consort Road, Knightsbridge', 374: 'Waterloo Station 1, Waterloo', 375: 'Kensington Town Hall, Kensington', 376: 'Millbank Tower, Pimlico', 377: 'Waterloo Bridge, South Bank', 378: 'Natural History Museum, South Kensington', 379: 'Turquoise Island, Notting Hill', 380: 'Stanhope Gate, Mayfair', 381: 'Charlotte Street, Fitzrovia', 382: 'Farm Street, Mayfair', 383: 'Frith Street, Soho', 384: 'Marloes Road, Kensington', 386: 'Moor Street, Soho', 387: 'Fire Brigade Pier, Vauxhall', 388: 'Southampton Street, Strand', 389: 'Upper Grosvenor Street, Mayfair', 390: 'Buxton Street 1, Shoreditch', 392: 'Imperial College, Knightsbridge', 393: 'Snow Hill, Farringdon', 394: "Aberdeen Place, St. John's Wood", 395: 'Cadogan Gardens, Chelsea', 396: 'Shouldham Street, Marylebone', 397: 'Devonshire Terrace, Bayswater', 398: 'Holland Park, Kensington', 399: 'Brick Lane Market, Shoreditch', 400: 'George Street, Marylebone', 401: 'Columbia Road, Shoreditch', 402: 'Penfold Street, Marylebone', 403: 'George Place Mews, Marylebone', 404: 'Palace Gate, Kensington Gardens', 405: 'Gloucester Road Station, South Kensington', 408: 'Paddington Green Police Station, Paddington', 409: 'Strata, Elephant & Castle', 410: 'Edgware Road Station, Marylebone', 411: 'Walworth Road, Elephant & Castle', 412: 'Cleaver Street, Kennington', 419: 'Chelsea Bridge, Pimlico', 420: 'Southwark Station 1, Southwark', 421: 'Southwark Station 2, Southwark', 423: 'Eaton Square (South), Belgravia', 424: 'Ebury Bridge, Pimlico', 425: 'Harrington Square 2, Camden Town', 426: 'Vincent Street, Pimlico', 427: 'Cheapside, Bank', 428: 'Exhibition Road, Knightsbridge', 430: 'South Parade, Chelsea', 431: "Crinan Street, King's Cross", 432: 'Exhibition Road Museums, South Kensington', 433: 'Wren Street, Holborn', 435: 'Kennington Station, Kennington', 436: 'Red Lion Street, Holborn', 437: 'Vauxhall Walk, Vauxhall', 439: "Killick Street, King's Cross", 440: 'Kennington Oval, Oval', 441: 'Sail Street, Vauxhall', 442: 'Walmer Road, Avondale', 443: 'Philpot Street, Whitechapel', 444: 'Bethnal Green Garden, Bethnal Green', 445: 'Cheshire Street, Bethnal Green', 446: 'York Hall, Bethnal Green', 447: 'Jubilee Crescent, Cubitt Town', 448: "Fisherman's Walk West, Canary Wharf", 449: 'Shadwell Station, Shadwell', 450: 'Jubilee Street, Stepney', 451: 'Hermitage Court, Wapping', 452: "St. Katharine's Way, Tower", 453: 'Garnet Street, Shadwell', 454: 'Napier Avenue, Millwall', 455: 'East Ferry Road, Cubitt Town', 456: 'Parkway, Camden Town', 457: 'Castlehaven Road, Camden Town', 458: 'Wapping Lane, Wapping', 459: 'Gunmakers Lane, Old Ford', 460: 'Burdett Road, Mile End', 461: 'Aston Street, Stepney', 462: 'Bonny Street, Camden Town', 463: 'Thurtle road, Haggerston', 464: 'St. Mary & St. Michael Church, Stepney', 465: 'Pitfield Street North,Hoxton', 466: 'Whiston Road, Haggerston', 467: 'Southern Grove, Bow', 468: 'Cantrell Road, Bow', 469: 'Lindfield Street, Poplar', 470: 'Mostyn Grove, Bow', 471: 'Hewison Street, Old Ford', 472: 'Malmesbury Road, Bow', 473: 'Millharbour, Millwall', 474: 'Castalia Square, Cubitt Town', 475: 'Lightermans Road, Millwall', 476: 'Stebondale Street, Cubitt Town', 477: 'Spindrift Avenue, Millwall', 478: 'Stepney Green Station, Stepney', 479: 'Pott Street, Bethnal Green', 480: 'Flamborough Street, Limehouse', 481: 'Saunders Ness Road, Cubitt Town', 483: 'Albert Gardens, Stepney', 484: 'Bromley High Street, Bow', 485: 'Old Ford Road, Bethnal Green', 486: 'Granby Street, Shoreditch', 487: 'Canton Street, Poplar', 488: 'Reardon Street, Wapping', 489: 'Christian Street, Whitechapel', 490: 'Pennington Street, Wapping', 491: "Queen Mary's, Mile End", 492: 'The Green Bridge, Mile End', 494: 'South Quay East, Canary Wharf', 495: 'Bow Church Station, Bow', 496: 'Devons Road, Bow', 497: 'Merchant Street, Bow', 498: 'Bow Road Station, Bow', 499: 'Furze Green, Bow', 500: 'Ansell House, Stepney', 501: 'Cephas Street, Bethnal Green', 502: 'Bonner Gate, Victoria Park', 503: 'Cleveland Way, Stepney', 504: "St. John's Park, Cubitt Town", 505: 'Ackroyd Drive, Bow', 506: 'Bell Lane, Liverpool Street', 507: 'Clarkson Street, Bethnal Green', 508: 'Fournier Street, Whitechapel', 509: 'Fore Street, Guildhall', 510: 'Westferry DLR, Limehouse', 511: 'Sutton Street, Shadwell', 512: "Pritchard's Road, Bethnal Green", 513: 'Watney Market, Stepney', 514: 'Portman Square, Marylebone', 515: 'Russell Gardens, Olympia', 516: 'Chrisp Street Market, Poplar', 517: 'Ford Road, Old Ford', 518: 'Antill Road, Mile End', 519: 'Teviot Street, Poplar', 520: 'Bancroft Road, Bethnal Green', 521: 'Driffield Road, Old Ford', 522: 'Clinton Road, Mile End', 523: 'Langdon Park, Poplar', 524: 'Lancaster Gate , Bayswater', 526: 'Lancaster Drive, Blackwall', 527: 'Hansard Mews, Holland Park', 528: 'Clarges Street, Mayfair', 529: 'Manresa Road, Chelsea', 530: 'Newby Place, Poplar', 531: 'Twig Folly Bridge, Mile End', 532: 'Jubilee Plaza, Canary Wharf', 533: 'Wellington Row, Bethnal Green', 534: "Goldsmith's Row, Haggerston", 535: 'Gloucester Avenue, Camden Town', 536: 'Queensbridge Road, Haggerston', 537: 'Old Montague Street, Whitechapel', 538: 'Naval Row, Blackwall', 539: 'Hoxton Station, Hoxton', 540: "Albany Street, The Regent's Park", 541: 'Green Park Station, Mayfair', 542: 'Salmon Lane, Limehouse', 543: 'Lansdowne Walk, Ladbroke Grove', 544: 'Percival Street, Finsbury', 545: 'Arlington Road, Camden Town', 546: 'New Fetter Lane, Holborn', 547: 'East India DLR, Blackwall', 548: 'Westminster Bridge Road, Elephant & Castle', 549: 'Gaywood  Street, Elephant & Castle', 550: 'Harford Street, Mile End', 551: 'Import Dock, Canary Wharf', 552: 'Watney Street, Shadwell', 553: "Regent's Row , Haggerston ", 554: 'Aberfeldy Street, Poplar', 556: 'Heron Quays DLR, Canary Wharf', 557: 'King Edward Street, St Pauls', 558: 'Page Street, Westminster', 559: 'Abbotsbury Road, Holland Park', 560: 'Ladbroke Grove Central, Ladbroke Grove', 561: 'Rectory Square, Stepney', 562: 'Bury Place, Holborn', 563: "Preston's Road, Cubitt Town", 564: 'Somerset House, Strand', 565: 'Selby Street, Whitechapel', 566: 'Westfield Ariel Way, White City', 568: "Bishop's Bridge Road West, Bayswater", 569: 'Pitfield Street Central, Hoxton', 570: 'Upper Bank Street, Canary Wharf', 571: "Westfield Southern Terrace ,Shepherd's Bush", 572: 'Greenland Road, Camden Town', 573: 'Limerston Street, West Chelsea', 574: 'Eagle Wharf Road, Hoxton', 576: 'Alpha Grove, Millwall', 577: 'Globe Town Market, Bethnal Green', 578: 'Hollybush Gardens, Bethnal Green', 579: 'Queen Street 2, Bank', 580: 'Doddington Grove, Kennington', 581: 'New Cavendish Street, Marylebone', 583: 'Abingdon Green, Westminster', 584: 'Ilchester Gardens, Bayswater', 586: 'Mudchute DLR, Cubitt Town', 587: 'Monument Street, Monument', 588: 'Hoxton Street, Hoxton', 589: 'Drayton Gardens, West Chelsea', 590: "Greenberry Street, St.John's Wood", 591: "Westfield Library Corner, Shepherd's Bush", 592: "Bishop's Bridge Road East, Bayswater", 593: "Northdown Street, King's Cross", 594: 'Kingsway Southbound, Strand', 595: 'Hammersmith Road, Hammersmith', 596: "Parson's Green , Parson's Green", 597: 'Fulham Park Road, Fulham', 598: 'Southerton Road, Hammersmith', 599

In [82]:
#clean start and end dates
bd_data_2019_clean1 = clean_datetime_column(bike_data_2019, "Start Date", roundto="H")
bd_data_2019_clean2 = clean_datetime_column(bd_data_2019_clean1, "End Date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [83]:
#clean start and end dates
bd_data_2022_clean1 = clean_datetime_column(bike_data_2022, "Start Date", roundto="H")
bd_data_2022_clean2 = clean_datetime_column(bd_data_2022_clean1, "End Date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [84]:
bd_data_2019_clean2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,Hour,Day
0,83262236,540,6571,2019-01-01 13:00:00,783,"Monier Road, Hackney Wick",2019-01-01 13:00:00,812,"Here East North, Queen Elizabeth Olympic Park",13,1
1,83259622,480,13179,2019-01-01 09:00:00,719,"Victoria Park Road, Hackney Central",2019-01-01 09:00:00,722,"Finnis Street, Bethnal Green",8,1
2,83266845,660,3667,2019-01-01 17:00:00,79,"Arundel Street, Temple",2019-01-01 16:00:00,230,"Poured Lines, Bankside",16,1
3,83268124,540,8565,2019-01-01 18:00:00,819,"Belvedere Road 2, South Bank",2019-01-01 18:00:00,230,"Poured Lines, Bankside",18,1
4,83265146,660,5572,2019-01-01 15:00:00,334,"Concert Hall Approach 1, South Bank",2019-01-01 15:00:00,230,"Poured Lines, Bankside",15,1
...,...,...,...,...,...,...,...,...,...,...,...
10309960,93988500,1200,8454,2019-12-31 14:00:00,216,"Old Brompton Road, South Kensington",2019-12-31 14:00:00,303,"Albert Gate, Hyde Park",13,1
10309961,93973049,3960,11780,2019-12-30 15:00:00,303,"Albert Gate, Hyde Park",2019-12-30 14:00:00,303,"Albert Gate, Hyde Park",13,0
10309962,93989586,2820,2080,2019-12-31 16:00:00,303,"Albert Gate, Hyde Park",2019-12-31 15:00:00,303,"Albert Gate, Hyde Park",14,1
10309963,93969138,840,4499,2019-12-30 11:00:00,99,"Old Quebec Street, Marylebone",2019-12-30 11:00:00,303,"Albert Gate, Hyde Park",10,0
10309964,93974189,2040,2603,2019-12-30 15:00:00,348,"Grosvenor Square, Mayfair",2019-12-30 15:00:00,303,"Albert Gate, Hyde Park",14,0

In [85]:
events_data_2019 = compute_both_events(bd_data_2019_clean2)

In [86]:
# Finally rename the columns according to the chosen names for stations.
events_2019 = events_data_2019.rename(mapper=station_allnames_newdic, axis=1, level=0)
events_2019 = events_2019.sort_index(axis=1, level=0)

In [87]:
events_2019

Station             Abbey Orchard Street, Westminster             \
                                             Arrivals Departures
Date
2019-01-01 00:00:00                               2.0        7.0
2019-01-01 01:00:00                               6.0       22.0
2019-01-01 02:00:00                               1.0        0.0
2019-01-01 03:00:00                               0.0        2.0
2019-01-01 04:00:00                               3.0        4.0
...                                               ...        ...
2019-12-31 20:00:00                               7.0        0.0
2019-12-31 21:00:00                               0.0        0.0
2019-12-31 22:00:00                               7.0        4.0
2019-12-31 23:00:00                               7.0        1.0
2020-01-01 00:00:00                               7.0        0.0

Station             Abbotsbury Road, Holland Park             \
                                         Arrivals Departures
Date
2019-01-01 00:00:00                           0.0        0.0
2019-01-01 01:00:00                           0.0        0.0
2019-01-01 02:00:00                           0.0        0.0
2019-01-01 03:00:00                           0.0        0.0
2019-01-01 04:00:00                           0.0        0.0
...                                           ...        ...
2019-12-31 20:00:00                           0.0        0.0
2019-12-31 21:00:00                           0.0        0.0
2019-12-31 22:00:00                           0.0        0.0
2019-12-31 23:00:00                           0.0        0.0
2020-01-01 00:00:00                           0.0        0.0

Station             Aberdeen Place, St. John's Wood             \
                                           Arrivals Departures
Date
2019-01-01 00:00:00                             0.0        0.0
2019-01-01 01:00:00                             1.0        0.0
2019-01-01 02:00:00                             0.0        0.0
2019-01-01 03:00:00                             0.0        0.0
2019-01-01 04:00:00                             0.0        0.0
...                                             ...        ...
2019-12-31 20:00:00                             0.0        0.0
2019-12-31 21:00:00                             0.0        0.0
2019-12-31 22:00:00                             0.0        0.0
2019-12-31 23:00:00                             0.0        0.0
2020-01-01 00:00:00                             0.0        0.0

Station             Aberfeldy Street, Poplar             \
                                    Arrivals Departures
Date
2019-01-01 00:00:00                      0.0        0.0
2019-01-01 01:00:00                      0.0        0.0
2019-01-01 02:00:00                      0.0        0.0
2019-01-01 03:00:00                      0.0        0.0
2019-01-01 04:00:00                      0.0        0.0
...                                      ...        ...
2019-12-31 20:00:00                      0.0        0.0
2019-12-31 21:00:00                      0.0        0.0
2019-12-31 22:00:00                      0.0        2.0
2019-12-31 23:00:00                      0.0        0.0
2020-01-01 00:00:00                      0.0        0.0

Station             Abingdon Green, Westminster             ...  \
                                       Arrivals Departures  ...
Date                                                        ...
2019-01-01 00:00:00                         0.0        5.0  ...
2019-01-01 01:00:00                         0.0        0.0  ...
2019-01-01 02:00:00                         1.0        2.0  ...
2019-01-01 03:00:00                         1.0        0.0  ...
2019-01-01 04:00:00                         0.0        1.0  ...
...                                         ...        ...  ...
2019-12-31 20:00:00                         0.0        0.0  ...
2019-12-31 21:00:00                         0.0        0.0  ...
2019-12-31 22:00:00                         0.0        0.0  ...
2019-12-31 23:00:00                         0.0        0.0  ...
2020-01-01 00:00:00                         0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2019-01-01 00:00:00                  0.0        0.0                       0.0
2019-01-01 01:00:00                  0.0        0.0                       2.0
2019-01-01 02:00:00                  2.0        0.0                       0.0
2019-01-01 03:00:00                  0.0        0.0                       4.0
2019-01-01 04:00:00                  3.0        0.0                       1.0
...                                  ...        ...                       ...
2019-12-31 20:00:00                  2.0        0.0                       1.0
2019-12-31 21:00:00                  1.0        0.0                       0.0
2019-12-31 22:00:00                  0.0        0.0                       0.0
2019-12-31 23:00:00                  1.0        2.0                       0.0
2020-01-01 00:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2019-01-01 00:00:00        0.0                   0.0        0.0
2019-01-01 01:00:00        2.0                   0.0        0.0
2019-01-01 02:00:00        2.0                   0.0        0.0
2019-01-01 03:00:00        3.0                   0.0        0.0
2019-01-01 04:00:00        5.0                   0.0        0.0
...                        ...                   ...        ...
2019-12-31 20:00:00        0.0                   1.0        0.0
2019-12-31 21:00:00        1.0                   1.0        0.0
2019-12-31 22:00:00        2.0                   0.0        0.0
2019-12-31 23:00:00        0.0                   0.0        0.0
2020-01-01 00:00:00        0.0                   0.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2019-01-01 00:00:00                      0.0        0.0                   0.0
2019-01-01 01:00:00                      2.0        0.0                   3.0
2019-01-01 02:00:00                      2.0        2.0                   2.0
2019-01-01 03:00:00                      0.0        4.0                   0.0
2019-01-01 04:00:00                      0.0        2.0                   0.0
...                                      ...        ...                   ...
2019-12-31 20:00:00                      0.0        1.0                   0.0
2019-12-31 21:00:00                      2.0        3.0                   0.0
2019-12-31 22:00:00                      2.0        0.0                   0.0
2019-12-31 23:00:00                      1.0        0.0                   0.0
2020-01-01 00:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2019-01-01 00:00:00        0.0
2019-01-01 01:00:00        0.0
2019-01-01 02:00:00        1.0
2019-01-01 03:00:00        3.0
2019-01-01 04:00:00        3.0
...                        ...
2019-12-31 20:00:00        2.0
2019-12-31 21:00:00        0.0
2019-12-31 22:00:00        0.0
2019-12-31 23:00:00        0.0
2020-01-01 00:00:00        0.0

[8760 rows x 1592 columns]

### 2020 matrix

In [88]:
station_allnames = {}
add_station_names(station_allnames, bike_data_2020, "EndStation Name", "EndStation Id")
add_station_names(station_allnames, bike_data_2020, "StartStation Name", "StartStation Id")

station_allnames_newdic = {key: value.pop() for key, value in station_allnames.items()}

print(station_allnames_newdic)

#clean start and end dates
bd_data_2020_clean1 = clean_datetime_column(bike_data_2020, "Start Date", roundto="H")
bd_data_2020_clean2 = clean_datetime_column(bd_data_2020_clean1, "End Date", roundto="H")

events_data_2020 = compute_both_events(bd_data_2020_clean2)

# Finally rename the columns according to the chosen names for stations.
events_2020 = events_data_2020.rename(mapper=station_allnames_newdic, axis=1, level=0)
events_2020 = events_2020.sort_index(axis=1, level=0)

{1: 'River Street , Clerkenwell', 2: 'Phillimore Gardens, Kensington', 3: 'Christopher Street, Liverpool Street', 4: "St. Chad's Street, King's Cross", 5: 'Sedding Street, Sloane Square', 6: 'Broadcasting House, Marylebone', 7: "Charlbert Street, St. John's Wood", 8: 'Maida Vale, Maida Vale', 9: 'New Globe Walk, Bankside', 10: 'Park Street, Bankside', 11: 'Brunswick Square, Bloomsbury', 12: 'Malet Street, Bloomsbury', 13: 'Scala Street, Fitzrovia', 14: "Belgrove Street , King's Cross", 15: 'Great Russell Street, Bloomsbury', 16: 'Cartwright Gardens , Bloomsbury', 17: 'Hatton Wall, Holborn', 18: 'Drury Lane, Covent Garden', 19: 'Taviton Street, Bloomsbury', 20: 'Drummond Street , Euston', 21: 'Hampstead Road (Cartmel), Euston', 22: 'Northington Street , Holborn', 23: 'Red Lion Square, Holborn', 24: 'British Museum, Bloomsbury', 25: 'Doric Way , Somers Town', 26: 'Ampton Street , Clerkenwell', 27: 'Bouverie Street, Temple', 28: 'Bolsover Street, Fitzrovia', 29: 'Hereford Road, Bayswater', 30: 'Windsor Terrace, Hoxton', 31: 'Fanshaw Street, Hoxton', 32: 'Leonard Circus , Shoreditch', 33: 'Central House, Aldgate', 34: "Pancras Road, King's Cross", 36: 'De Vere Gardens, Kensington', 37: "Penywern Road, Earl's Court", 38: 'Abingdon Villas, Kensington', 39: 'Shoreditch High Street, Shoreditch', 40: 'Commercial Street, Shoreditch', 41: 'Pindar Street, Liverpool Street', 42: 'Wenlock Road , Hoxton', 43: 'Crawford Street, Marylebone', 44: 'Bruton Street, Mayfair', 45: 'Boston Place, Marylebone', 46: 'Nesham Street, Wapping', 47: 'Warwick Avenue Station, Maida Vale', 48: "Godliman Street, St. Paul's", 49: 'Curzon Street, Mayfair', 50: 'East Road, Hoxton', 51: 'Finsbury Library , Finsbury', 52: "Roscoe Street, St. Luke's", 53: 'Grafton Street, Mayfair', 54: 'Golden Lane, Barbican', 55: 'Finsbury Circus, Liverpool Street', 56: 'Paddington Street, Marylebone', 57: 'Guilford Street , Bloomsbury', 58: 'New Inn Yard, Shoreditch', 60: "Lisson Grove, St. John's Wood", 61: 'Great Dover Street, The Borough', 62: 'Cotton Garden Estate, Kennington', 63: 'Murray Grove , Hoxton', 64: 'William IV Street, Strand', 65: 'Gower Place , Euston', 66: 'Holborn Circus, Holborn', 67: 'Hatton Garden, Holborn', 68: "Theobald's Road , Holborn", 69: 'Euston Road, Euston', 70: "Calshot Street , King's Cross", 71: "Newgate Street , St. Paul's", 72: 'Farringdon Lane, Clerkenwell', 73: "Old Street Station, St. Luke's", 74: 'Vauxhall Cross, Vauxhall', 75: 'Torrens Street, Angel', 76: "Longford Street, The Regent's Park", 77: 'Russell Square Station, Bloomsbury', 78: 'Sadlers Sports Centre, Finsbury', 79: 'Arundel Street, Temple', 80: 'Webber Street , Southwark', 81: 'Great Titchfield Street, Fitzrovia', 82: 'Chancery Lane, Holborn', 83: 'Panton Street, West End', 84: 'Breams Buildings, Holborn', 85: 'Tanner Street, Bermondsey', 86: 'Sancroft Street, Vauxhall', 87: 'Devonshire Square, Liverpool Street', 88: 'Bayley Street , Bloomsbury', 89: 'Tavistock Place, Bloomsbury', 90: 'Harrington Square 1, Camden Town', 91: 'Walnut Tree Walk, Vauxhall', 92: 'Borough Road, Elephant & Castle', 93: 'Cloudesley Road, Angel', 94: 'Bricklayers Arms, Borough', 95: 'Aldersgate Street, Barbican', 96: 'Falkirk Street, Hoxton', 97: 'Gloucester Road (North), Kensington', 98: 'Hampstead Road, Euston', 99: 'Old Quebec Street, Marylebone', 100: 'Albert Embankment, Vauxhall', 101: 'Queen Street 1, Bank', 102: 'Jewry Street, Aldgate', 103: 'Vicarage Gate, Kensington', 104: 'Crosswall, Tower', 105: 'Westbourne Grove, Bayswater', 106: 'Woodstock Street, Mayfair', 107: "Finsbury Leisure Centre, St. Luke's", 108: 'Abbey Orchard Street, Westminster', 109: 'Soho Square , Soho', 110: "Wellington Road, St. John's Wood", 111: 'Park Lane , Hyde Park', 112: 'Stonecutter Street, Holborn', 113: 'Gloucester Road (Central), South Kensington', 114: "Park Road (Baker Street), The Regent's Park", 115: 'Braham Street, Aldgate', 116: 'Little Argyll Street, West End', 117: 'Lollard Street, Vauxhall', 118: 'Rochester Row, Westminster', 119: "Bath Street, St. Luke's", 120: 'The Guildhall, Guildhall', 121: 'Baker Street, Marylebone', 122: 'Norton Folgate, Liverpool Street', 123: 'St. John Street, Finsbury', 124: 'Eaton Square, Belgravia', 125: 'Borough High Street, The Borough', 126: 'Museum of London, Barbican', 127: 'Wood Street, Guildhall', 128: "Emperor's Gate, South Kensington", 129: 'Golden Square, Soho', 130: 'Tower Gardens , Tower', 131: 'Eversholt Street , Camden Town', 132: 'Bethnal Green Road, Shoreditch', 133: 'Derry Street, Kensington', 134: 'Wapping High Street, Wapping', 135: 'Clerkenwell Green, Clerkenwell', 136: "Queen Victoria Street, St. Paul's", 138: 'Green Street, Mayfair', 139: 'Lambeth Road, Vauxhall', 140: 'Finsbury Square , Moorgate', 141: 'Chapel Place, Marylebone', 142: "West Cromwell Road, Earl's Court", 143: 'Pont Street, Knightsbridge', 144: 'Kennington Cross, Kennington', 145: 'Ilchester Place, Kensington', 146: 'Vauxhall Bridge , Pimlico', 148: 'Tachbrook Street, Victoria', 149: 'Kennington Road Post Office, Oval', 150: 'Holy Trinity Brompton, Knightsbridge', 151: 'Chepstow Villas, Notting Hill', 152: 'Hampton Street, Walworth', 153: 'Bayswater Road, Hyde Park', 154: 'Waterloo Station 3, Waterloo', 155: 'Lexham Gardens, Kensington', 156: 'New Kent Road, The Borough', 157: "Wright's Lane, Kensington", 158: "Trebovir Road, Earl's Court", 159: 'Great Marlborough Street, Soho', 160: "Waterloo Place, St. James's", 161: 'Guildhouse Street, Victoria', 162: 'Southampton Place, Holborn', 163: 'Sloane Avenue, Knightsbridge', 164: 'Cleveland Gardens, Bayswater', 165: 'Orsett Terrace, Bayswater', 166: 'Seville Street, Knightsbridge', 167: 'Eccleston Place, Victoria', 168: 'Argyll Road, Kensington', 169: 'Porchester Place, Paddington', 170: 'Hardwick Street, Clerkenwell', 171: "Collingham Gardens, Earl's Court", 172: 'Sumner Place, South Kensington', 173: 'Waterloo Road, South Bank', 174: 'Strand, Strand', 175: 'Worship Street, Shoreditch', 176: 'Gloucester Terrace, Bayswater', 177: 'Ashley Place, Victoria', 178: 'Warwick Square, Pimlico', 180: 'North Audley Street, Mayfair', 181: 'Belgrave Square, Belgravia', 182: 'Bell Street , Marylebone', 183: 'Riverlight North, Nine Elms', 184: 'Portland Place, Marylebone', 185: 'Alderney Street, Pimlico', 186: 'South Wharf Road, Paddington', 187: "Queen's Gate (South), South Kensington", 188: 'Nutford Place, Marylebone', 189: 'Claremont Square, Angel', 190: 'Rampayne Street, Pimlico', 191: 'Hyde Park Corner, Hyde Park', 192: 'Wardour Street, Soho', 193: 'Bankside Mix, Bankside', 194: 'Hop Exchange, The Borough', 195: 'Milroy Walk, South Bank', 196: 'Union Street, The Borough', 197: 'Stamford Street, South Bank', 199: 'Great Tower Street, Monument', 200: 'LMU Commercial Road, Whitechapel', 201: 'Dorset Square, Marylebone', 202: 'Leman Street, Aldgate', 203: 'West Smithfield Rotunda, Farringdon', 204: 'Margery Street, Clerkenwell', 206: 'New Road 1 , Whitechapel', 207: 'Grosvenor Crescent, Belgravia', 208: 'Mallory Street, Marylebone', 209: 'Denyer Street, Knightsbridge', 210: 'Hinde Street, Marylebone', 211: 'Cadogan Place, Knightsbridge', 212: 'Campden Hill Road, Notting Hill', 213: 'Wellington Arch, Hyde Park', 214: 'Endsleigh Gardens, Euston', 215: 'Moorfields, Moorgate', 216: 'Old Brompton Road, South Kensington', 217: 'Wormwood Street, Liverpool Street', 218: "St. Luke's Church, Chelsea", 219: "Bramham Gardens, Earl's Court", 220: 'Chelsea Green, Chelsea', 221: 'Horseferry Road, Westminster', 222: 'Knightsbridge, Hyde Park', 223: 'Rodney Road , Walworth', 224: 'Queensway, Kensington Gardens', 225: 'Notting Hill Gate Station, Notting Hill', 226: 'Charles II Street, West End', 227: 'Great Percy Street, Clerkenwell', 228: "St. James's Square, St. James's", 229: 'Whitehall Place, Strand', 230: 'Poured Lines, Bankside', 231: "Queen's Gate (Central), South Kensington", 232: 'Carey Street, Holborn', 233: 'Pall Mall East, West End', 234: 'Liverpool Road (N1 Centre), Angel', 235: 'Kennington Road  , Vauxhall', 236: 'Fashion Street, Whitechapel', 237: 'Dock Street, Wapping', 238: 'Frampton Street, Paddington', 239: 'Warren Street Station, Euston', 240: 'Colombo Street, Southwark', 242: 'Beaumont Street, Marylebone', 243: 'Gloucester Street, Pimlico', 244: 'Earnshaw Street , Covent Garden', 245: 'Grosvenor Road, Pimlico', 246: 'Berry Street, Clerkenwell', 247: "St. John's Wood Church, The Regent's Park", 248: 'Triangle Car Park, Hyde Park', 249: 'Harper Road, The Borough', 250: 'Royal Avenue 1, Chelsea', 251: 'Brushfield Street, Liverpool Street', 252: 'Jubilee Gardens, South Bank', 253: 'Shoreditch Park, Hoxton', 254: 'Chadwell Street, Angel', 255: 'Clifton Road, Maida Vale', 256: 'Houghton Street, Strand', 257: 'Westminster University, Marylebone', 258: 'Kensington Gore, Knightsbridge', 259: 'Bourne Street, Belgravia', 260: 'Broadwick Street, Soho', 261: 'Princes Square, Bayswater', 262: 'LSBU (Borough Road), Elephant & Castle', 263: 'St. Mary Axe, Aldgate', 264: 'Tysoe Street, Clerkenwell', 265: 'Southwick Street, Paddington', 266: "Queen's Gate (North), Kensington", 267: 'Regency Street, Westminster', 268: 'Belgrave Road, Victoria', 269: 'Empire Square, The Borough', 270: 'Kennington Lane Rail Bridge, Vauxhall', 271: "London Zoo,  The Regent's Park", 272: 'Baylis Road, Waterloo', 273: 'Belvedere Road 1, South Bank', 274: 'Warwick Road, Olympia', 275: 'Barbican Centre, Barbican', 276: 'Lower Thames Street, Monument', 277: 'Kensington Church Street, Kensington', 278: 'Tooley Street, Bermondsey', 279: 'North Wharf Road, Paddington', 280: 'Royal Avenue 2, Chelsea', 281: 'Smith Square, Westminster', 282: 'Royal London Hospital, Whitechapel', 283: 'Kingsway, Covent Garden', 284: 'Lambeth North Station, Waterloo', 286: "St. John's Wood Road, St. John's Wood", 287: 'Bedford Way, Bloomsbury', 288: 'Elizabeth Bridge, Victoria', 289: 'South Audley Street, Mayfair', 290: "St Mary's Hospital, Paddington", 291: 'Claverton Street, Pimlico', 292: 'Montpelier Street, Knightsbridge', 293: 'Kensington Olympia Station, Olympia', 294: "St. George's Square, Pimlico", 295: 'Swan Street, The Borough', 296: "Knaresborough Place, Earl's Court", 297: 'Geraldine Street, Elephant & Castle', 298: 'Curlew Street, Shad Thames', 299: 'Vincent Square, Westminster', 300: 'Serpentine Car Park, Hyde Park', 301: 'Marylebone Lane, Marylebone', 302: 'Putney Pier, Wandsworth', 303: 'Albert Gate, Hyde Park', 306: 'Rathbone Street, Fitzrovia', 307: 'Black Lion Gate, Kensington Gardens', 308: 'Long Lane , Bermondsey', 309: 'Embankment (Savoy), Strand', 310: 'Black Prince Road, Vauxhall', 311: 'Foley Street, Fitzrovia', 312: "Grove End Road, St. John's Wood", 313: 'Wells Street, Fitzrovia', 314: 'Tyers Gate, Bermondsey', 315: "The Tennis Courts, The Regent's Park", 316: 'Warwick Row, Westminster', 317: 'Dickens Square, Borough', 318: 'Sackville Street, Mayfair', 319: "Baldwin Street, St. Luke's", 320: 'Queen Mother Sports Centre, Victoria', 321: 'Bermondsey Street, Bermondsey', 322: 'Palissy Street, Shoreditch', 323: 'Clifton Street, Shoreditch', 324: 'Ontario Street, Elephant & Castle', 325: "St. Martin's Street, West End", 326: 'Graham Street, Angel', 327: 'New North Road 1, Hoxton', 328: 'New North Road 2, Hoxton', 329: "Prince Albert Road, The Regent's Park", 330: 'Eastbourne Mews, Paddington', 331: 'Bunhill Row, Moorgate', 332: "Nevern Place, Earl's Court", 333: 'Palace Gardens Terrace, Notting Hill', 334: 'Concert Hall Approach 1, South Bank', 335: 'Tavistock Street, Covent Garden', 336: 'Concert Hall Approach 2, South Bank', 337: 'Pembridge Villas, Notting Hill', 338: 'Wellington Street , Strand', 339: 'Risinghill Street, Angel', 340: 'Bank of England Museum, Bank', 341: 'Craven Street, Strand', 343: "London Zoo Car Park, The Regent's Park", 344: 'Goswell Road (City Uni), Finsbury', 345: 'Flood Street, Chelsea', 347: 'Lower Marsh, Waterloo', 348: 'Grosvenor Square, Mayfair', 349: 'St. George Street, Mayfair', 350: "Queen's Gate, Kensington Gardens", 351: 'Macclesfield Rd, St Lukes', 352: 'Vauxhall Street, Vauxhall', 353: 'Greycoat Street , Westminster', 354: 'Northumberland Avenue, Strand', 356: 'South Kensington Station, South Kensington', 357: 'Howland Street, Fitzrovia', 358: 'High Holborn , Covent Garden', 359: 'Butler Place, Westminster', 360: 'Howick Place, Westminster', 361: 'Waterloo Station 2, Waterloo', 362: 'Royal College Street, Camden Town', 363: "Lord's, St. John's Wood", 364: 'Alfred Place, Bloomsbury', 365: 'City Road, Angel', 366: 'Millennium Hotel, Mayfair', 367: 'Harrowby Street, Marylebone', 368: 'Harriet Street, Knightsbridge', 370: 'Paddington Green, Paddington', 371: 'King Edward Walk, Waterloo', 372: 'Sardinia Street, Holborn', 373: 'Prince Consort Road, Knightsbridge', 374: 'Waterloo Station 1, Waterloo', 375: 'Kensington Town Hall, Kensington', 376: 'Millbank Tower, Pimlico', 377: 'Waterloo Bridge, South Bank', 378: 'Natural History Museum, South Kensington', 379: 'Turquoise Island, Notting Hill', 380: 'Stanhope Gate, Mayfair', 381: 'Charlotte Street, Fitzrovia', 382: 'Farm Street, Mayfair', 383: 'Frith Street, Soho', 384: 'Marloes Road, Kensington', 386: 'Moor Street, Soho', 387: 'Fire Brigade Pier, Vauxhall', 388: 'Southampton Street, Strand', 389: 'Upper Grosvenor Street, Mayfair', 390: 'Buxton Street 1, Shoreditch', 391: 'Clifford Street, Mayfair', 392: 'Imperial College, Knightsbridge', 393: 'Snow Hill, Farringdon', 394: "Aberdeen Place, St. John's Wood", 395: 'Cadogan Gardens, Chelsea', 396: 'Shouldham Street, Marylebone', 397: 'Devonshire Terrace, Bayswater', 398: 'Holland Park, Kensington', 399: 'Brick Lane Market, Shoreditch', 400: 'George Street, Marylebone', 401: 'Columbia Road, Shoreditch', 402: 'Penfold Street, Marylebone', 403: 'George Place Mews, Marylebone', 404: 'Palace Gate, Kensington Gardens', 405: 'Gloucester Road Station, South Kensington', 409: 'Strata, Elephant & Castle', 410: 'Edgware Road Station, Marylebone', 411: 'Walworth Road, Elephant & Castle', 412: 'Cleaver Street, Kennington', 419: 'Chelsea Bridge, Pimlico', 420: 'Southwark Station 1, Southwark', 421: 'Southwark Station 2, Southwark', 423: 'Eaton Square (South), Belgravia', 424: 'Ebury Bridge, Pimlico', 425: 'Harrington Square 2, Camden Town', 426: 'Vincent Street, Pimlico', 427: 'Cheapside, Bank', 428: 'Exhibition Road, Knightsbridge', 430: 'South Parade, Chelsea', 431: "Crinan Street, King's Cross", 432: 'Exhibition Road Museums, South Kensington', 433: 'Wren Street, Holborn', 435: 'Kennington Station, Kennington', 436: 'Red Lion Street, Holborn', 437: 'Vauxhall Walk, Vauxhall', 439: "Killick Street, King's Cross", 440: 'Kennington Oval, Oval', 441: 'Sail Street, Vauxhall', 442: 'Walmer Road, Avondale', 443: 'Philpot Street, Whitechapel', 444: 'Bethnal Green Garden, Bethnal Green', 445: 'Cheshire Street, Bethnal Green', 446: 'York Hall, Bethnal Green', 447: 'Jubilee Crescent, Cubitt Town', 448: "Fisherman's Walk West, Canary Wharf", 449: 'Shadwell Station, Shadwell', 450: 'Jubilee Street, Stepney', 451: 'Hermitage Court, Wapping', 452: "St. Katharine's Way, Tower", 453: 'Garnet Street, Shadwell', 454: 'Napier Avenue, Millwall', 455: 'East Ferry Road, Cubitt Town', 456: 'Parkway, Camden Town', 457: 'Castlehaven Road, Camden Town', 458: 'Wapping Lane, Wapping', 459: 'Gunmakers Lane, Old Ford', 460: 'Burdett Road, Mile End', 461: 'Aston Street, Stepney', 462: 'Bonny Street, Camden Town', 463: 'Thurtle road, Haggerston', 464: 'St. Mary & St. Michael Church, Stepney', 465: 'Pitfield Street North,Hoxton', 466: 'Whiston Road, Haggerston', 467: 'Southern Grove, Bow', 468: 'Cantrell Road, Bow', 469: 'Lindfield Street, Poplar', 470: 'Mostyn Grove, Bow', 471: 'Hewison Street, Old Ford', 472: 'Malmesbury Road, Bow', 473: 'Millharbour, Millwall', 475: 'Lightermans Road, Millwall', 476: 'Stebondale Street, Cubitt Town', 477: 'Spindrift Avenue, Millwall', 478: 'Stepney Green Station, Stepney', 479: 'Pott Street, Bethnal Green', 480: 'Flamborough Street, Limehouse', 481: 'Saunders Ness Road, Cubitt Town', 482: 'Exhibition Road Museums 2, South Kensington', 483: 'Albert Gardens, Stepney', 484: 'Bromley High Street, Bow', 485: 'Old Ford Road, Bethnal Green', 486: 'Granby Street, Shoreditch', 487: 'Canton Street, Poplar', 488: 'Reardon Street, Wapping', 489: 'Christian Street, Whitechapel', 490: 'Pennington Street, Wapping', 491: "Queen Mary's, Mile End", 492: 'Maplin Street, Mile End', 494: 'South Quay East, Canary Wharf', 495: 'Bow Church Station, Bow', 496: 'Devons Road, Bow', 497: 'Merchant Street, Bow', 498: 'Bow Road Station, Bow', 499: 'Furze Green, Bow', 500: 'Ansell House, Stepney', 501: 'Cephas Street, Bethnal Green', 502: 'Bonner Gate, Victoria Park', 503: 'Cleveland Way, Stepney', 504: "St. John's Park, Cubitt Town", 505: 'Ackroyd Drive, Bow', 506: 'Bell Lane, Liverpool Street', 507: 'Clarkson Street, Bethnal Green', 508: 'Fournier Street, Whitechapel', 509: 'Fore Street, Guildhall', 510: 'Westferry DLR, Limehouse', 511: 'Sutton Street, Shadwell', 512: "Pritchard's Road, Bethnal Green", 513: 'Watney Market, Stepney', 514: 'Portman Square, Marylebone', 515: 'Russell Gardens, Olympia', 516: 'Chrisp Street Market, Poplar', 517: 'Ford Road, Old Ford', 518: 'Antill Road, Mile End', 519: 'Teviot Street, Poplar', 520: 'Bancroft Road, Bethnal Green', 521: 'Driffield Road, Old Ford', 522: 'Clinton Road, Mile End', 523: 'Langdon Park, Poplar', 524: 'Lancaster Gate , Bayswater', 526: 'Lancaster Drive, Blackwall', 527: 'Hansard Mews, Holland Park', 528: 'Clarges Street, Mayfair', 529: 'Manresa Road, Chelsea', 530: 'Newby Place, Poplar', 531: 'Twig Folly Bridge, Mile End', 532: 'Jubilee Plaza, Canary Wharf', 533: 'Wellington Row, Bethnal Green', 534: "Goldsmith's Row, Haggerston", 535: 'Gloucester Avenue, Camden Town', 536: 'Queensbridge Road, Haggerston', 537: 'Old Montague Street, Whitechapel', 538: 'Naval Row, Blackwall', 539: 'Hoxton Station, Hoxton', 540: "Albany Street, The Regent's Park", 541: 'Green Park Station, Mayfair', 542: 'Salmon Lane, Limehouse', 543: 'Lansdowne Walk, Ladbroke Grove', 544: 'Percival Street, Finsbury', 545: 'Arlington Road, Camden Town', 546: 'New Fetter Lane, Holborn', 547: 'East India DLR, Blackwall', 548: 'Westminster Bridge Road, Elephant & Castle', 549: 'Gaywood  Street, Elephant & Castle', 550: 'Harford Street, Mile End', 551: 'Import Dock, Canary Wharf', 552: 'Watney Street, Shadwell', 553: "Regent's Row , Haggerston ", 554: 'Aberfeldy Street, Poplar', 556: 'Heron Quays DLR, Canary Wharf', 557: 'King Edward Street, St Pauls', 558: 'Page Street, Westminster', 559: 'Abbotsbury Road, Holland Park', 560: 'Ladbroke Grove Central, Ladbroke Grove', 561: 'Rectory Square, Stepney', 562: 'Bury Place, Holborn', 563: "Preston's Road, Cubitt Town", 564: 'Somerset House, Strand', 565: 'Selby Street, Whitechapel', 566: 'Westfield Ariel Way, White City', 568: "Bishop's Bridge Road West, Bayswater", 569: 'Pitfield Street Central, Hoxton', 570: 'Upper Bank Street, Canary Wharf', 571: "Westfield Southern Terrace ,Shepherd's Bush", 572: 'Greenland Road, Camden Town', 573: 'Limerston Street, West Chelsea', 574: 'Eagle Wharf Road, Hoxton', 576: 'Alpha Grove, Millwall', 577: 'Globe Town Market, Bethnal Green', 578: 'Hollybush Gardens, Bethnal Green', 579: 'Queen Street 2, Bank', 580: 'Doddington Grove, Kennington', 581: 'New Cavendish Street, Marylebone', 583: 'Abingdon Green, Westminster', 584: 'Ilchester Gardens, Bayswater', 586: 'Mudchute DLR, Cubitt Town', 587: 'Monument Street, Monument', 588: 'Hoxton Street, Hoxton', 589: 'Drayton Gardens, West Chelsea', 590: "Greenberry Street, St.John's Wood", 592: "Bishop's Bridge Road East, Bayswater", 593: "Northdown Street, King's Cross", 594: 'Kingsway Southbound, Strand', 595: 'Hammersmith Road, Hammersmith', 596: "Parson's Green , Parson's Green", 597: 'Fulham Park Road, Fulham', 598: 'Southerton Road, Hammersmith', 599: 'Manbre Road, Hammersmith', 600: 'South Lambeth Road, Vauxhall', 601: 'BBC White City, White City', 602: 'Union Grov

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [89]:
events_2020

Station             Abbey Orchard Street, Westminster             \
                                             Arrivals Departures
Date
2020-03-23 00:00:00                               0.0        0.0
2020-03-23 01:00:00                               0.0        0.0
2020-03-23 02:00:00                               0.0        0.0
2020-03-23 03:00:00                               0.0        0.0
2020-03-23 04:00:00                               0.0        0.0
...                                               ...        ...
2020-09-01 10:00:00                               0.0        0.0
2020-09-01 14:00:00                               0.0        0.0
2020-09-01 16:00:00                               0.0        0.0
2020-09-01 17:00:00                               0.0        0.0
2020-09-01 19:00:00                               0.0        0.0

Station             Abbotsbury Road, Holland Park             \
                                         Arrivals Departures
Date
2020-03-23 00:00:00                           0.0        0.0
2020-03-23 01:00:00                           0.0        0.0
2020-03-23 02:00:00                           0.0        0.0
2020-03-23 03:00:00                           0.0        0.0
2020-03-23 04:00:00                           0.0        0.0
...                                           ...        ...
2020-09-01 10:00:00                           0.0        0.0
2020-09-01 14:00:00                           0.0        0.0
2020-09-01 16:00:00                           0.0        0.0
2020-09-01 17:00:00                           0.0        0.0
2020-09-01 19:00:00                           0.0        0.0

Station             Aberdeen Place, St. John's Wood             \
                                           Arrivals Departures
Date
2020-03-23 00:00:00                             0.0        0.0
2020-03-23 01:00:00                             0.0        0.0
2020-03-23 02:00:00                             0.0        0.0
2020-03-23 03:00:00                             0.0        0.0
2020-03-23 04:00:00                             0.0        0.0
...                                             ...        ...
2020-09-01 10:00:00                             0.0        0.0
2020-09-01 14:00:00                             0.0        0.0
2020-09-01 16:00:00                             0.0        0.0
2020-09-01 17:00:00                             0.0        0.0
2020-09-01 19:00:00                             0.0        0.0

Station             Aberfeldy Street, Poplar             \
                                    Arrivals Departures
Date
2020-03-23 00:00:00                      0.0        0.0
2020-03-23 01:00:00                      0.0        0.0
2020-03-23 02:00:00                      0.0        0.0
2020-03-23 03:00:00                      0.0        0.0
2020-03-23 04:00:00                      0.0        0.0
...                                      ...        ...
2020-09-01 10:00:00                      0.0        0.0
2020-09-01 14:00:00                      0.0        0.0
2020-09-01 16:00:00                      0.0        0.0
2020-09-01 17:00:00                      0.0        0.0
2020-09-01 19:00:00                      0.0        0.0

Station             Abingdon Green, Westminster             ...  \
                                       Arrivals Departures  ...
Date                                                        ...
2020-03-23 00:00:00                         0.0        0.0  ...
2020-03-23 01:00:00                         0.0        0.0  ...
2020-03-23 02:00:00                         0.0        0.0  ...
2020-03-23 03:00:00                         0.0        0.0  ...
2020-03-23 04:00:00                         0.0        0.0  ...
...                                         ...        ...  ...
2020-09-01 10:00:00                         0.0        0.0  ...
2020-09-01 14:00:00                         0.0        0.0  ...
2020-09-01 16:00:00                         0.0        0.0  ...
2020-09-01 17:00:00                         0.0        0.0  ...
2020-09-01 19:00:00                         0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2020-03-23 00:00:00                  0.0        0.0                       0.0
2020-03-23 01:00:00                  0.0        0.0                       0.0
2020-03-23 02:00:00                  1.0        0.0                       0.0
2020-03-23 03:00:00                  0.0        3.0                       0.0
2020-03-23 04:00:00                  3.0        0.0                       0.0
...                                  ...        ...                       ...
2020-09-01 10:00:00                  0.0        0.0                       0.0
2020-09-01 14:00:00                  0.0        0.0                       0.0
2020-09-01 16:00:00                  0.0        0.0                       0.0
2020-09-01 17:00:00                  0.0        0.0                       0.0
2020-09-01 19:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2020-03-23 00:00:00        0.0                   0.0        0.0
2020-03-23 01:00:00        0.0                   0.0        0.0
2020-03-23 02:00:00        0.0                   0.0        0.0
2020-03-23 03:00:00        0.0                   0.0        0.0
2020-03-23 04:00:00        0.0                   0.0        0.0
...                        ...                   ...        ...
2020-09-01 10:00:00        0.0                   0.0        0.0
2020-09-01 14:00:00        0.0                   0.0        0.0
2020-09-01 16:00:00        0.0                   0.0        0.0
2020-09-01 17:00:00        0.0                   0.0        0.0
2020-09-01 19:00:00        0.0                   0.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2020-03-23 00:00:00                      0.0        0.0                   1.0
2020-03-23 01:00:00                      0.0        0.0                   0.0
2020-03-23 02:00:00                      0.0        0.0                   0.0
2020-03-23 03:00:00                      0.0        0.0                   0.0
2020-03-23 04:00:00                      0.0        0.0                   0.0
...                                      ...        ...                   ...
2020-09-01 10:00:00                      0.0        0.0                   0.0
2020-09-01 14:00:00                      0.0        0.0                   0.0
2020-09-01 16:00:00                      0.0        0.0                   0.0
2020-09-01 17:00:00                      0.0        0.0                   0.0
2020-09-01 19:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2020-03-23 00:00:00        2.0
2020-03-23 01:00:00        0.0
2020-03-23 02:00:00        0.0
2020-03-23 03:00:00        0.0
2020-03-23 04:00:00        0.0
...                        ...
2020-09-01 10:00:00        0.0
2020-09-01 14:00:00        0.0
2020-09-01 16:00:00        0.0
2020-09-01 17:00:00        0.0
2020-09-01 19:00:00        0.0

[3892 rows x 1576 columns]

### 2023 matrix

In [90]:
bike_data_2023

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Hour,Day
0,127702739,2023-01-01 23:58:00,3425,"Northington Street , Holborn",2023-01-02 00:04:00,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467,23,6
1,127702740,2023-01-01 23:58:00,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06:00,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880,23,6
2,127702737,2023-01-01 23:56:00,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05:00,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606,23,6
3,127702738,2023-01-01 23:56:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663,23,6
4,127702735,2023-01-01 23:55:00,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59:00,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846712,129456954,2023-03-27 00:02:00,200110,"Bishop's Bridge Road West, Bayswater",2023-03-27 00:06:00,200017,"Lancaster Gate , Bayswater",21256,CLASSIC,4m 5s,245341,0,0
1846713,129456948,2023-03-27 00:02:00,1100,"Strand, Strand",2023-03-27 00:28:00,300253,"Bermondsey Station, Bermondsey",41152,CLASSIC,26m 21s,1581989,0,0
1846714,129456945,2023-03-27 00:00:00,3489,"Broadwick Street, Soho",2023-03-27 00:12:00,1002,"Holy Trinity Brompton, Knightsbridge",60367,PBSC_EBIKE,12m 1s,721746,0,0
1846715,129456946,2023-03-27 00:00:00,990,"Cotton Garden Estate, Kennington",2023-03-27 00:04:00,10624,"Strata, Elephant & Castle",58401,CLASSIC,3m 19s,199591,0,0
1846716,129456947,2023-03-27 00:00:00,22166,"Albert Gardens, Stepney",2023-03-27 00:40:00,22166,"Albert Gardens, Stepney",59321,CLASSIC,40m 7s,2407020,0,0

In [91]:
station_allnames_2023 = {}
#station_allnames_2023_s = {}
#station_allnames_2023_e = {}

add_station_names(station_allnames_2023, bike_data_2023, "Start station", "Start station number")
#add_station_names(station_allnames_2023_e, bike_data_2023, "End station", "End station number")
#add_station_names(station_allnames_2023_s, bike_data_2023, "Start station", "Start station number")

station_allnames_2023_newdic = {key: value.pop() for key, value in station_allnames_2023.items()}
#station_allnames_2023_newdic_e = {key: value.pop() for key, value in station_allnames_2023_e.items()}
#station_allnames_2023_newdic_s = {key: value.pop() for key, value in station_allnames_2023_s.items()}

there are 1219 unqiue ids for docking stations - this is far too many. There are duplicates, for example: 003429, Abbey Orchard Street, Westminster
3429: Abbey Orchard Street, Westminster
- let's give them new ids to remove these duplicates

In [94]:
# Create a mapping of unique names to IDs
name_id_mapping = {name: id for id, name in enumerate(bike_data_2023['Start station'].unique(), 1)}

bike_data_2023_new = bike_data_2023.copy()
# Populate the 'id' column based on the name_id_mapping
bike_data_2023_new['start_id'] = bike_data_2023['Start station'].map(name_id_mapping)
bike_data_2023_new['end_id'] = bike_data_2023['End station'].map(name_id_mapping)

In [95]:
#checking for null values
bike_data_2023_new.isnull().sum()

Number                  0
Start date              0
Start station number    0
Start station           0
End date                0
End station number      0
End station             0
Bike number             0
Bike model              0
Total duration          0
Total duration (ms)     0
Hour                    0
Day                     0
start_id                0
end_id                  0
dtype: int64

In [96]:
bike_data_2023_new

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms),Hour,Day,start_id,end_id
0,127702739,2023-01-01 23:58:00,3425,"Northington Street , Holborn",2023-01-02 00:04:00,1229,"High Holborn , Covent Garden",35465,CLASSIC,6m 30s,390467,23,6,1,637
1,127702740,2023-01-01 23:58:00,3499,"Prince Consort Road, Knightsbridge",2023-01-02 00:06:00,200060,"Drayton Gardens, West Chelsea",55526,CLASSIC,8m 9s,489880,23,6,2,212
2,127702737,2023-01-01 23:56:00,300092,"Hertford Road, De Beauvoir Town",2023-01-02 00:05:00,3500,"Baldwin Street, St. Luke's",57152,CLASSIC,8m 50s,530606,23,6,3,16
3,127702738,2023-01-01 23:56:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",2023-01-02 00:50:00,300029,"Lee Valley VeloPark, Queen Elizabeth Olympic Park",54252,CLASSIC,53m 31s,3211663,23,6,4,4
4,127702735,2023-01-01 23:55:00,300052,"Parsons Green Station, Parsons Green",2023-01-01 23:59:00,300043,"St. Peter's Terrace, Fulham",13349,CLASSIC,3m 27s,207122,23,6,5,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846712,129456954,2023-03-27 00:02:00,200110,"Bishop's Bridge Road West, Bayswater",2023-03-27 00:06:00,200017,"Lancaster Gate , Bayswater",21256,CLASSIC,4m 5s,245341,0,0,77,681
1846713,129456948,2023-03-27 00:02:00,1100,"Strand, Strand",2023-03-27 00:28:00,300253,"Bermondsey Station, Bermondsey",41152,CLASSIC,26m 21s,1581989,0,0,423,484
1846714,129456945,2023-03-27 00:00:00,3489,"Broadwick Street, Soho",2023-03-27 00:12:00,1002,"Holy Trinity Brompton, Knightsbridge",60367,PBSC_EBIKE,12m 1s,721746,0,0,324,285
1846715,129456946,2023-03-27 00:00:00,990,"Cotton Garden Estate, Kennington",2023-03-27 00:04:00,10624,"Strata, Elephant & Castle",58401,CLASSIC,3m 19s,199591,0,0,542,49
1846716,129456947,2023-03-27 00:00:00,22166,"Albert Gardens, Stepney",2023-03-27 00:40:00,22166,"Albert Gardens, Stepney",59321,CLASSIC,40m 7s,2407020,0,0,179,179

In [98]:
station_allnames_2023 = {}

add_station_names(station_allnames_2023, bike_data_2023_new, "Start station", "start_id")

station_allnames_2023_newdic = {key: value.pop() for key, value in station_allnames_2023.items()}

In [99]:
#clean start and end dates
bd_data_2023_clean1 = clean_datetime_column(bike_data_2023_new, "Start date", roundto="H")
bd_data_2023_clean2 = clean_datetime_column(bd_data_2023_clean1, "End date", roundto="H")

C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = pd.to_datetime(df[colname], format=format)
C:\Users\EMoses\AppData\Local\Temp\ipykernel_17460\2367519856.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, colname] = df[colname].dt.round(roundto)

In [100]:
# Rename column dat and id columns to allow the matrix fucntion to run
bd_data_2023_clean3 = bd_data_2023_clean2.rename(columns={'Start date': 'Start Date'})
bd_data_2023_clean3 = bd_data_2023_clean3.rename(columns={'End date': 'End Date'})


bd_data_2023_clean3 = bd_data_2023_clean3.rename(columns={'start_id': 'StartStation Id'})
bd_data_2023_clean3 = bd_data_2023_clean3.rename(columns={'end_id': 'EndStation Id'})

In [101]:
events_data_2023 = compute_both_events(bd_data_2023_clean3)

In [102]:
events_data_2023

Station,1,2,3,4,5,6,7,8,9,10,...,794,795,796,797,798,799,800,801,802,803
,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,...,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-01 01:00:00,1.0,0.0,1.0,0.0,0.0,8.0,0.0,0.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,5.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-01 03:00:00,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-12 14:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-04-12 21:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-04-14 14:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-04-14 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-04-15 18:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
# Finally rename the columns according to the chosen names for stations.
events_2023 = events_data_2023.rename(mapper=station_allnames_2023_newdic, axis=1, level=0)
events_2023 = events_2023.sort_index(axis=1, level=0)

In [104]:
events_2023

Station             Abbey Orchard Street, Westminster             \
                                             Arrivals Departures
Date
2023-01-01 00:00:00                               0.0        9.0
2023-01-01 01:00:00                               4.0       14.0
2023-01-01 02:00:00                               1.0        4.0
2023-01-01 03:00:00                               1.0        0.0
2023-01-01 04:00:00                               1.0        0.0
...                                               ...        ...
2023-04-12 14:00:00                               0.0        0.0
2023-04-12 21:00:00                               0.0        0.0
2023-04-14 14:00:00                               0.0        0.0
2023-04-14 18:00:00                               0.0        0.0
2023-04-15 18:00:00                               0.0        0.0

Station             Abbotsbury Road, Holland Park             \
                                         Arrivals Departures
Date
2023-01-01 00:00:00                           0.0        0.0
2023-01-01 01:00:00                           0.0        0.0
2023-01-01 02:00:00                           0.0        0.0
2023-01-01 03:00:00                           0.0        0.0
2023-01-01 04:00:00                           1.0        0.0
...                                           ...        ...
2023-04-12 14:00:00                           0.0        0.0
2023-04-12 21:00:00                           0.0        0.0
2023-04-14 14:00:00                           0.0        0.0
2023-04-14 18:00:00                           0.0        0.0
2023-04-15 18:00:00                           0.0        0.0

Station             Aberdeen Place, St. John's Wood             \
                                           Arrivals Departures
Date
2023-01-01 00:00:00                             0.0        0.0
2023-01-01 01:00:00                             0.0        0.0
2023-01-01 02:00:00                             5.0        0.0
2023-01-01 03:00:00                             0.0        1.0
2023-01-01 04:00:00                             0.0        0.0
...                                             ...        ...
2023-04-12 14:00:00                             0.0        0.0
2023-04-12 21:00:00                             0.0        0.0
2023-04-14 14:00:00                             0.0        0.0
2023-04-14 18:00:00                             0.0        0.0
2023-04-15 18:00:00                             0.0        0.0

Station             Aberfeldy Street, Poplar             \
                                    Arrivals Departures
Date
2023-01-01 00:00:00                      0.0        0.0
2023-01-01 01:00:00                      0.0        0.0
2023-01-01 02:00:00                      2.0        0.0
2023-01-01 03:00:00                      2.0        0.0
2023-01-01 04:00:00                      0.0        0.0
...                                      ...        ...
2023-04-12 14:00:00                      0.0        0.0
2023-04-12 21:00:00                      0.0        0.0
2023-04-14 14:00:00                      0.0        0.0
2023-04-14 18:00:00                      0.0        0.0
2023-04-15 18:00:00                      0.0        0.0

Station             Abingdon Green, Westminster             ...  \
                                       Arrivals Departures  ...
Date                                                        ...
2023-01-01 00:00:00                         0.0        1.0  ...
2023-01-01 01:00:00                         0.0        5.0  ...
2023-01-01 02:00:00                         0.0        0.0  ...
2023-01-01 03:00:00                         0.0        0.0  ...
2023-01-01 04:00:00                         1.0        1.0  ...
...                                         ...        ...  ...
2023-04-12 14:00:00                         0.0        0.0  ...
2023-04-12 21:00:00                         0.0        0.0  ...
2023-04-14 14:00:00                         0.0        0.0  ...
2023-04-14 18:00:00                         0.0        0.0  ...
2023-04-15 18:00:00                         0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2023-01-01 00:00:00                  0.0        0.0                       0.0
2023-01-01 01:00:00                  0.0        0.0                       0.0
2023-01-01 02:00:00                  0.0        0.0                       0.0
2023-01-01 03:00:00                  0.0        0.0                       2.0
2023-01-01 04:00:00                  0.0        0.0                       1.0
...                                  ...        ...                       ...
2023-04-12 14:00:00                  0.0        0.0                       0.0
2023-04-12 21:00:00                  0.0        0.0                       0.0
2023-04-14 14:00:00                  0.0        0.0                       0.0
2023-04-14 18:00:00                  0.0        0.0                       0.0
2023-04-15 18:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2023-01-01 00:00:00        0.0                   0.0        1.0
2023-01-01 01:00:00        1.0                   0.0        0.0
2023-01-01 02:00:00        1.0                   2.0        0.0
2023-01-01 03:00:00        0.0                   1.0        0.0
2023-01-01 04:00:00        3.0                   0.0        0.0
...                        ...                   ...        ...
2023-04-12 14:00:00        0.0                   0.0        0.0
2023-04-12 21:00:00        0.0                   0.0        0.0
2023-04-14 14:00:00        0.0                   0.0        0.0
2023-04-14 18:00:00        0.0                   0.0        0.0
2023-04-15 18:00:00        0.0                   1.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2023-01-01 00:00:00                      0.0        0.0                   0.0
2023-01-01 01:00:00                      0.0        1.0                   0.0
2023-01-01 02:00:00                      1.0        4.0                   3.0
2023-01-01 03:00:00                      0.0        2.0                   3.0
2023-01-01 04:00:00                      0.0        1.0                   1.0
...                                      ...        ...                   ...
2023-04-12 14:00:00                      0.0        0.0                   0.0
2023-04-12 21:00:00                      0.0        0.0                   0.0
2023-04-14 14:00:00                      0.0        0.0                   0.0
2023-04-14 18:00:00                      0.0        0.0                   0.0
2023-04-15 18:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2023-01-01 00:00:00        0.0
2023-01-01 01:00:00        0.0
2023-01-01 02:00:00        0.0
2023-01-01 03:00:00        0.0
2023-01-01 04:00:00        4.0
...                        ...
2023-04-12 14:00:00        0.0
2023-04-12 21:00:00        0.0
2023-04-14 14:00:00        0.0
2023-04-14 18:00:00        0.0
2023-04-15 18:00:00        0.0

[2266 rows x 1606 columns]

### 2022 matrix

Before appling the compute_both_events() function to the 2022 dataframe, lets assign Ids to all the rows with missing start and end stations ids - note, this is for all journys after September 2022

In [106]:
bd_data_2022_clean2

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:00:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 23:00:00,529.0,"Manresa Road, Chelsea",None,None,None,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:00:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",None,None,None,18,1
2,116016563.0,480.0,19861.0,2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",2022-01-04 19:00:00,57.0,"Guilford Street , Bloomsbury",None,None,None,18,1
3,116014412.0,1260.0,17235.0,2022-01-04 18:00:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:00:00,297.0,"Geraldine Street, Elephant & Castle",None,None,None,17,1
4,116013350.0,480.0,13790.0,2022-01-04 17:00:00,252.0,"Jubilee Gardens, South Bank",2022-01-04 17:00:00,310.0,"Black Prince Road, Vauxhall",None,None,None,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11466647,125180379.0,NaN,40132.0,2022-09-10 00:00:00,NaN,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,NaN,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11466648,125180380.0,NaN,55479.0,2022-09-10 01:00:00,NaN,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:00:00,NaN,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11466649,125180381.0,NaN,58637.0,2022-09-10 00:00:00,NaN,"Lexham Gardens, Kensington",2022-09-10 00:00:00,NaN,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11466650,125180382.0,NaN,30110.0,2022-09-10 00:00:00,NaN,"Gaywood Street, Elephant & Castle",2022-09-10 00:00:00,NaN,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11466651,125180375.0,NaN,54228.0,2022-09-10 01:00:00,NaN,"Hermitage Court, Wapping",2022-09-10 00:00:00,NaN,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

In [107]:

df_filtered = bd_data_2022_clean2[bd_data_2022_clean2['Start Date'].dt.date == pd.to_datetime('2022-01-11').date()]
df_filtered

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
72932,116141309.0,660.0,20008.0,2022-01-11 09:00:00,338.0,"Wellington Street , Strand",2022-01-11 09:00:00,17.0,"Hatton Wall, Holborn",None,None,None,9,1
72946,116148847.0,660.0,8806.0,2022-01-11 17:00:00,154.0,"Waterloo Station 3, Waterloo",2022-01-11 17:00:00,17.0,"Hatton Wall, Holborn",None,None,None,16,1
72960,116151199.0,1380.0,17508.0,2022-01-11 19:00:00,238.0,"Frampton Street, Paddington",2022-01-11 18:00:00,17.0,"Hatton Wall, Holborn",None,None,None,18,1
72961,116153009.0,600.0,11783.0,2022-01-11 19:00:00,58.0,"New Inn Yard, Shoreditch",2022-01-11 19:00:00,17.0,"Hatton Wall, Holborn",None,None,None,19,1
72970,116143657.0,60.0,19714.0,2022-01-11 12:00:00,66.0,"Holborn Circus, Holborn",2022-01-11 12:00:00,17.0,"Hatton Wall, Holborn",None,None,None,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207296,116156427.0,840.0,20611.0,2022-01-11 23:00:00,461.0,"Aston Street, Stepney",2022-01-11 22:00:00,132.0,"Bethnal Green Road, Shoreditch",None,None,None,22,1
207300,116145008.0,960.0,19834.0,2022-01-11 13:00:00,804.0,"Good's Way, King's Cross",2022-01-11 13:00:00,132.0,"Bethnal Green Road, Shoreditch",None,None,None,12,1
207301,116153223.0,1260.0,18741.0,2022-01-11 19:00:00,79.0,"Arundel Street, Temple",2022-01-11 19:00:00,132.0,"Bethnal Green Road, Shoreditch",None,None,None,19,1
207302,116155117.0,840.0,20108.0,2022-01-11 21:00:00,321.0,"Bermondsey Street, Bermondsey",2022-01-11 21:00:00,132.0,"Bethnal Green Road, Shoreditch",None,None,None,20,1
207303,116152949.0,660.0,11492.0,2022-01-11 19:00:00,577.0,"Globe Town Market, Bethnal Green",2022-01-11 19:00:00,132.0,"Bethnal Green Road, Shoreditch",None,None,None,18,1

In [108]:
# new dictionary with switched keys and values
switched_dict = {value: key for key, value in station_allnames_newdic.items()}

In [109]:
# let's assign station ids if it exist in our dictionary 

#sorting start station Ids first
bd_data_2022_clean3 = bd_data_2022_clean2.copy()
for index, row in bd_data_2022_clean3.iterrows():
    if pd.isnull(row['StartStation Id']) and row['StartStation Name'] in switched_dict:
        bd_data_2022_clean3.at[index, 'StartStation Id'] = switched_dict[row['StartStation Name']]

In [110]:
bd_data_2022_clean3.isnull().sum()

Rental Id                  0
Duration             2592389
Bike Id                    0
End Date                   0
EndStation Id        2904533
EndStation Name            0
Start Date                 0
StartStation Id        85262
StartStation Name          0
SS Terminal Name     8874263
ES Terminal Name     8874263
Bike model           8874263
Hour                       0
Day                        0
dtype: int64

In [111]:
# sorting end station Ids 
bd_data_2022_clean4 = bd_data_2022_clean3.copy()
for index, row in bd_data_2022_clean4.iterrows():
    if pd.isnull(row['EndStation Id']) and row['EndStation Name'] in switched_dict:
        bd_data_2022_clean4.at[index, 'EndStation Id'] = switched_dict[row['EndStation Name']]

In [ ]:
bd_data_2022_clean4.isnull().sum()

Rental Id                  0
Duration             2592389
Bike Id                    0
End Date                   0
EndStation Id         124091
EndStation Name            0
Start Date                 0
StartStation Id       112815
StartStation Name          0
SS Terminal Name     8874263
ES Terminal Name     8874263
Bike model           8874263
Hour                       0
Day                        0
dtype: int64

In [ ]:
grouped_counts_start = bd_data_2022_clean4[bd_data_2022_clean4['StartStation Id'].isnull()].groupby('StartStation Name').size()
grouped_counts_start_df = grouped_counts_start.reset_index(name='count')
grouped_counts_start_df

                              StartStation Name  count
0                Bermondsey Station, Bermondsey   3039
1                          Blythe Road, Olympia   1959
2                      Brandon Street, Walworth   1903
3            Burgess Park Albany Road, Walworth   3004
4             Canada Water Station, Rotherhithe   3209
5                  Chicheley Street, South Bank    254
6        Clapham Common Station, Clapham Common   6242
7                     Clements Road, Bermondsey    926
8                      Clifford Street, Mayfair   1335
9             Coomer Place, West Kensington_OLD   2015
10                 Crimscott Street, Bermondsey    126
11  Exhibition Road Museums 1, South Kensington   2998
12  Exhibition Road Museums 2, South Kensington   2836
13                       Ferndale Road, Brixton   3626
14                 Gascoyne Road, Victoria Park   2754
15                         Gauden Road, Clapham   4036
16                       George Row, Bermondsey   4029
17                   Harris Academy, Bermondsey    587
18             Lansdowne Drive, Hackney Central   2534
19               London Fields, Hackney Central   7084
20                    London Street, Paddington   6058
21                      Maplin Street, Mile End   5875
22                     Portugal Street, Holborn   1716
23                Queensway, Kensington Gardens   5282
24                    Regent's Row , Haggerston   7675
25          Rotherhithe Roundabout, Rotherhithe   2113
26         South Bermondsey Station, Bermondsey    591
27               St Mary's Hospital, Paddington   4393
28                     Store Street, Bloomsbury   3822
29                 Sun Street, Liverpool Street   4213
30                       Temple Gardens, Temple   2021
31                         The Blue, Bermondsey    442
32                 The Metropolitan, Portobello   2377
33                     Thurtle Road, Haggerston   1940
34                      Tower Wharf, Bermondsey   3908
35                Victoria Rise, Clapham Common   2009
36                    Walworth Square, Walworth   3884

In [ ]:
grouped_counts_end = bd_data_2022_clean4[bd_data_2022_clean4['EndStation Id'].isnull()].groupby('EndStation Name').size()
grouped_counts_end_df = grouped_counts_end.reset_index(name='count')
grouped_counts_end_df

                                EndStation Name  count
0                Bermondsey Station, Bermondsey   3672
1                          Blythe Road, Olympia   2103
2                      Brandon Street, Walworth   1917
3            Burgess Park Albany Road, Walworth   3035
4             Canada Water Station, Rotherhithe   3944
5                  Chicheley Street, South Bank    291
6        Clapham Common Station, Clapham Common   7009
7                     Clements Road, Bermondsey    931
8                      Clifford Street, Mayfair   1841
9             Coomer Place, West Kensington_OLD   1978
10                 Crimscott Street, Bermondsey    112
11  Exhibition Road Museums 1, South Kensington   3635
12  Exhibition Road Museums 2, South Kensington   3411
13                       Ferndale Road, Brixton   4340
14                 Gascoyne Road, Victoria Park   3202
15                         Gauden Road, Clapham   4509
16                       George Row, Bermondsey   4410
17                   Harris Academy, Bermondsey    603
18             Lansdowne Drive, Hackney Central   2775
19               London Fields, Hackney Central   8064
20                    London Street, Paddington   5963
21                      Maplin Street, Mile End   6369
22                     Portugal Street, Holborn   1775
23                Queensway, Kensington Gardens   5784
24                    Regent's Row , Haggerston   7581
25          Rotherhithe Roundabout, Rotherhithe   2392
26         South Bermondsey Station, Bermondsey    629
27               St Mary's Hospital, Paddington   4650
28                     Store Street, Bloomsbury   4340
29                 Sun Street, Liverpool Street   4906
30                       Temple Gardens, Temple   2729
31                         The Blue, Bermondsey    482
32                 The Metropolitan, Portobello   2559
33                     Thurtle Road, Haggerston   1361
34                      Tower Wharf, Bermondsey   4333
35                Victoria Rise, Clapham Common   2233
36                    Walworth Square, Walworth   4223

there are 36 starting docking stations and 36 ending docking stations that don't have an id through TfLs previous data recording method. The majority of these docking station were likely added between September 2022 and 2023.
Let's add to the exsisting station name and id dictionary to remove all the id nulls from the 2022 dataframe

In [ ]:
switched_dict_updated = switched_dict.copy()

In [ ]:
# appending the docking stations that don't have an id to the end of the dictionary and assigning them an Id

for index, row in grouped_counts_start_df.iterrows():
    value = row['StartStation Name']
    if value not in switched_dict_updated:
        last_value = switched_dict_updated[max(switched_dict_updated, key=switched_dict_updated.get)] if switched_dict_updated else 0
        new_value = last_value + 1
        switched_dict_updated[value] = new_value


for index, row in grouped_counts_end_df.iterrows():
    value = row['EndStation Name']
    if value not in switched_dict_updated:
        last_value = switched_dict_updated[max(switched_dict_updated, key=switched_dict_updated.get)] if switched_dict_updated else 0
        new_value = last_value + 1
        switched_dict_updated[value] = new_value

In [ ]:
switched_dict_updated

{'River Street , Clerkenwell': 1,
 'Phillimore Gardens, Kensington': 2,
 'Christopher Street, Liverpool Street': 3,
 "St. Chad's Street, King's Cross": 4,
 'Sedding Street, Sloane Square': 5,
 'Broadcasting House, Marylebone': 6,
 "Charlbert Street, St. John's Wood": 7,
 'Maida Vale, Maida Vale': 8,
 'New Globe Walk, Bankside': 9,
 'Park Street, Bankside': 10,
 'Brunswick Square, Bloomsbury': 11,
 'Malet Street, Bloomsbury': 12,
 'Scala Street, Fitzrovia': 13,
 "Belgrove Street , King's Cross": 14,
 'Great Russell Street, Bloomsbury': 15,
 'Cartwright Gardens , Bloomsbury': 16,
 'Hatton Wall, Holborn': 17,
 'Drury Lane, Covent Garden': 18,
 'Taviton Street, Bloomsbury': 19,
 'Drummond Street , Euston': 20,
 'Hampstead Road (Cartmel), Euston': 21,
 'Northington Street , Holborn': 22,
 'Red Lion Square, Holborn': 23,
 'British Museum, Bloomsbury': 24,
 'Doric Way , Somers Town': 25,
 'Ampton Street , Clerkenwell': 26,
 'Bouverie Street, Temple': 27,
 'Bolsover Street, Fitzrovia': 28,
 'Hereford Road, Bayswater': 29,
 'Windsor Terrace, Hoxton': 30,
 'Fanshaw Street, Hoxton': 31,
 'Leonard Circus , Shoreditch': 32,
 'Central House, Aldgate': 33,
 "Pancras Road, King's Cross": 34,
 'De Vere Gardens, Kensington': 36,
 "Penywern Road, Earl's Court": 37,
 'Abingdon Villas, Kensington': 38,
 'Shoreditch High Street, Shoreditch': 39,
 'Commercial Street, Shoreditch': 40,
 'Pindar Street, Liverpool Street': 41,
 'Wenlock Road , Hoxton': 42,
 'Crawford Street, Marylebone': 43,
 'Bruton Street, Mayfair': 44,
 'Boston Place, Marylebone': 45,
 'Nesham Street, Wapping': 46,
 'Warwick Avenue Station, Maida Vale': 47,
 "Godliman Street, St. Paul's": 48,
 'Curzon Street, Mayfair': 49,
 'East Road, Hoxton': 50,
 'Finsbury Library , Finsbury': 51,
 "Roscoe Street, St. Luke's": 52,
 'Grafton Street, Mayfair': 53,
 'Golden Lane, Barbican': 54,
 'Finsbury Circus, Liverpool Street': 55,
 'Paddington Street, Marylebone': 56,
 'Guilford Street , Bloomsbury': 57,
 'New Inn Yard, Shoreditch': 58,
 "Lisson Grove, St. John's Wood": 60,
 'Great Dover Street, The Borough': 61,
 'Cotton Garden Estate, Kennington': 62,
 'Murray Grove , Hoxton': 63,
 'William IV Street, Strand': 64,
 'Gower Place , Euston': 65,
 'Holborn Circus, Holborn': 66,
 'Hatton Garden, Holborn': 67,
 "Theobald's Road , Holborn": 68,
 'Euston Road, Euston': 69,
 "Calshot Street , King's Cross": 70,
 "Newgate Street , St. Paul's": 71,
 'Farringdon Lane, Clerkenwell': 72,
 "Old Street Station, St. Luke's": 73,
 'Vauxhall Cross, Vauxhall': 74,
 'Torrens Street, Angel': 75,
 "Longford Street, The Regent's Park": 76,
 'Russell Square Station, Bloomsbury': 77,
 'Sadlers Sports Centre, Finsbury': 78,
 'Arundel Street, Temple': 79,
 'Webber Street , Southwark': 80,
 'Great Titchfield Street, Fitzrovia': 81,
 'Chancery Lane, Holborn': 82,
 'Panton Street, West End': 83,
 'Breams Buildings, Holborn': 84,
 'Tanner Street, Bermondsey': 85,
 'Sancroft Street, Vauxhall': 86,
 'Devonshire Square, Liverpool Street': 87,
 'Bayley Street , Bloomsbury': 88,
 'Tavistock Place, Bloomsbury': 89,
 'Harrington Square 1, Camden Town': 90,
 'Walnut Tree Walk, Vauxhall': 91,
 'Borough Road, Elephant & Castle': 92,
 'Cloudesley Road, Angel': 93,
 'Bricklayers Arms, Borough': 94,
 'Aldersgate Street, Barbican': 95,
 'Falkirk Street, Hoxton': 96,
 'Gloucester Road (North), Kensington': 97,
 'Hampstead Road, Euston': 98,
 'Old Quebec Street, Marylebone': 99,
 'Albert Embankment, Vauxhall': 100,
 'Queen Street 1, Bank': 101,
 'Jewry Street, Aldgate': 102,
 'Vicarage Gate, Kensington': 103,
 'Crosswall, Tower': 104,
 'Westbourne Grove, Bayswater': 105,
 'Woodstock Street, Mayfair': 106,
 "Finsbury Leisure Centre, St. Luke's": 107,
 'Abbey Orchard Street, Westminster': 108,
 'Soho Square , Soho': 109,
 "Wellington Road, St. John's Wood": 110,
 'Park Lane , Hyde Park': 111,
 'Stonecutter Street, Holborn': 112,
 'Gloucester Road (Central), South Kensington': 113,
 "Park Road (Baker Street), The Regent's Park": 114,
 'Braham Street, Aldgate': 115,
 'Little Argyll Street, West End': 116,
 'Lollard Street, Vauxhall': 117,
 'Rochester Row, Westminster': 118,
 "Bath Street, St. Luke's": 119,
 'The Guildhall, Guildhall': 120,
 'Baker Street, Marylebone': 121,
 'Norton Folgate, Liverpool Street': 122,
 'St. John Street, Finsbury': 123,
 'Eaton Square, Belgravia': 124,
 'Borough High Street, The Borough': 125,
 'Museum of London, Barbican': 126,
 'Wood Street, Guildhall': 127,
 "Emperor's Gate, South Kensington": 128,
 'Golden Square, Soho': 129,
 'Tower Gardens , Tower': 130,
 'Eversholt Street , Camden Town': 131,
 'Bethnal Green Road, Shoreditch': 132,
 'Derry Street, Kensington': 133,
 'Wapping High Street, Wapping': 134,
 'Clerkenwell Green, Clerkenwell': 135,
 "Queen Victoria Street, St. Paul's": 136,
 'Green Street, Mayfair': 138,
 'Lambeth Road, Vauxhall': 139,
 'Finsbury Square , Moorgate': 140,
 'Chapel Place, Marylebone': 141,
 "West Cromwell Road, Earl's Court": 142,
 'Pont Street, Knightsbridge': 143,
 'Kennington Cross, Kennington': 144,
 'Ilchester Place, Kensington': 145,
 'Vauxhall Bridge , Pimlico': 146,
 'Tachbrook Street, Victoria': 148,
 'Kennington Road Post Office, Oval': 149,
 'Holy Trinity Brompton, Knightsbridge': 150,
 'Chepstow Villas, Notting Hill': 151,
 'Hampton Street, Walworth': 152,
 'Bayswater Road, Hyde Park': 153,
 'Waterloo Station 3, Waterloo': 154,
 'Lexham Gardens, Kensington': 155,
 'New Kent Road, The Borough': 156,
 "Wright's Lane, Kensington": 157,
 "Trebovir Road, Earl's Court": 158,
 'Great Marlborough Street, Soho': 159,
 "Waterloo Place, St. James's": 160,
 'Guildhouse Street, Victoria': 161,
 'Southampton Place, Holborn': 162,
 'Sloane Avenue, Knightsbridge': 163,
 'Cleveland Gardens, Bayswater': 164,
 'Orsett Terrace, Bayswater': 165,
 'Seville Street, Knightsbridge': 166,
 'Eccleston Place, Victoria': 167,
 'Argyll Road, Kensington': 168,
 'Porchester Place, Paddington': 169,
 'Hardwick Street, Clerkenwell': 170,
 "Collingham Gardens, Earl's Court": 171,
 'Sumner Place, South Kensington': 172,
 'Waterloo Road, South Bank': 173,
 'Strand, Strand': 174,
 'Worship Street, Shoreditch': 175,
 'Gloucester Terrace, Bayswater': 176,
 'Ashley Place, Victoria': 177,
 'Warwick Square, Pimlico': 178,
 'North Audley Street, Mayfair': 180,
 'Belgrave Square, Belgravia': 181,
 'Bell Street , Marylebone': 182,
 'Riverlight North, Nine Elms': 183,
 'Portland Place, Marylebone': 184,
 'Alderney Street, Pimlico': 185,
 'South Wharf Road, Paddington': 186,
 "Queen's Gate (South), South Kensington": 187,
 'Nutford Place, Marylebone': 188,
 'Claremont Square, Angel': 189,
 'Rampayne Street, Pimlico': 190,
 'Hyde Park Corner, Hyde Park': 191,
 'Wardour Street, Soho': 192,
 'Bankside Mix, Bankside': 193,
 'Hop Exchange, The Borough': 194,
 'Milroy Walk, South Bank': 195,
 'Union Street, The Borough': 196,
 'Stamford Street, South Bank': 197,
 'Great Tower Street, Monument': 199,
 'LMU Commercial Road, Whitechapel': 200,
 'Dorset Square, Marylebone': 201,
 'Leman Street, Aldgate': 202,
 'West Smithfield Rotunda, Farringdon': 203,
 'Margery Street, Clerkenwell': 204,
 'New Road 1 , Whitechapel': 206,
 'Grosvenor Crescent, Belgravia': 207,
 'Mallory Street, Marylebone': 208,
 'Denyer Street, Knightsbridge': 209,
 'Hinde Street, Marylebone': 210,
 'Cadogan Place, Knightsbridge': 211,
 'Campden Hill Road, Notting Hill': 212,
 'Wellington Arch, Hyde Park': 213,
 'Endsleigh Gardens, Euston': 214,
 'Moorfields, Moorgate': 215,
 'Old Brompton Road, South Kensington': 216,
 'Wormwood Street, Liverpool Street': 217,
 "St. Luke's Church, Chelsea": 218,
 "Bramham Gardens, Earl's Court": 219,
 'Chelsea Green, Chelsea': 220,
 'Horseferry Road, Westminster': 221,
 'Knightsbridge, Hyde Park': 222,
 'Rodney Road , Walworth': 223,
 'Queensway, Westminster': 224,
 'Notting Hill Gate Station, Notting Hill': 225,
 'Charles II Street, West End': 226,
 'Great Percy Street, Clerkenwell': 227,
 "St. James's Square, St. James's": 228,
 'Whitehall Place, Strand': 229,
 'Poured Lines, Bankside': 230,
 "Queen's Gate (Central), South Kensington": 231,
 'Carey Street, Holborn': 232,
 'Pall Mall East, West End': 233,
 'Liverpool Road (N1 Centre), Angel': 234,
 'Kennington Road  , Vauxhall': 235,
 'Fashion Street, Whitechapel': 236,
 'Dock Street, Wapping': 237,
 'Frampton Street, Paddington': 238,
 'Warren Street Station, Euston': 239,
 'Colombo Street, Southwark': 240,
 'Beaumont Street, Marylebone': 242,
 'Gloucester Street, Pimlico': 243,
 'Earnshaw Street , Covent Garden': 244,
 'Grosvenor Road, Pimlico': 245,
 'Berry Street, Clerkenwell': 246,
 "St. John's Wood Church, The Regent's Park": 247,
 'Triangle Car Park, Hyde Park': 248,
 'Harper Road, The Borough': 249,
 'Royal Avenue 1, Chelsea': 250,
 'Brushfield Street, Liverpool Street': 251,
 'Jubilee Gardens, South Bank': 252,
 'Shoreditch Park, Hoxton': 253,
 'Chadwell Street, Angel': 254,
 'Clifton Road, Maida Vale': 255,
 'Houghton Street, Strand': 256,
 'Westminster University, Marylebone': 257,
 'Kensington Gore, Knightsbridge': 258,
 'Bourne Street, Belgravia': 259,
 'Broadwick Street, Soho': 260,
 'Princes Square, Bayswater': 261,
 'LSBU (Borough Road), Elephant & Castle': 262,
 'St. Mary Axe, Aldgate': 263,
 'Tysoe Street, Clerkenwell': 264,
 'Southwick Street, Paddington': 265,
 "Queen's Gate (North), Kensington": 266,
 'Regency Street, Westminster': 267,
 'Belgrave Road, Victoria': 268,
 'Empire Square, The Borough': 269,
 'Kennington Lane Rail Bridge, Vauxhall': 270,
 "London Zoo,  The Regent's Park": 271,
 'Baylis Road, Waterloo': 272,
 'Belvedere Road 1, South Bank': 273,
 'Warwick Road, Olympia': 274,
 'Barbican Centre, Barbican': 275,
 'Lower Thames Street, Monument': 276,
 'Kensington Church Street, Kensington': 277,
 'Tooley Street, Bermondsey': 278,
 'North Wharf Road, Paddington': 279,
 'Royal Avenue 2, Chelsea': 280,
 'Smith Square, Westminster': 281,
 'Royal London Hospital, Whitechapel': 282,
 'Kingsway, Covent Garden': 283,
 'Lambeth North Station, Waterloo': 284,
 "St. John's Wood Road, St. John's Wood": 286,
 'Bedford Way, Bloomsbury': 287,
 'Elizabeth Bridge, Victoria': 288,
 'South Audley Street, Mayfair': 289,
 'Winsland Street, Paddington': 290,
 'Claverton Street, Pimlico': 291,
 'Montpelier Street, Knightsbridge': 292,
 'Kensington Olympia Station, Olympia': 293,
 "St. George's Square, Pimlico": 294,
 'Swan Street, The Borough': 295,
 "Knaresborough Place, Earl's Court": 296,
 'Geraldine Street, Elephant & Castle': 297,
 'Curlew Street, Shad Thames': 298,
 'Vincent Square, Westminster': 299,
 'Serpentine Car Park, Hyde Park': 300,
 'Marylebone Lane, Marylebone': 301,
 'Putney Pier, Wandsworth': 302,
 'Albert Gate, Hyde Park': 303,
 'Kennington Lane Tesco, Vauxhall': 305,
 'Rathbone Street, Fitzrovia': 306,
 'Black Lion Gate, Kensington Gardens': 307,
 'Long Lane , Bermondsey': 308,
 'Embankment (Savoy), Strand': 309,
 'Black Prince Road, Vauxhall': 310,
 'Foley Street, Fitzrovia': 311,
 "Grove End Road, St. John's Wood": 312,
 'Wells Street, Fitzrovia': 313,
 'Tyers Gate, Bermondsey': 314,
 "The Tennis Courts, The Regent's Park": 315,
 'Warwick Row, Westminster': 316,
 'Dickens Square, Borough': 317,
 'Sackville Street, Mayfair': 318,
 "Baldwin Street, St. Luke's": 319,
 'Queen Mother Sports Centre, Victoria': 320,
 'Bermondsey Street, Bermondsey': 321,
 'Palissy Street, Shoreditch': 322,
 'Clifton Street, Shoreditch': 323,
 'Ontario Street, Elephant & Castle': 324,
 "St. Martin's Street, West End": 325,
 'Graham Street, Angel': 326,
 'New North Road 1, Hoxton': 327,
 'New North Road 2, Hoxton': 328,
 "Prince Albert Road, The Regent's Park": 329,
 'Eastbourne Mews, Paddington': 330,
 'Bunhill Row, Moorgate': 331,
 "Nevern Place, Earl's Court": 332,
 'Palace Gardens Terrace, Notting Hill': 333,
 'Concert Hall Approach 1, South Bank': 334,
 'Tavistock Street, Covent Garden': 335,
 'Concert Hall Approach 2, South Bank': 336,
 'Pembridge Villas, Notting Hill': 337,
 'Wellington Street , Strand': 338,
 'Risinghill Street, Angel': 339,
 'Bank of England Museum, Bank': 340,
 'Craven Street, Strand': 341,
 "London Zoo Car Park, The Regent's Park": 343,
 'Goswell Road (City Uni), Finsbury': 344,
 'Flood Street, Chelsea': 345,
 'Lower Marsh, Waterloo': 347,
 'Grosvenor Square, Mayfair': 348,
 'St. George Street, Mayfair': 349,
 "Queen's Gate, Kensington Gardens": 350,
 'Macclesfield Rd, St Lukes': 351,
 'Vauxhall Street, Vauxhall': 352,
 'Greycoat Street , Westminster': 353,
 'Northumberland Avenue, Strand': 354,
 'Oval Way, Vauxhall': 355,
 'South Kensington Station, South Kensington': 356,
 'Howland Street, Fitzrovia': 357,
 'High Holborn , Covent Garden': 358,
 'Butler Place, Westminster': 359,
 'Howick Place, Westminster': 360,
 'Waterloo Station 2, Waterloo': 361,
 'Royal College Street, Camden Town': 362,
 "Lord's, St. John's Wood": 363,
 'Alfred Place, Bloomsbury': 364,
 'City Road, Angel': 365,
 'Millennium Hotel, Mayfair': 366,
 'Harrowby Street, Marylebone': 367,
 'Harriet Street, Knightsbridge': 368,
 'Paddington Green, Paddington': 370,
 'King Edward Walk, Waterloo': 371,
 'Sardinia Street, Holborn': 372,
 'Prince Consort Road, Knightsbridge': 373,
 'Waterloo Station 1, Waterloo': 374,
 'Kensington Town Hall, Kensington': 375,
 'Millbank Tower, Pimlico': 376,
 'Waterloo Bridge, South Bank': 377,
 'Natural History Museum, South Kensington': 378,
 'Turquoise Island, Notting Hill': 379,
 'Stanhope Gate, Mayfair': 380,
 'Charlotte Street, Fitzrovia': 381,
 'Farm Street, Mayfair': 382,
 'Frith Street, Soho': 383,
 'Marloes Road, Kensington': 384,
 'Moor Street, Soho': 386,
 'Fire Brigade Pier, Vauxhall': 387,
 'Southampton Street, Strand': 388,
 'Upper Grosvenor Street, Mayfair': 389,
 'Buxton Street 1, Shoreditch': 390,
 'Imperial College, Knightsbridge': 392,
 'Snow Hill, Farringdon': 393,
 "Aberdeen Place, St. John's Wood": 394,
 'Cadogan Gardens, Chelsea': 395,
 'Shouldham Street, Marylebone': 396,
 'Devonshire Terrace, Bayswater': 397,
 'Holland Park, Kensington': 398,
 'Brick Lane Market, Shoreditch': 399,
 'George Street, Marylebone': 400,
 'Columbia Road, Shoreditch': 401,
 'Penfold Street, Marylebone': 402,
 'George Place Mews, Marylebone': 403,
 'Palace Gate, Kensington Gardens': 404,
 'Gloucester Road Station, South Kensington': 405,
 'Paddington Green Police Station, Paddington': 408,
 'Strata, Elephant & Castle': 409,
 'Edgware Road Station, Marylebone': 410,
 'Walworth Road, Elephant & Castle': 411,
 'Cleaver Street, Kennington': 412,
 'Chelsea Bridge, Pimlico': 419,
 'Southwark Station 1, Southwark': 420,
 'Southwark Station 2, Southwark': 421,
 'Eaton Square (South), Belgravia': 423,
 'Ebury Bridge, Pimlico': 424,
 'Harrington Square 2, Camden Town': 425,
 'Vincent Street, Pimlico': 426,
 'Cheapside, Bank': 427,
 'Exhibition Road, Knightsbridge': 428,
 'South Parade, Chelsea': 430,
 "Crinan Street, King's Cross": 431,
 'Exhibition Road Museums, South Kensington': 432,
 'Wren Street, Holborn': 433,
 'Kennington Station, Kennington': 435,
 'Red Lion Street, Holborn': 436,
 'Vauxhall Walk, Vauxhall': 437,
 "Killick Street, King's Cross": 439,
 'Kennington Oval, Oval': 440,
 'Sail Street, Vauxhall': 441,
 'Walmer Road, Avondale': 442,
 'Philpot Street, Whitechapel': 443,
 'Bethnal Green Garden, Bethnal Green': 444,
 'Cheshire Street, Bethnal Green': 445,
 'York Hall, Bethnal Green': 446,
 'Jubilee Crescent, Cubitt Town': 447,
 "Fisherman's Walk West, Canary Wharf": 448,
 'Shadwell Station, Shadwell': 449,
 'Jubilee Street, Stepney': 450,
 'Hermitage Court, Wapping': 451,
 "St. Katharine's Way, Tower": 452,
 'Garnet Street, Shadwell': 453,
 'Napier Avenue, Millwall': 454,
 'East Ferry Road, Cubitt Town': 455,
 'Parkway, Camden Town': 456,
 'Castlehaven Road, Camden Town': 457,
 'Wapping Lane, Wapping': 458,
 'Gunmakers Lane, Old Ford': 459,
 'Burdett Road, Mile End': 460,
 'Aston Street, Stepney': 461,
 'Bonny Street, Camden Town': 462,
 'Thurtle road, Haggerston': 463,
 'St. Mary & St. Michael Church, Stepney': 464,
 'Pitfield Street North,Hoxton': 465,
 'Whiston Road, Haggerston': 466,
 'Southern Grove, Bow': 467,
 'Cantrell Road, Bow': 468,
 'Lindfield Street, Poplar': 469,
 'Mostyn Grove, Bow': 470,
 'Hewison Street, Old Ford': 471,
 'Malmesbury Road, Bow': 472,
 'Millharbour, Millwall': 473,
 'Castalia Square, Cubitt Town': 474,
 'Lightermans Road, Millwall': 475,
 'Stebondale Street, Cubitt Town': 476,
 'Spindrift Avenue, Millwall': 477,
 'Stepney Green Station, Stepney': 478,
 'Pott Street, Bethnal Green': 479,
 'Flamborough Street, Limehouse': 480,
 'Saunders Ness Road, Cubitt Town': 481,
 'Albert Gardens, Stepney': 483,
 'Bromley High Street, Bow': 484,
 'Old Ford Road, Bethnal Green': 485,
 'Granby Street, Shoreditch': 486,
 'Canton Street, Poplar': 487,
 'Reardon Street, Wapping': 488,
 'Christian Street, Whitechapel': 489,
 'Pennington Street, Wapping': 490,
 "Queen Mary's, Mile End": 491,
 'The Green Bridge, Mile End': 492,
 'South Quay East, Canary Wharf': 494,
 'Bow Church Station, Bow': 495,
 'Devons Road, Bow': 496,
 'Merchant Street, Bow': 497,
 'Bow Road Station, Bow': 498,
 'Furze Green, Bow': 499,
 'Ansell House, Stepney': 500,
 'Cephas Street, Bethnal Green': 501,
 'Bonner Gate, Victoria Park': 502,
 'Cleveland Way, Stepney': 503,
 "St. John's Park, Cubitt Town": 504,
 'Ackroyd Drive, Bow': 505,
 'Bell Lane, Liverpool Street': 506,
 'Clarkson Street, Bethnal Green': 507,
 'Fournier Street, Whitechapel': 508,
 'Fore Street, Guildhall': 509,
 'Westferry DLR, Limehouse': 510,
 'Sutton Street, Shadwell': 511,
 "Pritchard's Road, Bethnal Green": 512,
 'Watney Market, Stepney': 513,
 'Portman Square, Marylebone': 514,
 'Russell Gardens, Olympia': 515,
 'Chrisp Street Market, Poplar': 516,
 'Ford Road, Old Ford': 517,
 'Antill Road, Mile End': 518,
 'Teviot Street, Poplar': 519,
 'Bancroft Road, Bethnal Green': 520,
 'Driffield Road, Old Ford': 521,
 'Clinton Road, Mile End': 522,
 'Langdon Park, Poplar': 523,
 'Lancaster Gate , Bayswater': 524,
 'Lancaster Drive, Blackwall': 526,
 'Hansard Mews, Holland Park': 527,
 'Clarges Street, Mayfair': 528,
 'Manresa Road, Chelsea': 529,
 'Newby Place, Poplar': 530,
 'Twig Folly Bridge, Mile End': 531,
 'Jubilee Plaza, Canary Wharf': 532,
 'Wellington Row, Bethnal Green': 533,
 "Goldsmith's Row, Haggerston": 534,
 'Gloucester Avenue, Camden Town': 535,
 'Queensbridge Road, Haggerston': 536,
 'Old Montague Street, Whitechapel': 537,
 'Naval Row, Blackwall': 538,
 'Hoxton Station, Hoxton': 539,
 "Albany Street, The Regent's Park": 540,
 'Green Park Station, Mayfair': 541,
 'Salmon Lane, Limehouse': 542,
 'Lansdowne Walk, Ladbroke Grove': 543,
 'Percival Street, Finsbury': 544,
 'Arlington Road, Camden Town': 545,
 'New Fetter Lane, Holborn': 546,
 'East India DLR, Blackwall': 547,
 'Westminster Bridge Road, Elephant & Castle': 548,
 'Gaywood  Street, Elephant & Castle': 549,
 'Harford Street, Mile End': 550,
 'Import Dock, Canary Wharf': 551,
 'Watney Street, Shadwell': 552,
 "Regent's Row , Haggerston ": 553,
 'Aberfeldy Street, Poplar': 554,
 'Heron Quays DLR, Canary Wharf': 556,
 'King Edward Street, St Pauls': 557,
 'Page Street, Westminster': 558,
 'Abbotsbury Road, Holland Park': 559,
 'Ladbroke Grove Central, Ladbroke Grove': 560,
 'Rectory Square, Stepney': 561,
 'Bury Place, Holborn': 562,
 "Preston's Road, Cubitt Town": 563,
 'Somerset House, Strand': 564,
 'Selby Street, Whitechapel': 565,
 'Westfield Ariel Way, White City': 566,
 "Bishop's Bridge Road West, Bayswater": 568,
 'Pitfield Street Central, Hoxton': 569,
 'Upper Bank Street, Canary Wharf': 570,
 "Westfield Southern Terrace ,Shepherd's Bush": 571,
 'Greenland Road, Camden Town': 572,
 'Limerston Street, West Chelsea': 573,
 'Eagle Wharf Road, Hoxton': 574,
 'Alpha Grove, Millwall': 576,
 'Globe Town Market, Bethnal Green': 577,
 'Hollybush Gardens, Bethnal Green': 578,
 'Queen Street 2, Bank': 579,
 'Doddington Grove, Kennington': 580,
 'New Cavendish Street, Marylebone': 581,

In [ ]:
#let's pickle this updated dictionary 
import os
import pickle

# Pickle the dictionary
subfolder = 'data'
filename = 'station_id_dic_2022.p'
file_path = os.path.join(subfolder, filename)

with open(file_path, 'wb') as file:
    pickle.dump(switched_dict_updated, file)

In [ ]:
# import station id pickle 
import pickle

# loading pickle
subfolder = 'data'
filename = 'station_id_dic_2022.p'
file_path = os.path.join(subfolder, filename)

# Load the pickled dictionary
with open(file_path, 'rb') as file:
    loaded_dict = pickle.load(file)

In [55]:
loaded_dict

{'River Street , Clerkenwell': 1,
 'Phillimore Gardens, Kensington': 2,
 'Christopher Street, Liverpool Street': 3,
 "St. Chad's Street, King's Cross": 4,
 'Sedding Street, Sloane Square': 5,
 'Broadcasting House, Marylebone': 6,
 "Charlbert Street, St. John's Wood": 7,
 'Maida Vale, Maida Vale': 8,
 'New Globe Walk, Bankside': 9,
 'Park Street, Bankside': 10,
 'Brunswick Square, Bloomsbury': 11,
 'Malet Street, Bloomsbury': 12,
 'Scala Street, Fitzrovia': 13,
 "Belgrove Street , King's Cross": 14,
 'Great Russell Street, Bloomsbury': 15,
 'Cartwright Gardens , Bloomsbury': 16,
 'Hatton Wall, Holborn': 17,
 'Drury Lane, Covent Garden': 18,
 'Taviton Street, Bloomsbury': 19,
 'Drummond Street , Euston': 20,
 'Hampstead Road (Cartmel), Euston': 21,
 'Northington Street , Holborn': 22,
 'Red Lion Square, Holborn': 23,
 'British Museum, Bloomsbury': 24,
 'Doric Way , Somers Town': 25,
 'Ampton Street , Clerkenwell': 26,
 'Bouverie Street, Temple': 27,
 'Bolsover Street, Fitzrovia': 28,
 'Hereford Road, Bayswater': 29,
 'Windsor Terrace, Hoxton': 30,
 'Fanshaw Street, Hoxton': 31,
 'Leonard Circus , Shoreditch': 32,
 'Central House, Aldgate': 33,
 "Pancras Road, King's Cross": 34,
 'De Vere Gardens, Kensington': 36,
 "Penywern Road, Earl's Court": 37,
 'Abingdon Villas, Kensington': 38,
 'Shoreditch High Street, Shoreditch': 39,
 'Commercial Street, Shoreditch': 40,
 'Pindar Street, Liverpool Street': 41,
 'Wenlock Road , Hoxton': 42,
 'Crawford Street, Marylebone': 43,
 'Bruton Street, Mayfair': 44,
 'Boston Place, Marylebone': 45,
 'Nesham Street, Wapping': 46,
 'Warwick Avenue Station, Maida Vale': 47,
 "Godliman Street, St. Paul's": 48,
 'Curzon Street, Mayfair': 49,
 'East Road, Hoxton': 50,
 'Finsbury Library , Finsbury': 51,
 "Roscoe Street, St. Luke's": 52,
 'Grafton Street, Mayfair': 53,
 'Golden Lane, Barbican': 54,
 'Finsbury Circus, Liverpool Street': 55,
 'Paddington Street, Marylebone': 56,
 'Guilford Street , Bloomsbury': 57,
 'New Inn Yard, Shoreditch': 58,
 "Lisson Grove, St. John's Wood": 60,
 'Great Dover Street, The Borough': 61,
 'Cotton Garden Estate, Kennington': 62,
 'Murray Grove , Hoxton': 63,
 'William IV Street, Strand': 64,
 'Gower Place , Euston': 65,
 'Holborn Circus, Holborn': 66,
 'Hatton Garden, Holborn': 67,
 "Theobald's Road , Holborn": 68,
 'Euston Road, Euston': 69,
 "Calshot Street , King's Cross": 70,
 "Newgate Street , St. Paul's": 71,
 'Farringdon Lane, Clerkenwell': 72,
 "Old Street Station, St. Luke's": 73,
 'Vauxhall Cross, Vauxhall': 74,
 'Torrens Street, Angel': 75,
 "Longford Street, The Regent's Park": 76,
 'Russell Square Station, Bloomsbury': 77,
 'Sadlers Sports Centre, Finsbury': 78,
 'Arundel Street, Temple': 79,
 'Webber Street , Southwark': 80,
 'Great Titchfield Street, Fitzrovia': 81,
 'Chancery Lane, Holborn': 82,
 'Panton Street, West End': 83,
 'Breams Buildings, Holborn': 84,
 'Tanner Street, Bermondsey': 85,
 'Sancroft Street, Vauxhall': 86,
 'Devonshire Square, Liverpool Street': 87,
 'Bayley Street , Bloomsbury': 88,
 'Tavistock Place, Bloomsbury': 89,
 'Harrington Square 1, Camden Town': 90,
 'Walnut Tree Walk, Vauxhall': 91,
 'Borough Road, Elephant & Castle': 92,
 'Cloudesley Road, Angel': 93,
 'Bricklayers Arms, Borough': 94,
 'Aldersgate Street, Barbican': 95,
 'Falkirk Street, Hoxton': 96,
 'Gloucester Road (North), Kensington': 97,
 'Hampstead Road, Euston': 98,
 'Old Quebec Street, Marylebone': 99,
 'Albert Embankment, Vauxhall': 100,
 'Queen Street 1, Bank': 101,
 'Jewry Street, Aldgate': 102,
 'Vicarage Gate, Kensington': 103,
 'Crosswall, Tower': 104,
 'Westbourne Grove, Bayswater': 105,
 'Woodstock Street, Mayfair': 106,
 "Finsbury Leisure Centre, St. Luke's": 107,
 'Abbey Orchard Street, Westminster': 108,
 'Soho Square , Soho': 109,
 "Wellington Road, St. John's Wood": 110,
 'Park Lane , Hyde Park': 111,
 'Stonecutter Street, Holborn': 112,
 'Gloucester Road (Central), South Kensington': 113,
 "Park Road (Baker Street), The Regent's Park": 114,
 'Braham Street, Aldgate': 115,
 'Little Argyll Street, West End': 116,
 'Lollard Street, Vauxhall': 117,
 'Rochester Row, Westminster': 118,
 "Bath Street, St. Luke's": 119,
 'The Guildhall, Guildhall': 120,
 'Baker Street, Marylebone': 121,
 'Norton Folgate, Liverpool Street': 122,
 'St. John Street, Finsbury': 123,
 'Eaton Square, Belgravia': 124,
 'Borough High Street, The Borough': 125,
 'Museum of London, Barbican': 126,
 'Wood Street, Guildhall': 127,
 "Emperor's Gate, South Kensington": 128,
 'Golden Square, Soho': 129,
 'Tower Gardens , Tower': 130,
 'Eversholt Street , Camden Town': 131,
 'Bethnal Green Road, Shoreditch': 132,
 'Derry Street, Kensington': 133,
 'Wapping High Street, Wapping': 134,
 'Clerkenwell Green, Clerkenwell': 135,
 "Queen Victoria Street, St. Paul's": 136,
 'Green Street, Mayfair': 138,
 'Lambeth Road, Vauxhall': 139,
 'Finsbury Square , Moorgate': 140,
 'Chapel Place, Marylebone': 141,
 "West Cromwell Road, Earl's Court": 142,
 'Pont Street, Knightsbridge': 143,
 'Kennington Cross, Kennington': 144,
 'Ilchester Place, Kensington': 145,
 'Vauxhall Bridge , Pimlico': 146,
 'Tachbrook Street, Victoria': 148,
 'Kennington Road Post Office, Oval': 149,
 'Holy Trinity Brompton, Knightsbridge': 150,
 'Chepstow Villas, Notting Hill': 151,
 'Hampton Street, Walworth': 152,
 'Bayswater Road, Hyde Park': 153,
 'Waterloo Station 3, Waterloo': 154,
 'Lexham Gardens, Kensington': 155,
 'New Kent Road, The Borough': 156,
 "Wright's Lane, Kensington": 157,
 "Trebovir Road, Earl's Court": 158,
 'Great Marlborough Street, Soho': 159,
 "Waterloo Place, St. James's": 160,
 'Guildhouse Street, Victoria': 161,
 'Southampton Place, Holborn': 162,
 'Sloane Avenue, Knightsbridge': 163,
 'Cleveland Gardens, Bayswater': 164,
 'Orsett Terrace, Bayswater': 165,
 'Seville Street, Knightsbridge': 166,
 'Eccleston Place, Victoria': 167,
 'Argyll Road, Kensington': 168,
 'Porchester Place, Paddington': 169,
 'Hardwick Street, Clerkenwell': 170,
 "Collingham Gardens, Earl's Court": 171,
 'Sumner Place, South Kensington': 172,
 'Waterloo Road, South Bank': 173,
 'Strand, Strand': 174,
 'Worship Street, Shoreditch': 175,
 'Gloucester Terrace, Bayswater': 176,
 'Ashley Place, Victoria': 177,
 'Warwick Square, Pimlico': 178,
 'North Audley Street, Mayfair': 180,
 'Belgrave Square, Belgravia': 181,
 'Bell Street , Marylebone': 182,
 'Riverlight North, Nine Elms': 183,
 'Portland Place, Marylebone': 184,
 'Alderney Street, Pimlico': 185,
 'South Wharf Road, Paddington': 186,
 "Queen's Gate (South), South Kensington": 187,
 'Nutford Place, Marylebone': 188,
 'Claremont Square, Angel': 189,
 'Rampayne Street, Pimlico': 190,
 'Hyde Park Corner, Hyde Park': 191,
 'Wardour Street, Soho': 192,
 'Bankside Mix, Bankside': 193,
 'Hop Exchange, The Borough': 194,
 'Milroy Walk, South Bank': 195,
 'Union Street, The Borough': 196,
 'Stamford Street, South Bank': 197,
 'Great Tower Street, Monument': 199,
 'LMU Commercial Road, Whitechapel': 200,
 'Dorset Square, Marylebone': 201,
 'Leman Street, Aldgate': 202,
 'West Smithfield Rotunda, Farringdon': 203,
 'Margery Street, Clerkenwell': 204,
 'New Road 1 , Whitechapel': 206,
 'Grosvenor Crescent, Belgravia': 207,
 'Mallory Street, Marylebone': 208,
 'Denyer Street, Knightsbridge': 209,
 'Hinde Street, Marylebone': 210,
 'Cadogan Place, Knightsbridge': 211,
 'Campden Hill Road, Notting Hill': 212,
 'Wellington Arch, Hyde Park': 213,
 'Endsleigh Gardens, Euston': 214,
 'Moorfields, Moorgate': 215,
 'Old Brompton Road, South Kensington': 216,
 'Wormwood Street, Liverpool Street': 217,
 "St. Luke's Church, Chelsea": 218,
 "Bramham Gardens, Earl's Court": 219,
 'Chelsea Green, Chelsea': 220,
 'Horseferry Road, Westminster': 221,
 'Knightsbridge, Hyde Park': 222,
 'Rodney Road , Walworth': 223,
 'Queensway, Westminster': 224,
 'Notting Hill Gate Station, Notting Hill': 225,
 'Charles II Street, West End': 226,
 'Great Percy Street, Clerkenwell': 227,
 "St. James's Square, St. James's": 228,
 'Whitehall Place, Strand': 229,
 'Poured Lines, Bankside': 230,
 "Queen's Gate (Central), South Kensington": 231,
 'Carey Street, Holborn': 232,
 'Pall Mall East, West End': 233,
 'Liverpool Road (N1 Centre), Angel': 234,
 'Kennington Road  , Vauxhall': 235,
 'Fashion Street, Whitechapel': 236,
 'Dock Street, Wapping': 237,
 'Frampton Street, Paddington': 238,
 'Warren Street Station, Euston': 239,
 'Colombo Street, Southwark': 240,
 'Beaumont Street, Marylebone': 242,
 'Gloucester Street, Pimlico': 243,
 'Earnshaw Street , Covent Garden': 244,
 'Grosvenor Road, Pimlico': 245,
 'Berry Street, Clerkenwell': 246,
 "St. John's Wood Church, The Regent's Park": 247,
 'Triangle Car Park, Hyde Park': 248,
 'Harper Road, The Borough': 249,
 'Royal Avenue 1, Chelsea': 250,
 'Brushfield Street, Liverpool Street': 251,
 'Jubilee Gardens, South Bank': 252,
 'Shoreditch Park, Hoxton': 253,
 'Chadwell Street, Angel': 254,
 'Clifton Road, Maida Vale': 255,
 'Houghton Street, Strand': 256,
 'Westminster University, Marylebone': 257,
 'Kensington Gore, Knightsbridge': 258,
 'Bourne Street, Belgravia': 259,
 'Broadwick Street, Soho': 260,
 'Princes Square, Bayswater': 261,
 'LSBU (Borough Road), Elephant & Castle': 262,
 'St. Mary Axe, Aldgate': 263,
 'Tysoe Street, Clerkenwell': 264,
 'Southwick Street, Paddington': 265,
 "Queen's Gate (North), Kensington": 266,
 'Regency Street, Westminster': 267,
 'Belgrave Road, Victoria': 268,
 'Empire Square, The Borough': 269,
 'Kennington Lane Rail Bridge, Vauxhall': 270,
 "London Zoo,  The Regent's Park": 271,
 'Baylis Road, Waterloo': 272,
 'Belvedere Road 1, South Bank': 273,
 'Warwick Road, Olympia': 274,
 'Barbican Centre, Barbican': 275,
 'Lower Thames Street, Monument': 276,
 'Kensington Church Street, Kensington': 277,
 'Tooley Street, Bermondsey': 278,
 'North Wharf Road, Paddington': 279,
 'Royal Avenue 2, Chelsea': 280,
 'Smith Square, Westminster': 281,
 'Royal London Hospital, Whitechapel': 282,
 'Kingsway, Covent Garden': 283,
 'Lambeth North Station, Waterloo': 284,
 "St. John's Wood Road, St. John's Wood": 286,
 'Bedford Way, Bloomsbury': 287,
 'Elizabeth Bridge, Victoria': 288,
 'South Audley Street, Mayfair': 289,
 'Winsland Street, Paddington': 290,
 'Claverton Street, Pimlico': 291,
 'Montpelier Street, Knightsbridge': 292,
 'Kensington Olympia Station, Olympia': 293,
 "St. George's Square, Pimlico": 294,
 'Swan Street, The Borough': 295,
 "Knaresborough Place, Earl's Court": 296,
 'Geraldine Street, Elephant & Castle': 297,
 'Curlew Street, Shad Thames': 298,
 'Vincent Square, Westminster': 299,
 'Serpentine Car Park, Hyde Park': 300,
 'Marylebone Lane, Marylebone': 301,
 'Putney Pier, Wandsworth': 302,
 'Albert Gate, Hyde Park': 303,
 'Kennington Lane Tesco, Vauxhall': 305,
 'Rathbone Street, Fitzrovia': 306,
 'Black Lion Gate, Kensington Gardens': 307,
 'Long Lane , Bermondsey': 308,
 'Embankment (Savoy), Strand': 309,
 'Black Prince Road, Vauxhall': 310,
 'Foley Street, Fitzrovia': 311,
 "Grove End Road, St. John's Wood": 312,
 'Wells Street, Fitzrovia': 313,
 'Tyers Gate, Bermondsey': 314,
 "The Tennis Courts, The Regent's Park": 315,
 'Warwick Row, Westminster': 316,
 'Dickens Square, Borough': 317,
 'Sackville Street, Mayfair': 318,
 "Baldwin Street, St. Luke's": 319,
 'Queen Mother Sports Centre, Victoria': 320,
 'Bermondsey Street, Bermondsey': 321,
 'Palissy Street, Shoreditch': 322,
 'Clifton Street, Shoreditch': 323,
 'Ontario Street, Elephant & Castle': 324,
 "St. Martin's Street, West End": 325,
 'Graham Street, Angel': 326,
 'New North Road 1, Hoxton': 327,
 'New North Road 2, Hoxton': 328,
 "Prince Albert Road, The Regent's Park": 329,
 'Eastbourne Mews, Paddington': 330,
 'Bunhill Row, Moorgate': 331,
 "Nevern Place, Earl's Court": 332,
 'Palace Gardens Terrace, Notting Hill': 333,
 'Concert Hall Approach 1, South Bank': 334,
 'Tavistock Street, Covent Garden': 335,
 'Concert Hall Approach 2, South Bank': 336,
 'Pembridge Villas, Notting Hill': 337,
 'Wellington Street , Strand': 338,
 'Risinghill Street, Angel': 339,
 'Bank of England Museum, Bank': 340,
 'Craven Street, Strand': 341,
 "London Zoo Car Park, The Regent's Park": 343,
 'Goswell Road (City Uni), Finsbury': 344,
 'Flood Street, Chelsea': 345,
 'Lower Marsh, Waterloo': 347,
 'Grosvenor Square, Mayfair': 348,
 'St. George Street, Mayfair': 349,
 "Queen's Gate, Kensington Gardens": 350,
 'Macclesfield Rd, St Lukes': 351,
 'Vauxhall Street, Vauxhall': 352,
 'Greycoat Street , Westminster': 353,
 'Northumberland Avenue, Strand': 354,
 'Oval Way, Vauxhall': 355,
 'South Kensington Station, South Kensington': 356,
 'Howland Street, Fitzrovia': 357,
 'High Holborn , Covent Garden': 358,
 'Butler Place, Westminster': 359,
 'Howick Place, Westminster': 360,
 'Waterloo Station 2, Waterloo': 361,
 'Royal College Street, Camden Town': 362,
 "Lord's, St. John's Wood": 363,
 'Alfred Place, Bloomsbury': 364,
 'City Road, Angel': 365,
 'Millennium Hotel, Mayfair': 366,
 'Harrowby Street, Marylebone': 367,
 'Harriet Street, Knightsbridge': 368,
 'Paddington Green, Paddington': 370,
 'King Edward Walk, Waterloo': 371,
 'Sardinia Street, Holborn': 372,
 'Prince Consort Road, Knightsbridge': 373,
 'Waterloo Station 1, Waterloo': 374,
 'Kensington Town Hall, Kensington': 375,
 'Millbank Tower, Pimlico': 376,
 'Waterloo Bridge, South Bank': 377,
 'Natural History Museum, South Kensington': 378,
 'Turquoise Island, Notting Hill': 379,
 'Stanhope Gate, Mayfair': 380,
 'Charlotte Street, Fitzrovia': 381,
 'Farm Street, Mayfair': 382,
 'Frith Street, Soho': 383,
 'Marloes Road, Kensington': 384,
 'Moor Street, Soho': 386,
 'Fire Brigade Pier, Vauxhall': 387,
 'Southampton Street, Strand': 388,
 'Upper Grosvenor Street, Mayfair': 389,
 'Buxton Street 1, Shoreditch': 390,
 'Imperial College, Knightsbridge': 392,
 'Snow Hill, Farringdon': 393,
 "Aberdeen Place, St. John's Wood": 394,
 'Cadogan Gardens, Chelsea': 395,
 'Shouldham Street, Marylebone': 396,
 'Devonshire Terrace, Bayswater': 397,
 'Holland Park, Kensington': 398,
 'Brick Lane Market, Shoreditch': 399,
 'George Street, Marylebone': 400,
 'Columbia Road, Shoreditch': 401,
 'Penfold Street, Marylebone': 402,
 'George Place Mews, Marylebone': 403,
 'Palace Gate, Kensington Gardens': 404,
 'Gloucester Road Station, South Kensington': 405,
 'Paddington Green Police Station, Paddington': 408,
 'Strata, Elephant & Castle': 409,
 'Edgware Road Station, Marylebone': 410,
 'Walworth Road, Elephant & Castle': 411,
 'Cleaver Street, Kennington': 412,
 'Chelsea Bridge, Pimlico': 419,
 'Southwark Station 1, Southwark': 420,
 'Southwark Station 2, Southwark': 421,
 'Eaton Square (South), Belgravia': 423,
 'Ebury Bridge, Pimlico': 424,
 'Harrington Square 2, Camden Town': 425,
 'Vincent Street, Pimlico': 426,
 'Cheapside, Bank': 427,
 'Exhibition Road, Knightsbridge': 428,
 'South Parade, Chelsea': 430,
 "Crinan Street, King's Cross": 431,
 'Exhibition Road Museums, South Kensington': 432,
 'Wren Street, Holborn': 433,
 'Kennington Station, Kennington': 435,
 'Red Lion Street, Holborn': 436,
 'Vauxhall Walk, Vauxhall': 437,
 "Killick Street, King's Cross": 439,
 'Kennington Oval, Oval': 440,
 'Sail Street, Vauxhall': 441,
 'Walmer Road, Avondale': 442,
 'Philpot Street, Whitechapel': 443,
 'Bethnal Green Garden, Bethnal Green': 444,
 'Cheshire Street, Bethnal Green': 445,
 'York Hall, Bethnal Green': 446,
 'Jubilee Crescent, Cubitt Town': 447,
 "Fisherman's Walk West, Canary Wharf": 448,
 'Shadwell Station, Shadwell': 449,
 'Jubilee Street, Stepney': 450,
 'Hermitage Court, Wapping': 451,
 "St. Katharine's Way, Tower": 452,
 'Garnet Street, Shadwell': 453,
 'Napier Avenue, Millwall': 454,
 'East Ferry Road, Cubitt Town': 455,
 'Parkway, Camden Town': 456,
 'Castlehaven Road, Camden Town': 457,
 'Wapping Lane, Wapping': 458,
 'Gunmakers Lane, Old Ford': 459,
 'Burdett Road, Mile End': 460,
 'Aston Street, Stepney': 461,
 'Bonny Street, Camden Town': 462,
 'Thurtle road, Haggerston': 463,
 'St. Mary & St. Michael Church, Stepney': 464,
 'Pitfield Street North,Hoxton': 465,
 'Whiston Road, Haggerston': 466,
 'Southern Grove, Bow': 467,
 'Cantrell Road, Bow': 468,
 'Lindfield Street, Poplar': 469,
 'Mostyn Grove, Bow': 470,
 'Hewison Street, Old Ford': 471,
 'Malmesbury Road, Bow': 472,
 'Millharbour, Millwall': 473,
 'Castalia Square, Cubitt Town': 474,
 'Lightermans Road, Millwall': 475,
 'Stebondale Street, Cubitt Town': 476,
 'Spindrift Avenue, Millwall': 477,
 'Stepney Green Station, Stepney': 478,
 'Pott Street, Bethnal Green': 479,
 'Flamborough Street, Limehouse': 480,
 'Saunders Ness Road, Cubitt Town': 481,
 'Albert Gardens, Stepney': 483,
 'Bromley High Street, Bow': 484,
 'Old Ford Road, Bethnal Green': 485,
 'Granby Street, Shoreditch': 486,
 'Canton Street, Poplar': 487,
 'Reardon Street, Wapping': 488,
 'Christian Street, Whitechapel': 489,
 'Pennington Street, Wapping': 490,
 "Queen Mary's, Mile End": 491,
 'The Green Bridge, Mile End': 492,
 'South Quay East, Canary Wharf': 494,
 'Bow Church Station, Bow': 495,
 'Devons Road, Bow': 496,
 'Merchant Street, Bow': 497,
 'Bow Road Station, Bow': 498,
 'Furze Green, Bow': 499,
 'Ansell House, Stepney': 500,
 'Cephas Street, Bethnal Green': 501,
 'Bonner Gate, Victoria Park': 502,
 'Cleveland Way, Stepney': 503,
 "St. John's Park, Cubitt Town": 504,
 'Ackroyd Drive, Bow': 505,
 'Bell Lane, Liverpool Street': 506,
 'Clarkson Street, Bethnal Green': 507,
 'Fournier Street, Whitechapel': 508,
 'Fore Street, Guildhall': 509,
 'Westferry DLR, Limehouse': 510,
 'Sutton Street, Shadwell': 511,
 "Pritchard's Road, Bethnal Green": 512,
 'Watney Market, Stepney': 513,
 'Portman Square, Marylebone': 514,
 'Russell Gardens, Olympia': 515,
 'Chrisp Street Market, Poplar': 516,
 'Ford Road, Old Ford': 517,
 'Antill Road, Mile End': 518,
 'Teviot Street, Poplar': 519,
 'Bancroft Road, Bethnal Green': 520,
 'Driffield Road, Old Ford': 521,
 'Clinton Road, Mile End': 522,
 'Langdon Park, Poplar': 523,
 'Lancaster Gate , Bayswater': 524,
 'Lancaster Drive, Blackwall': 526,
 'Hansard Mews, Holland Park': 527,
 'Clarges Street, Mayfair': 528,
 'Manresa Road, Chelsea': 529,
 'Newby Place, Poplar': 530,
 'Twig Folly Bridge, Mile End': 531,
 'Jubilee Plaza, Canary Wharf': 532,
 'Wellington Row, Bethnal Green': 533,
 "Goldsmith's Row, Haggerston": 534,
 'Gloucester Avenue, Camden Town': 535,
 'Queensbridge Road, Haggerston': 536,
 'Old Montague Street, Whitechapel': 537,
 'Naval Row, Blackwall': 538,
 'Hoxton Station, Hoxton': 539,
 "Albany Street, The Regent's Park": 540,
 'Green Park Station, Mayfair': 541,
 'Salmon Lane, Limehouse': 542,
 'Lansdowne Walk, Ladbroke Grove': 543,
 'Percival Street, Finsbury': 544,
 'Arlington Road, Camden Town': 545,
 'New Fetter Lane, Holborn': 546,
 'East India DLR, Blackwall': 547,
 'Westminster Bridge Road, Elephant & Castle': 548,
 'Gaywood  Street, Elephant & Castle': 549,
 'Harford Street, Mile End': 550,
 'Import Dock, Canary Wharf': 551,
 'Watney Street, Shadwell': 552,
 "Regent's Row , Haggerston ": 553,
 'Aberfeldy Street, Poplar': 554,
 'Heron Quays DLR, Canary Wharf': 556,
 'King Edward Street, St Pauls': 557,
 'Page Street, Westminster': 558,
 'Abbotsbury Road, Holland Park': 559,
 'Ladbroke Grove Central, Ladbroke Grove': 560,
 'Rectory Square, Stepney': 561,
 'Bury Place, Holborn': 562,
 "Preston's Road, Cubitt Town": 563,
 'Somerset House, Strand': 564,
 'Selby Street, Whitechapel': 565,
 'Westfield Ariel Way, White City': 566,
 "Bishop's Bridge Road West, Bayswater": 568,
 'Pitfield Street Central, Hoxton': 569,
 'Upper Bank Street, Canary Wharf': 570,
 "Westfield Southern Terrace ,Shepherd's Bush": 571,
 'Greenland Road, Camden Town': 572,
 'Limerston Street, West Chelsea': 573,
 'Eagle Wharf Road, Hoxton': 574,
 'Alpha Grove, Millwall': 576,
 'Globe Town Market, Bethnal Green': 577,
 'Hollybush Gardens, Bethnal Green': 578,
 'Queen Street 2, Bank': 579,
 'Doddington Grove, Kennington': 580,
 'New Cavendish Street, Marylebone': 581,

In [56]:
bd_data_2022_clean5 = bd_data_2022_clean4.copy()
for index, row in bd_data_2022_clean5.iterrows():
    if pd.isnull(row['StartStation Id']) and row['StartStation Name'] in loaded_dict:
        bd_data_2022_clean5.at[index, 'StartStation Id'] = loaded_dict[row['StartStation Name']]

In [57]:
bd_data_2022_clean6 = bd_data_2022_clean5.copy()
for index, row in bd_data_2022_clean6.iterrows():
    if pd.isnull(row['EndStation Id']) and row['EndStation Name'] in loaded_dict:
        bd_data_2022_clean6.at[index, 'EndStation Id'] = loaded_dict[row['EndStation Name']]

In [58]:
bd_data_2022_clean6.isnull().sum()

Rental Id                  0
Duration             2592389
Bike Id                    0
End Date                   0
EndStation Id              0
EndStation Name            0
Start Date                 0
StartStation Id            0
StartStation Name          0
SS Terminal Name     8874263
ES Terminal Name     8874263
Bike model           8874263
Hour                       0
Day                        0
dtype: int64

In [59]:
bd_data_2022_clean6

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:00:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 23:00:00,529.0,"Manresa Road, Chelsea",None,None,None,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:00:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",None,None,None,18,1
2,116016563.0,480.0,19861.0,2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",2022-01-04 19:00:00,57.0,"Guilford Street , Bloomsbury",None,None,None,18,1
3,116014412.0,1260.0,17235.0,2022-01-04 18:00:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:00:00,297.0,"Geraldine Street, Elephant & Castle",None,None,None,17,1
4,116013350.0,480.0,13790.0,2022-01-04 17:00:00,252.0,"Jubilee Gardens, South Bank",2022-01-04 17:00:00,310.0,"Black Prince Road, Vauxhall",None,None,None,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11466647,125180379.0,NaN,40132.0,2022-09-10 00:00:00,282.0,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,531.0,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11466648,125180380.0,NaN,55479.0,2022-09-10 01:00:00,270.0,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:00:00,781.0,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11466649,125180381.0,NaN,58637.0,2022-09-10 00:00:00,155.0,"Lexham Gardens, Kensington",2022-09-10 00:00:00,157.0,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11466650,125180382.0,NaN,30110.0,2022-09-10 00:00:00,549.0,"Gaywood Street, Elephant & Castle",2022-09-10 00:00:00,827.0,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11466651,125180375.0,NaN,54228.0,2022-09-10 01:00:00,451.0,"Hermitage Court, Wapping",2022-09-10 00:00:00,451.0,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

In [60]:
# creating a new dictionary with switched keys and values so the id is the key and the station name is the value
id_station_dict = {value: key for key, value in loaded_dict.items()}

In [61]:
print(id_station_dict)

{1: 'River Street , Clerkenwell', 2: 'Phillimore Gardens, Kensington', 3: 'Christopher Street, Liverpool Street', 4: "St. Chad's Street, King's Cross", 5: 'Sedding Street, Sloane Square', 6: 'Broadcasting House, Marylebone', 7: "Charlbert Street, St. John's Wood", 8: 'Maida Vale, Maida Vale', 9: 'New Globe Walk, Bankside', 10: 'Park Street, Bankside', 11: 'Brunswick Square, Bloomsbury', 12: 'Malet Street, Bloomsbury', 13: 'Scala Street, Fitzrovia', 14: "Belgrove Street , King's Cross", 15: 'Great Russell Street, Bloomsbury', 16: 'Cartwright Gardens , Bloomsbury', 17: 'Hatton Wall, Holborn', 18: 'Drury Lane, Covent Garden', 19: 'Taviton Street, Bloomsbury', 20: 'Drummond Street , Euston', 21: 'Hampstead Road (Cartmel), Euston', 22: 'Northington Street , Holborn', 23: 'Red Lion Square, Holborn', 24: 'British Museum, Bloomsbury', 25: 'Doric Way , Somers Town', 26: 'Ampton Street , Clerkenwell', 27: 'Bouverie Street, Temple', 28: 'Bolsover Street, Fitzrovia', 29: 'Hereford Road, Bayswater', 30: 'Windsor Terrace, Hoxton', 31: 'Fanshaw Street, Hoxton', 32: 'Leonard Circus , Shoreditch', 33: 'Central House, Aldgate', 34: "Pancras Road, King's Cross", 36: 'De Vere Gardens, Kensington', 37: "Penywern Road, Earl's Court", 38: 'Abingdon Villas, Kensington', 39: 'Shoreditch High Street, Shoreditch', 40: 'Commercial Street, Shoreditch', 41: 'Pindar Street, Liverpool Street', 42: 'Wenlock Road , Hoxton', 43: 'Crawford Street, Marylebone', 44: 'Bruton Street, Mayfair', 45: 'Boston Place, Marylebone', 46: 'Nesham Street, Wapping', 47: 'Warwick Avenue Station, Maida Vale', 48: "Godliman Street, St. Paul's", 49: 'Curzon Street, Mayfair', 50: 'East Road, Hoxton', 51: 'Finsbury Library , Finsbury', 52: "Roscoe Street, St. Luke's", 53: 'Grafton Street, Mayfair', 54: 'Golden Lane, Barbican', 55: 'Finsbury Circus, Liverpool Street', 56: 'Paddington Street, Marylebone', 57: 'Guilford Street , Bloomsbury', 58: 'New Inn Yard, Shoreditch', 60: "Lisson Grove, St. John's Wood", 61: 'Great Dover Street, The Borough', 62: 'Cotton Garden Estate, Kennington', 63: 'Murray Grove , Hoxton', 64: 'William IV Street, Strand', 65: 'Gower Place , Euston', 66: 'Holborn Circus, Holborn', 67: 'Hatton Garden, Holborn', 68: "Theobald's Road , Holborn", 69: 'Euston Road, Euston', 70: "Calshot Street , King's Cross", 71: "Newgate Street , St. Paul's", 72: 'Farringdon Lane, Clerkenwell', 73: "Old Street Station, St. Luke's", 74: 'Vauxhall Cross, Vauxhall', 75: 'Torrens Street, Angel', 76: "Longford Street, The Regent's Park", 77: 'Russell Square Station, Bloomsbury', 78: 'Sadlers Sports Centre, Finsbury', 79: 'Arundel Street, Temple', 80: 'Webber Street , Southwark', 81: 'Great Titchfield Street, Fitzrovia', 82: 'Chancery Lane, Holborn', 83: 'Panton Street, West End', 84: 'Breams Buildings, Holborn', 85: 'Tanner Street, Bermondsey', 86: 'Sancroft Street, Vauxhall', 87: 'Devonshire Square, Liverpool Street', 88: 'Bayley Street , Bloomsbury', 89: 'Tavistock Place, Bloomsbury', 90: 'Harrington Square 1, Camden Town', 91: 'Walnut Tree Walk, Vauxhall', 92: 'Borough Road, Elephant & Castle', 93: 'Cloudesley Road, Angel', 94: 'Bricklayers Arms, Borough', 95: 'Aldersgate Street, Barbican', 96: 'Falkirk Street, Hoxton', 97: 'Gloucester Road (North), Kensington', 98: 'Hampstead Road, Euston', 99: 'Old Quebec Street, Marylebone', 100: 'Albert Embankment, Vauxhall', 101: 'Queen Street 1, Bank', 102: 'Jewry Street, Aldgate', 103: 'Vicarage Gate, Kensington', 104: 'Crosswall, Tower', 105: 'Westbourne Grove, Bayswater', 106: 'Woodstock Street, Mayfair', 107: "Finsbury Leisure Centre, St. Luke's", 108: 'Abbey Orchard Street, Westminster', 109: 'Soho Square , Soho', 110: "Wellington Road, St. John's Wood", 111: 'Park Lane , Hyde Park', 112: 'Stonecutter Street, Holborn', 113: 'Gloucester Road (Central), South Kensington', 114: "Park Road (Baker Street), The Regent's Park", 115: 'Braham Street, Aldgate', 116: 'Little Argyll Street, West End', 117: 'Lollard Street, Vauxhall', 118: 'Rochester Row, Westminster', 119: "Bath Street, St. Luke's", 120: 'The Guildhall, Guildhall', 121: 'Baker Street, Marylebone', 122: 'Norton Folgate, Liverpool Street', 123: 'St. John Street, Finsbury', 124: 'Eaton Square, Belgravia', 125: 'Borough High Street, The Borough', 126: 'Museum of London, Barbican', 127: 'Wood Street, Guildhall', 128: "Emperor's Gate, South Kensington", 129: 'Golden Square, Soho', 130: 'Tower Gardens , Tower', 131: 'Eversholt Street , Camden Town', 132: 'Bethnal Green Road, Shoreditch', 133: 'Derry Street, Kensington', 134: 'Wapping High Street, Wapping', 135: 'Clerkenwell Green, Clerkenwell', 136: "Queen Victoria Street, St. Paul's", 138: 'Green Street, Mayfair', 139: 'Lambeth Road, Vauxhall', 140: 'Finsbury Square , Moorgate', 141: 'Chapel Place, Marylebone', 142: "West Cromwell Road, Earl's Court", 143: 'Pont Street, Knightsbridge', 144: 'Kennington Cross, Kennington', 145: 'Ilchester Place, Kensington', 146: 'Vauxhall Bridge , Pimlico', 148: 'Tachbrook Street, Victoria', 149: 'Kennington Road Post Office, Oval', 150: 'Holy Trinity Brompton, Knightsbridge', 151: 'Chepstow Villas, Notting Hill', 152: 'Hampton Street, Walworth', 153: 'Bayswater Road, Hyde Park', 154: 'Waterloo Station 3, Waterloo', 155: 'Lexham Gardens, Kensington', 156: 'New Kent Road, The Borough', 157: "Wright's Lane, Kensington", 158: "Trebovir Road, Earl's Court", 159: 'Great Marlborough Street, Soho', 160: "Waterloo Place, St. James's", 161: 'Guildhouse Street, Victoria', 162: 'Southampton Place, Holborn', 163: 'Sloane Avenue, Knightsbridge', 164: 'Cleveland Gardens, Bayswater', 165: 'Orsett Terrace, Bayswater', 166: 'Seville Street, Knightsbridge', 167: 'Eccleston Place, Victoria', 168: 'Argyll Road, Kensington', 169: 'Porchester Place, Paddington', 170: 'Hardwick Street, Clerkenwell', 171: "Collingham Gardens, Earl's Court", 172: 'Sumner Place, South Kensington', 173: 'Waterloo Road, South Bank', 174: 'Strand, Strand', 175: 'Worship Street, Shoreditch', 176: 'Gloucester Terrace, Bayswater', 177: 'Ashley Place, Victoria', 178: 'Warwick Square, Pimlico', 180: 'North Audley Street, Mayfair', 181: 'Belgrave Square, Belgravia', 182: 'Bell Street , Marylebone', 183: 'Riverlight North, Nine Elms', 184: 'Portland Place, Marylebone', 185: 'Alderney Street, Pimlico', 186: 'South Wharf Road, Paddington', 187: "Queen's Gate (South), South Kensington", 188: 'Nutford Place, Marylebone', 189: 'Claremont Square, Angel', 190: 'Rampayne Street, Pimlico', 191: 'Hyde Park Corner, Hyde Park', 192: 'Wardour Street, Soho', 193: 'Bankside Mix, Bankside', 194: 'Hop Exchange, The Borough', 195: 'Milroy Walk, South Bank', 196: 'Union Street, The Borough', 197: 'Stamford Street, South Bank', 199: 'Great Tower Street, Monument', 200: 'LMU Commercial Road, Whitechapel', 201: 'Dorset Square, Marylebone', 202: 'Leman Street, Aldgate', 203: 'West Smithfield Rotunda, Farringdon', 204: 'Margery Street, Clerkenwell', 206: 'New Road 1 , Whitechapel', 207: 'Grosvenor Crescent, Belgravia', 208: 'Mallory Street, Marylebone', 209: 'Denyer Street, Knightsbridge', 210: 'Hinde Street, Marylebone', 211: 'Cadogan Place, Knightsbridge', 212: 'Campden Hill Road, Notting Hill', 213: 'Wellington Arch, Hyde Park', 214: 'Endsleigh Gardens, Euston', 215: 'Moorfields, Moorgate', 216: 'Old Brompton Road, South Kensington', 217: 'Wormwood Street, Liverpool Street', 218: "St. Luke's Church, Chelsea", 219: "Bramham Gardens, Earl's Court", 220: 'Chelsea Green, Chelsea', 221: 'Horseferry Road, Westminster', 222: 'Knightsbridge, Hyde Park', 223: 'Rodney Road , Walworth', 224: 'Queensway, Westminster', 225: 'Notting Hill Gate Station, Notting Hill', 226: 'Charles II Street, West End', 227: 'Great Percy Street, Clerkenwell', 228: "St. James's Square, St. James's", 229: 'Whitehall Place, Strand', 230: 'Poured Lines, Bankside', 231: "Queen's Gate (Central), South Kensington", 232: 'Carey Street, Holborn', 233: 'Pall Mall East, West End', 234: 'Liverpool Road (N1 Centre), Angel', 235: 'Kennington Road  , Vauxhall', 236: 'Fashion Street, Whitechapel', 237: 'Dock Street, Wapping', 238: 'Frampton Street, Paddington', 239: 'Warren Street Station, Euston', 240: 'Colombo Street, Southwark', 242: 'Beaumont Street, Marylebone', 243: 'Gloucester Street, Pimlico', 244: 'Earnshaw Street , Covent Garden', 245: 'Grosvenor Road, Pimlico', 246: 'Berry Street, Clerkenwell', 247: "St. John's Wood Church, The Regent's Park", 248: 'Triangle Car Park, Hyde Park', 249: 'Harper Road, The Borough', 250: 'Royal Avenue 1, Chelsea', 251: 'Brushfield Street, Liverpool Street', 252: 'Jubilee Gardens, South Bank', 253: 'Shoreditch Park, Hoxton', 254: 'Chadwell Street, Angel', 255: 'Clifton Road, Maida Vale', 256: 'Houghton Street, Strand', 257: 'Westminster University, Marylebone', 258: 'Kensington Gore, Knightsbridge', 259: 'Bourne Street, Belgravia', 260: 'Broadwick Street, Soho', 261: 'Princes Square, Bayswater', 262: 'LSBU (Borough Road), Elephant & Castle', 263: 'St. Mary Axe, Aldgate', 264: 'Tysoe Street, Clerkenwell', 265: 'Southwick Street, Paddington', 266: "Queen's Gate (North), Kensington", 267: 'Regency Street, Westminster', 268: 'Belgrave Road, Victoria', 269: 'Empire Square, The Borough', 270: 'Kennington Lane Rail Bridge, Vauxhall', 271: "London Zoo,  The Regent's Park", 272: 'Baylis Road, Waterloo', 273: 'Belvedere Road 1, South Bank', 274: 'Warwick Road, Olympia', 275: 'Barbican Centre, Barbican', 276: 'Lower Thames Street, Monument', 277: 'Kensington Church Street, Kensington', 278: 'Tooley Street, Bermondsey', 279: 'North Wharf Road, Paddington', 280: 'Royal Avenue 2, Chelsea', 281: 'Smith Square, Westminster', 282: 'Royal London Hospital, Whitechapel', 283: 'Kingsway, Covent Garden', 284: 'Lambeth North Station, Waterloo', 286: "St. John's Wood Road, St. John's Wood", 287: 'Bedford Way, Bloomsbury', 288: 'Elizabeth Bridge, Victoria', 289: 'South Audley Street, Mayfair', 290: 'Winsland Street, Paddington', 291: 'Claverton Street, Pimlico', 292: 'Montpelier Street, Knightsbridge', 293: 'Kensington Olympia Station, Olympia', 294: "St. George's Square, Pimlico", 295: 'Swan Street, The Borough', 296: "Knaresborough Place, Earl's Court", 297: 'Geraldine Street, Elephant & Castle', 298: 'Curlew Street, Shad Thames', 299: 'Vincent Square, Westminster', 300: 'Serpentine Car Park, Hyde Park', 301: 'Marylebone Lane, Marylebone', 302: 'Putney Pier, Wandsworth', 303: 'Albert Gate, Hyde Park', 305: 'Kennington Lane Tesco, Vauxhall', 306: 'Rathbone Street, Fitzrovia', 307: 'Black Lion Gate, Kensington Gardens', 308: 'Long Lane , Bermondsey', 309: 'Embankment (Savoy), Strand', 310: 'Black Prince Road, Vauxhall', 311: 'Foley Street, Fitzrovia', 312: "Grove End Road, St. John's Wood", 313: 'Wells Street, Fitzrovia', 314: 'Tyers Gate, Bermondsey', 315: "The Tennis Courts, The Regent's Park", 316: 'Warwick Row, Westminster', 317: 'Dickens Square, Borough', 318: 'Sackville Street, Mayfair', 319: "Baldwin Street, St. Luke's", 320: 'Queen Mother Sports Centre, Victoria', 321: 'Bermondsey Street, Bermondsey', 322: 'Palissy Street, Shoreditch', 323: 'Clifton Street, Shoreditch', 324: 'Ontario Street, Elephant & Castle', 325: "St. Martin's Street, West End", 326: 'Graham Street, Angel', 327: 'New North Road 1, Hoxton', 328: 'New North Road 2, Hoxton', 329: "Prince Albert Road, The Regent's Park", 330: 'Eastbourne Mews, Paddington', 331: 'Bunhill Row, Moorgate', 332: "Nevern Place, Earl's Court", 333: 'Palace Gardens Terrace, Notting Hill', 334: 'Concert Hall Approach 1, South Bank', 335: 'Tavistock Street, Covent Garden', 336: 'Concert Hall Approach 2, South Bank', 337: 'Pembridge Villas, Notting Hill', 338: 'Wellington Street , Strand', 339: 'Risinghill Street, Angel', 340: 'Bank of England Museum, Bank', 341: 'Craven Street, Strand', 343: "London Zoo Car Park, The Regent's Park", 344: 'Goswell Road (City Uni), Finsbury', 345: 'Flood Street, Chelsea', 347: 'Lower Marsh, Waterloo', 348: 'Grosvenor Square, Mayfair', 349: 'St. George Street, Mayfair', 350: "Queen's Gate, Kensington Gardens", 351: 'Macclesfield Rd, St Lukes', 352: 'Vauxhall Street, Vauxhall', 353: 'Greycoat Street , Westminster', 354: 'Northumberland Avenue, Strand', 355: 'Oval Way, Vauxhall', 356: 'South Kensington Station, South Kensington', 357: 'Howland Street, Fitzrovia', 358: 'High Holborn , Covent Garden', 359: 'Butler Place, Westminster', 360: 'Howick Place, Westminster', 361: 'Waterloo Station 2, Waterloo', 362: 'Royal College Street, Camden Town', 363: "Lord's, St. John's Wood", 364: 'Alfred Place, Bloomsbury', 365: 'City Road, Angel', 366: 'Millennium Hotel, Mayfair', 367: 'Harrowby Street, Marylebone', 368: 'Harriet Street, Knightsbridge', 370: 'Paddington Green, Paddington', 371: 'King Edward Walk, Waterloo', 372: 'Sardinia Street, Holborn', 373: 'Prince Consort Road, Knightsbridge', 374: 'Waterloo Station 1, Waterloo', 375: 'Kensington Town Hall, Kensington', 376: 'Millbank Tower, Pimlico', 377: 'Waterloo Bridge, South Bank', 378: 'Natural History Museum, South Kensington', 379: 'Turquoise Island, Notting Hill', 380: 'Stanhope Gate, Mayfair', 381: 'Charlotte Street, Fitzrovia', 382: 'Farm Street, Mayfair', 383: 'Frith Street, Soho', 384: 'Marloes Road, Kensington', 386: 'Moor Street, Soho', 387: 'Fire Brigade Pier, Vauxhall', 388: 'Southampton Street, Strand', 389: 'Upper Grosvenor Street, Mayfair', 390: 'Buxton Street 1, Shoreditch', 392: 'Imperial College, Knightsbridge', 393: 'Snow Hill, Farringdon', 394: "Aberdeen Place, St. John's Wood", 395: 'Cadogan Gardens, Chelsea', 396: 'Shouldham Street, Marylebone', 397: 'Devonshire Terrace, Bayswater', 398: 'Holland Park, Kensington', 399: 'Brick Lane Market, Shoreditch', 400: 'George Street, Marylebone', 401: 'Columbia Road, Shoreditch', 402: 'Penfold Street, Marylebone', 403: 'George Place Mews, Marylebone', 404: 'Palace Gate, Kensington Gardens', 405: 'Gloucester Road Station, South Kensington', 408: 'Paddington Green Police Station, Paddington', 409: 'Strata, Elephant & Castle', 410: 'Edgware Road Station, Marylebone', 411: 'Walworth Road, Elephant & Castle', 412: 'Cleaver Street, Kennington', 419: 'Chelsea Bridge, Pimlico', 420: 'Southwark Station 1, Southwark', 421: 'Southwark Station 2, Southwark', 423: 'Eaton Square (South), Belgravia', 424: 'Ebury Bridge, Pimlico', 425: 'Harrington Square 2, Camden Town', 426: 'Vincent Street, Pimlico', 427: 'Cheapside, Bank', 428: 'Exhibition Road, Knightsbridge', 430: 'South Parade, Chelsea', 431: "Crinan Street, King's Cross", 432: 'Exhibition Road Museums, South Kensington', 433: 'Wren Street, Holborn', 435: 'Kennington Station, Kennington', 436: 'Red Lion Street, Holborn', 437: 'Vauxhall Walk, Vauxhall', 439: "Killick Street, King's Cross", 440: 'Kennington Oval, Oval', 441: 'Sail Street, Vauxhall', 442: 'Walmer Road, Avondale', 443: 'Philpot Street, Whitechapel', 444: 'Bethnal Green Garden, Bethnal Green', 445: 'Cheshire Street, Bethnal Green', 446: 'York Hall, Bethnal Green', 447: 'Jubilee Crescent, Cubitt Town', 448: "Fisherman's Walk West, Canary Wharf", 449: 'Shadwell Station, Shadwell', 450: 'Jubilee Street, Stepney', 451: 'Hermitage Court, Wapping', 452: "St. Katharine's Way, Tower", 453: 'Garnet Street, Shadwell', 454: 'Napier Avenue, Millwall', 455: 'East Ferry Road, Cubitt Town', 456: 'Parkway, Camden Town', 457: 'Castlehaven Road, Camden Town', 458: 'Wapping Lane, Wapping', 459: 'Gunmakers Lane, Old Ford', 460: 'Burdett Road, Mile End', 461: 'Aston Street, Stepney', 462: 'Bonny Street, Camden Town', 463: 'Thurtle road, Haggerston', 464: 'St. Mary & St. Michael Church, Stepney', 465: 'Pitfield Street North,Hoxton', 466: 'Whiston Road, Haggerston', 467: 'Southern Grove, Bow', 468: 'Cantrell Road, Bow', 469: 'Lindfield Street, Poplar', 470: 'Mostyn Grove, Bow', 471: 'Hewison Street, Old Ford', 472: 'Malmesbury Road, Bow', 473: 'Millharbour, Millwall', 474: 'Castalia Square, Cubitt Town', 475: 'Lightermans Road, Millwall', 476: 'Stebondale Street, Cubitt Town', 477: 'Spindrift Avenue, Millwall', 478: 'Stepney Green Station, Stepney', 479: 'Pott Street, Bethnal Green', 480: 'Flamborough Street, Limehouse', 481: 'Saunders Ness Road, Cubitt Town', 483: 'Albert Gardens, Stepney', 484: 'Bromley High Street, Bow', 485: 'Old Ford Road, Bethnal Green', 486: 'Granby Street, Shoreditch', 487: 'Canton Street, Poplar', 488: 'Reardon Street, Wapping', 489: 'Christian Street, Whitechapel', 490: 'Pennington Street, Wapping', 491: "Queen Mary's, Mile End", 492: 'The Green Bridge, Mile End', 494: 'South Quay East, Canary Wharf', 495: 'Bow Church Station, Bow', 496: 'Devons Road, Bow', 497: 'Merchant Street, Bow', 498: 'Bow Road Station, Bow', 499: 'Furze Green, Bow', 500: 'Ansell House, Stepney', 501: 'Cephas Street, Bethnal Green', 502: 'Bonner Gate, Victoria Park', 503: 'Cleveland Way, Stepney', 504: "St. John's Park, Cubitt Town", 505: 'Ackroyd Drive, Bow', 506: 'Bell Lane, Liverpool Street', 507: 'Clarkson Street, Bethnal Green', 508: 'Fournier Street, Whitechapel', 509: 'Fore Street, Guildhall', 510: 'Westferry DLR, Limehouse', 511: 'Sutton Street, Shadwell', 512: "Pritchard's Road, Bethnal Green", 513: 'Watney Market, Stepney', 514: 'Portman Square, Marylebone', 515: 'Russell Gardens, Olympia', 516: 'Chrisp Street Market, Poplar', 517: 'Ford Road, Old Ford', 518: 'Antill Road, Mile End', 519: 'Teviot Street, Poplar', 520: 'Bancroft Road, Bethnal Green', 521: 'Driffield Road, Old Ford', 522: 'Clinton Road, Mile End', 523: 'Langdon Park, Poplar', 524: 'Lancaster Gate , Bayswater', 526: 'Lancaster Drive, Blackwall', 527: 'Hansard Mews, Holland Park', 528: 'Clarges Street, Mayfair', 529: 'Manresa Road, Chelsea', 530: 'Newby Place, Poplar', 531: 'Twig Folly Bridge, Mile End', 532: 'Jubilee Plaza, Canary Wharf', 533: 'Wellington Row, Bethnal Green', 534: "Goldsmith's Row, Haggerston", 535: 'Gloucester Avenue, Camden Town', 536: 'Queensbridge Road, Haggerston', 537: 'Old Montague Street, Whitechapel', 538: 'Naval Row, Blackwall', 539: 'Hoxton Station, Hoxton', 540: "Albany Street, The Regent's Park", 541: 'Green Park Station, Mayfair', 542: 'Salmon Lane, Limehouse', 543: 'Lansdowne Walk, Ladbroke Grove', 544: 'Percival Street, Finsbury', 545: 'Arlington Road, Camden Town', 546: 'New Fetter Lane, Holborn', 547: 'East India DLR, Blackwall', 548: 'Westminster Bridge Road, Elephant & Castle', 549: 'Gaywood  Street, Elephant & Castle', 550: 'Harford Street, Mile End', 551: 'Import Dock, Canary Wharf', 552: 'Watney Street, Shadwell', 553: "Regent's Row , Haggerston ", 554: 'Aberfeldy Street, Poplar', 556: 'Heron Quays DLR, Canary Wharf', 557: 'King Edward Street, St Pauls', 558: 'Page Street, Westminster', 559: 'Abbotsbury Road, Holland Park', 560: 'Ladbroke Grove Central, Ladbroke Grove', 561: 'Rectory Square, Stepney', 562: 'Bury Place, Holborn', 563: "Preston's Road, Cubitt Town", 564: 'Somerset House, Strand', 565: 'Selby Street, Whitechapel', 566: 'Westfield Ariel Way, White City', 568: "Bishop's Bridge Road West, Bayswater", 569: 'Pitfield Street Central, Hoxton', 570: 'Upper Bank Street, Canary Wharf', 571: "Westfield Southern Terrace ,Shepherd's Bush", 572: 'Greenland Road, Camden Town', 573: 'Limerston Street, West Chelsea', 574: 'Eagle Wharf Road, Hoxton', 576: 'Alpha Grove, Millwall', 577: 'Globe Town Market, Bethnal Green', 578: 'Hollybush Gardens, Bethnal Green', 579: 'Queen Street 2, Bank', 580: 'Doddington Grove, Kennington', 581: 'New Cavendish Street, Marylebone', 583: 'Abingdon Green, Westminster', 584: 'Ilchester Gardens, Bayswater', 586: 'Mudchute DLR, Cubitt Town', 587: 'Monument Street, Monument', 588: 'Hoxton Street, Hoxton', 589: 'Drayton Gardens, West Chelsea', 590: "Greenberry Street, St.John's Wood", 591: "Westfield Library Corner, Shepherd's Bush", 592: "Bishop's Bridge Road East, Bayswater", 593: "Northdown Street, King's Cross", 594: 'Kingsway Southbound, Strand', 595: 'Hammersmith Road, Hammersmith', 596: "Parson's Green , Parson's Green", 597: 'Fulham Park Road, Fulham', 598: 'Southerton Road, Hammersmith', 599: 'M

In [62]:
bd_data_2022_clean6

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
0,115967515.0,1260.0,15338.0,2022-01-01 23:00:00,310.0,"Black Prince Road, Vauxhall",2022-01-01 23:00:00,529.0,"Manresa Road, Chelsea",None,None,None,22,5
1,116017034.0,720.0,19861.0,2022-01-04 19:00:00,11.0,"Brunswick Square, Bloomsbury",2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",None,None,None,18,1
2,116016563.0,480.0,19861.0,2022-01-04 19:00:00,804.0,"Good's Way, King's Cross",2022-01-04 19:00:00,57.0,"Guilford Street , Bloomsbury",None,None,None,18,1
3,116014412.0,1260.0,17235.0,2022-01-04 18:00:00,14.0,"Belgrove Street , King's Cross",2022-01-04 17:00:00,297.0,"Geraldine Street, Elephant & Castle",None,None,None,17,1
4,116013350.0,480.0,13790.0,2022-01-04 17:00:00,252.0,"Jubilee Gardens, South Bank",2022-01-04 17:00:00,310.0,"Black Prince Road, Vauxhall",None,None,None,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11466647,125180379.0,NaN,40132.0,2022-09-10 00:00:00,282.0,"Royal London Hospital, Whitechapel",2022-09-10 00:00:00,531.0,"Twig Folly Bridge, Mile End",200167,001077,CLASSIC,0,5
11466648,125180380.0,NaN,55479.0,2022-09-10 01:00:00,270.0,"Kennington Lane Rail Bridge, Vauxhall",2022-09-10 00:00:00,781.0,"Victoria & Albert Museum, South Kensington",300032,001190,CLASSIC,0,5
11466649,125180381.0,NaN,58637.0,2022-09-10 00:00:00,155.0,"Lexham Gardens, Kensington",2022-09-10 00:00:00,157.0,"Wright's Lane, Kensington",001094,001121,CLASSIC,0,5
11466650,125180382.0,NaN,30110.0,2022-09-10 00:00:00,549.0,"Gaywood Street, Elephant & Castle",2022-09-10 00:00:00,827.0,"Cranmer Road, Stockwell",300247,200132,CLASSIC,0,5
11466651,125180375.0,NaN,54228.0,2022-09-10 01:00:00,451.0,"Hermitage Court, Wapping",2022-09-10 00:00:00,451.0,"Hermitage Court, Wapping",200021,200021,CLASSIC,0,5

In [63]:
df_filtered = bd_data_2022_clean6[bd_data_2022_clean6['Start Date'].dt.date =='2022-01-01']
df_filtered

Empty DataFrame
Columns: [Rental Id, Duration, Bike Id, End Date, EndStation Id, EndStation Name, Start Date, StartStation Id, StartStation Name, SS Terminal Name, ES Terminal Name, Bike model, Hour, Day]
Index: []

In [64]:

df_filtered = bd_data_2022_clean6[bd_data_2022_clean6['Start Date'].dt.date == pd.to_datetime('2022-01-12').date()]
df_filtered

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name,SS Terminal Name,ES Terminal Name,Bike model,Hour,Day
73286,116156973.0,240.0,18185.0,2022-01-12 00:00:00,327.0,"New North Road 1, Hoxton",2022-01-12 00:00:00,30.0,"Windsor Terrace, Hoxton",None,None,None,23,1
73779,116156979.0,600.0,20005.0,2022-01-12 00:00:00,597.0,"Fulham Park Road, Fulham",2022-01-12 00:00:00,573.0,"Limerston Street, West Chelsea",None,None,None,23,1
84116,116156959.0,360.0,20224.0,2022-01-12 00:00:00,163.0,"Sloane Avenue, Knightsbridge",2022-01-12 00:00:00,187.0,"Queen's Gate (South), South Kensington",None,None,None,23,1
84645,116156920.0,1020.0,4081.0,2022-01-12 00:00:00,412.0,"Cleaver Street, Kennington",2022-01-12 00:00:00,143.0,"Pont Street, Knightsbridge",None,None,None,23,1
86973,116156932.0,420.0,19995.0,2022-01-12 00:00:00,435.0,"Kennington Station, Kennington",2022-01-12 00:00:00,437.0,"Vauxhall Walk, Vauxhall",None,None,None,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387500,116174767.0,600.0,9036.0,2022-01-12 18:00:00,110.0,"Wellington Road, St. John's Wood",2022-01-12 18:00:00,184.0,"Portland Place, Marylebone",None,None,None,17,2
387503,116172447.0,660.0,20162.0,2022-01-12 17:00:00,14.0,"Belgrove Street , King's Cross",2022-01-12 17:00:00,184.0,"Portland Place, Marylebone",None,None,None,16,2
387504,116173310.0,1200.0,21581.0,2022-01-12 17:00:00,606.0,"Addison Road, Holland Park",2022-01-12 17:00:00,184.0,"Portland Place, Marylebone",None,None,None,17,2
387507,116168459.0,420.0,6018.0,2022-01-12 14:00:00,349.0,"St. George Street, Mayfair",2022-01-12 14:00:00,184.0,"Portland Place, Marylebone",None,None,None,13,2
387508,116167521.0,300.0,18540.0,2022-01-12 13:00:00,301.0,"Marylebone Lane, Marylebone",2022-01-12 13:00:00,184.0,"Portland Place, Marylebone",None,None,None,13,2

In [65]:
events_data_2022 = compute_both_events(bd_data_2022_clean6)

In [66]:
events_data_2022

Station,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,867.0,868.0,869.0,870.0,871.0,872.0,873.0,874.0,875.0,876.0
,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,Arrivals,...,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures,Departures
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-01 01:00:00,0.0,0.0,0.0,5.0,0.0,2.0,3.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-01 02:00:00,0.0,0.0,0.0,3.0,2.0,0.0,3.0,3.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-01 03:00:00,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-01-01 04:00:00,0.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-11 14:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-13 15:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-13 17:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-16 13:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2023-01-17 08:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
# Finally rename the columns according to the chosen names for stations.
events_2022 = events_data_2022.rename(mapper=id_station_dict, axis=1, level=0)
events_2022 = events_2022.sort_index(axis=1, level=0)

In [68]:
events_2022

Station                147.0               391.0               482.0  \
                    Arrivals Departures Arrivals Departures Arrivals
Date
2022-01-01 00:00:00      0.0        0.0      0.0        3.0      0.0
2022-01-01 01:00:00      0.0        0.0      3.0        8.0      0.0
2022-01-01 02:00:00      0.0        0.0      0.0        0.0      4.0
2022-01-01 03:00:00      0.0        0.0      0.0        0.0      0.0
2022-01-01 04:00:00      0.0        0.0      0.0        0.0      6.0
...                      ...        ...      ...        ...      ...
2023-01-11 14:00:00      0.0        0.0      0.0        0.0      0.0
2023-01-13 15:00:00      0.0        0.0      0.0        0.0      0.0
2023-01-13 17:00:00      0.0        0.0      0.0        0.0      0.0
2023-01-16 13:00:00      0.0        0.0      0.0        0.0      0.0
2023-01-17 08:00:00      0.0        0.0      0.0        0.0      0.0

Station                           525.0             \
                    Departures Arrivals Departures
Date
2022-01-01 00:00:00        0.0      0.0        0.0
2022-01-01 01:00:00        0.0      0.0        0.0
2022-01-01 02:00:00        0.0      0.0        0.0
2022-01-01 03:00:00        0.0      0.0        0.0
2022-01-01 04:00:00        0.0      0.0        0.0
...                        ...      ...        ...
2023-01-11 14:00:00        0.0      0.0        0.0
2023-01-13 15:00:00        0.0      0.0        0.0
2023-01-13 17:00:00        0.0      0.0        0.0
2023-01-16 13:00:00        0.0      0.0        0.0
2023-01-17 08:00:00        0.0      0.0        0.0

Station             Abbey Orchard Street, Westminster             ...  \
                                             Arrivals Departures  ...
Date                                                              ...
2022-01-01 00:00:00                               0.0        0.0  ...
2022-01-01 01:00:00                               1.0       24.0  ...
2022-01-01 02:00:00                               1.0        9.0  ...
2022-01-01 03:00:00                               4.0        0.0  ...
2022-01-01 04:00:00                               0.0        0.0  ...
...                                               ...        ...  ...
2023-01-11 14:00:00                               0.0        0.0  ...
2023-01-13 15:00:00                               0.0        0.0  ...
2023-01-13 17:00:00                               0.0        0.0  ...
2023-01-16 13:00:00                               0.0        0.0  ...
2023-01-17 08:00:00                               0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2022-01-01 00:00:00                  0.0        0.0                       1.0
2022-01-01 01:00:00                 12.0        0.0                       6.0
2022-01-01 02:00:00                  4.0        2.0                       0.0
2022-01-01 03:00:00                  1.0        0.0                       0.0
2022-01-01 04:00:00                  2.0        1.0                       0.0
...                                  ...        ...                       ...
2023-01-11 14:00:00                  0.0        0.0                       0.0
2023-01-13 15:00:00                  0.0        0.0                       0.0
2023-01-13 17:00:00                  0.0        0.0                       0.0
2023-01-16 13:00:00                  0.0        0.0                       0.0
2023-01-17 08:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2022-01-01 00:00:00        0.0                   0.0        0.0
2022-01-01 01:00:00        0.0                   0.0        0.0
2022-01-01 02:00:00        0.0                   2.0        4.0
2022-01-01 03:00:00        1.0                   0.0        0.0
2022-01-01 04:00:00        1.0                   0.0        1.0
...                        ...                   ...        ...
2023-01-11 14:00:00        0.0                   0.0        0.0
2023-01-13 15:00:00        0.0                   0.0        0.0
2023-01-13 17:00:00        0.0                   0.0        0.0
2023-01-16 13:00:00        0.0                   0.0        0.0
2023-01-17 08:00:00        0.0                   0.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2022-01-01 00:00:00                      0.0        0.0                   0.0
2022-01-01 01:00:00                      2.0        0.0                   0.0
2022-01-01 02:00:00                      1.0        3.0                   1.0
2022-01-01 03:00:00                      1.0        1.0                   0.0
2022-01-01 04:00:00                      2.0        9.0                   2.0
...                                      ...        ...                   ...
2023-01-11 14:00:00                      0.0        0.0                   0.0
2023-01-13 15:00:00                      0.0        0.0                   0.0
2023-01-13 17:00:00                      0.0        0.0                   0.0
2023-01-16 13:00:00                      0.0        0.0                   0.0
2023-01-17 08:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2022-01-01 00:00:00        0.0
2022-01-01 01:00:00        0.0
2022-01-01 02:00:00        0.0
2022-01-01 03:00:00        0.0
2022-01-01 04:00:00        0.0
...                        ...
2023-01-11 14:00:00        0.0
2023-01-13 15:00:00        0.0
2023-01-13 17:00:00        0.0
2023-01-16 13:00:00        0.0
2023-01-17 08:00:00        0.0

[8831 rows x 1664 columns]

4 stations id 147, 391, 482, 525, still seem to have names assocaited with them.
Let's try to figure out wha thte station names might be

filtering the data using the following code revealed the station names for 
```
id = ...
bd_data_2022_clean6[bd_data_2022_clean6['StartStation Id'] == id]
```
- Id 147 is Portugal Street, Holborn
- Id 391 is Clifford Street, Mayfair
- Id 482 is Exhibition Road Museums 2, South Kensington
- Id 525 is Blythe Road, Olympia (note, of of the 4769 rows associated with 512, 4694 are Blythe Road, Olympia whilst 75 are Cartier Circle, Canary Whard. We assume this to be an error and go with Names over Id in this instance)

In [69]:
test = bd_data_2022_clean6[bd_data_2022_clean6['StartStation Id'] == 525]

test['StartStation Name'].value_counts()

Blythe Road, Olympia            4820
Cartier Circle, Canary Wharf      75
Name: StartStation Name, dtype: int64

In [70]:
add_4_ids_dict = {147 : 'Portugal Street, Holborn', 
                  391 : 'Clifford Street, Mayfair', 
                  482 : 'Exhibition Road Museums 2, South Kensington', 
                  525 : 'Blythe Road, Olympia'}

In [71]:
add_4_ids_dict

{147: 'Portugal Street, Holborn',
 391: 'Clifford Street, Mayfair',
 482: 'Exhibition Road Museums 2, South Kensington',
 525: 'Blythe Road, Olympia'}

In [72]:
#append dictionary with dictionary of 4 additional stations using use the update() method.
id_station_dict.update(add_4_ids_dict)

In [73]:
# renaming the final 4 columns 
events_final_2022 = events_2022.rename(mapper=id_station_dict, axis=1, level=0)
events_final_2022 = events_final_2022.sort_index(axis=1, level=0)

In [74]:
events_final_2022

Station             Abbey Orchard Street, Westminster             \
                                             Arrivals Departures
Date
2022-01-01 00:00:00                               0.0        0.0
2022-01-01 01:00:00                               1.0       24.0
2022-01-01 02:00:00                               1.0        9.0
2022-01-01 03:00:00                               4.0        0.0
2022-01-01 04:00:00                               0.0        0.0
...                                               ...        ...
2023-01-11 14:00:00                               0.0        0.0
2023-01-13 15:00:00                               0.0        0.0
2023-01-13 17:00:00                               0.0        0.0
2023-01-16 13:00:00                               0.0        0.0
2023-01-17 08:00:00                               0.0        0.0

Station             Abbotsbury Road, Holland Park             \
                                         Arrivals Departures
Date
2022-01-01 00:00:00                           0.0        0.0
2022-01-01 01:00:00                           0.0        0.0
2022-01-01 02:00:00                           0.0        0.0
2022-01-01 03:00:00                           0.0        1.0
2022-01-01 04:00:00                           0.0        0.0
...                                           ...        ...
2023-01-11 14:00:00                           0.0        0.0
2023-01-13 15:00:00                           0.0        0.0
2023-01-13 17:00:00                           0.0        0.0
2023-01-16 13:00:00                           0.0        0.0
2023-01-17 08:00:00                           0.0        0.0

Station             Aberdeen Place, St. John's Wood             \
                                           Arrivals Departures
Date
2022-01-01 00:00:00                             0.0        0.0
2022-01-01 01:00:00                             0.0        0.0
2022-01-01 02:00:00                             4.0        0.0
2022-01-01 03:00:00                             0.0        0.0
2022-01-01 04:00:00                             0.0        0.0
...                                             ...        ...
2023-01-11 14:00:00                             0.0        0.0
2023-01-13 15:00:00                             0.0        0.0
2023-01-13 17:00:00                             0.0        0.0
2023-01-16 13:00:00                             0.0        0.0
2023-01-17 08:00:00                             0.0        0.0

Station             Aberfeldy Street, Poplar             \
                                    Arrivals Departures
Date
2022-01-01 00:00:00                      0.0        0.0
2022-01-01 01:00:00                      1.0        0.0
2022-01-01 02:00:00                      0.0        0.0
2022-01-01 03:00:00                      0.0        0.0
2022-01-01 04:00:00                      0.0        0.0
...                                      ...        ...
2023-01-11 14:00:00                      0.0        0.0
2023-01-13 15:00:00                      0.0        0.0
2023-01-13 17:00:00                      0.0        0.0
2023-01-16 13:00:00                      0.0        0.0
2023-01-17 08:00:00                      0.0        0.0

Station             Abingdon Green, Westminster             ...  \
                                       Arrivals Departures  ...
Date                                                        ...
2022-01-01 00:00:00                         0.0        7.0  ...
2022-01-01 01:00:00                         8.0       24.0  ...
2022-01-01 02:00:00                         1.0        4.0  ...
2022-01-01 03:00:00                        14.0        3.0  ...
2022-01-01 04:00:00                         0.0        0.0  ...
...                                         ...        ...  ...
2023-01-11 14:00:00                         0.0        0.0  ...
2023-01-13 15:00:00                         0.0        0.0  ...
2023-01-13 17:00:00                         0.0        0.0  ...
2023-01-16 13:00:00                         0.0        0.0  ...
2023-01-17 08:00:00                         0.0        0.0  ...

Station             Wren Street, Holborn            Wright's Lane, Kensington  \
                                Arrivals Departures                  Arrivals
Date
2022-01-01 00:00:00                  0.0        0.0                       1.0
2022-01-01 01:00:00                 12.0        0.0                       6.0
2022-01-01 02:00:00                  4.0        2.0                       0.0
2022-01-01 03:00:00                  1.0        0.0                       0.0
2022-01-01 04:00:00                  2.0        1.0                       0.0
...                                  ...        ...                       ...
2023-01-11 14:00:00                  0.0        0.0                       0.0
2023-01-13 15:00:00                  0.0        0.0                       0.0
2023-01-13 17:00:00                  0.0        0.0                       0.0
2023-01-16 13:00:00                  0.0        0.0                       0.0
2023-01-17 08:00:00                  0.0        0.0                       0.0

Station                        Wynne Road, Stockwell             \
                    Departures              Arrivals Departures
Date
2022-01-01 00:00:00        0.0                   0.0        0.0
2022-01-01 01:00:00        0.0                   0.0        0.0
2022-01-01 02:00:00        0.0                   2.0        4.0
2022-01-01 03:00:00        1.0                   0.0        0.0
2022-01-01 04:00:00        1.0                   0.0        1.0
...                        ...                   ...        ...
2023-01-11 14:00:00        0.0                   0.0        0.0
2023-01-13 15:00:00        0.0                   0.0        0.0
2023-01-13 17:00:00        0.0                   0.0        0.0
2023-01-16 13:00:00        0.0                   0.0        0.0
2023-01-17 08:00:00        0.0                   0.0        0.0

Station             York Hall, Bethnal Green            York Way, Kings Cross  \
                                    Arrivals Departures              Arrivals
Date
2022-01-01 00:00:00                      0.0        0.0                   0.0
2022-01-01 01:00:00                      2.0        0.0                   0.0
2022-01-01 02:00:00                      1.0        3.0                   1.0
2022-01-01 03:00:00                      1.0        1.0                   0.0
2022-01-01 04:00:00                      2.0        9.0                   2.0
...                                      ...        ...                   ...
2023-01-11 14:00:00                      0.0        0.0                   0.0
2023-01-13 15:00:00                      0.0        0.0                   0.0
2023-01-13 17:00:00                      0.0        0.0                   0.0
2023-01-16 13:00:00                      0.0        0.0                   0.0
2023-01-17 08:00:00                      0.0        0.0                   0.0

Station
                    Departures
Date
2022-01-01 00:00:00        0.0
2022-01-01 01:00:00        0.0
2022-01-01 02:00:00        0.0
2022-01-01 03:00:00        0.0
2022-01-01 04:00:00        0.0
...                        ...
2023-01-11 14:00:00        0.0
2023-01-13 15:00:00        0.0
2023-01-13 17:00:00        0.0
2023-01-16 13:00:00        0.0
2023-01-17 08:00:00        0.0

[8831 rows x 1664 columns]

### Identifying and removing duplicate columns from the 2022 matrix

In [ ]:
columns = events_final_2022.columns.tolist()
duplicate_columns = set([col for col in columns if columns.count(col) > 1])
duplicate_columns

In [ ]:
duplicate_stations = ['Blythe Road, Olympia', 'Clifford Street, Mayfair', 'Exhibition Road Museums 2, South Kensington', 'Portugal Street, Holborn']
duplicates = events_final_2022.loc[:, events_final_2022.columns.get_level_values(0).isin(duplicate_stations)]
events_2022_filtered = events_final_2022.loc[:, ~events_final_2022.columns.get_level_values(0).isin(duplicate_stations)]

# combine the values in consecutive pairs of columns
duplicates_cleaned = pd.DataFrame()
columns = duplicates.columns

for i in range(0, len(columns), 2):
    duplicates_cleaned[columns[i]] = duplicates.iloc[:, i] + duplicates.iloc[:, i+1]

#renaming columns 
columns = pd.MultiIndex.from_tuples([('Blythe Road, Olympia', 'Arrivals'), ('Blythe Road, Olympia', 'Departures'),
                                     ('Clifford Street, Mayfair', 'Arrivals'), ('Clifford Street, Mayfair', 'Departures'), 
                                     ('Exhibition Road Museums 2, South Kensington', 'Arrivals'), ('Exhibition Road Museums 2, South Kensington', 'Departures'),  
                                     ('Portugal Street, Holborn', 'Arrivals'), ('Portugal Street, Holborn', 'Departures')])


# Assign the MultiIndex to the DataFrame columns
duplicates_cleaned.columns = columns

events_2022_join = events_2022_filtered.merge(duplicates_cleaned, left_index=True, right_index=True)

# sorting in alphabetical order
events_2022_join = events_2022_join.sort_index(axis=1, level=0)

Cleaned 2022 data with all rows having Stations Id. Code to upload to postgres if required
### note, journeys are rounded to the nearest hour, hence cell is in mark down as we don't want it to run

In [58]:
'''# connection to postgres database
conn = psycopg2.connect(
    user="postgres",
    password="password123",
    host="localhost",
    database="diss_data",
)

# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.
engine = create_engine('postgresql+psycopg2://postgres:password123@localhost:5432/diss_data')

# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.
# save the DataFrame to the PostgreSQL database
# set the index parameter to False to avoid saving the DataFrame's index as a separate column in the database.
bd_data_2022_clean6.to_sql('bike_data_2022_tb_v05', engine, if_exists='replace', index=False)'''

'# connection to postgres database\nconn = psycopg2.connect(\n    user="postgres",\n    password="password123",\n    host="localhost",\n    database="diss_data",\n)\n\n# Create a SQLAlchemy engine: Create a SQLAlchemy engine using the create_engine function, which will be used to write the DataFrame to the database.\nengine = create_engine(\'postgresql+psycopg2://postgres:password123@localhost:5432/diss_data\')\n\n# Export the DataFrame to the database: Once you have the connection and engine set up, you can use the to_sql method of the DataFrame to export it to the database.\n# save the DataFrame to the PostgreSQL database\n# set the index parameter to False to avoid saving the DataFrame\'s index as a separate column in the database.\nbd_data_2022_clean6.to_sql(\'bike_data_2022_tb_v05\', engine, if_exists=\'replace\', index=False)'

Exporting the the events data frame as a pickle for use in analysis later

In [75]:
import pickle
import os
from pathlib import Path
events_path = Path("data/events_2019.p")

# Store the file on disk so we can read it later.
events_2019.to_pickle(events_path)

In [44]:
events_path = Path("data/events_2020.p")
events_2020.to_pickle(events_path)

In [76]:
events_path_2022 = Path("data/events_2022.p")
events_2022_join.to_pickle(events_path_2022)

In [47]:
events_path_2023 = Path("data/events_2023.p")
events_2023.to_pickle(events_path_2023)

---
# Citi bikes
---

### 1. Downloading, processing and cleaning the bike data from the citibikenyc website 
- The data comes in CSV files, each of which covers a period of time. Up first, we need to download the data from the citibikenyc website https://s3.amazonaws.com/tripdata/index.html
- You can run the code repeatedly, and it'll only download data that it doesn't have already.



The data includes:
- Ride ID
- Rideable type
- Started at
- Ended at
- Start station name
- Start station ID
- End station name
- End station ID
- Start latitude
- Start longitude
- End latitude
- End Longitude
- Member or casual ride

Data format previously:

Trip Duration (seconds)
Start Time and Date
Stop Time and Date
Start Station Name
End Station Name
Station ID
Station Lat/Long
Bike ID
User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
Gender (Zero=unknown; 1=male; 2=female)
Year of Birth


This data has been processed to remove trips that are taken by staff as they service and inspect the system, trips that are taken to/from any of our “test” stations (which we were using more in June and July 2013), and any trips that were below 60 seconds in length (potentially false starts or users trying to re-dock a bike to ensure it's secure). For months with more than 1 million trips, trips data is split into multiple CSVs within the same compressed file. To determine a month’s total rides, sum the records across CSVs.

In [75]:
import requests
import os
import zipfile
from pathlib import Path
import pandas as pd

In [76]:
#function that downloads a zipefile from a url
def download_zip(url, save_folder):
    response = requests.get(url)
    with open(save_folder, 'wb') as file:
        file.write(response.content)

In [45]:
#testing downloading a  individual zip file 

# url = "https://s3.amazonaws.com/tripdata/JC-201901-citibike-tripdata.csv.zip"
# save_folder = "C:\\Users\\EMoses\OneDrive - Birkbeck, University of London\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201901-citibike-tripdata.csv.zip"
# download_zip(url, save_folder)

# url = "https://s3.amazonaws.com/tripdata/index.html/201901-citibike-tripdata.csv.zip"
# url.split('/')[-1]

In [86]:
#downloading multiple zip files from a url list

# creating url list
file_path = "C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\data_urls.txt"
with open(file_path, 'r') as file:
    urls = file.read().splitlines()
# Filter them out comments that start with #
url_list = [u for u in urls if u[0] != "#"]

In [87]:
for url in url_list:
    save_folder =f"C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\{url.split('/')[-1]}"
    print(url.split('/')[-1])
    download_zip(url, save_folder)

2019-citibike-tripdata.zip
2022-citibike-tripdata.zip
JC-201901-citibike-tripdata.csv.zip
JC-201902-citibike-tripdata.csv.zip
JC-201903-citibike-tripdata.csv.zip
JC-201904-citibike-tripdata.csv.zip
JC-201905-citibike-tripdata.csv.zip
JC-201906-citibike-tripdata.csv.zip
JC-201907-citibike-tripdata.csv.zip
JC-201908-citibike-tripdata.csv.zip
JC-201909-citibike-tripdata.csv.zip
JC-201910-citibike-tripdata.csv.zip
JC-201911-citibike-tripdata.csv.zip
JC-201912-citibike-tripdata.csv.zip
JC-202001-citibike-tripdata.csv.zip
JC-202002-citibike-tripdata.csv.zip
JC-202003-citibike-tripdata.csv.zip
JC-202004-citibike-tripdata.csv.zip
JC-202005-citibike-tripdata.csv.zip
JC-202006-citibike-tripdata.csv.zip
JC-202007-citibike-tripdata.csv.zip
JC-202008-citibike-tripdata.csv.zip
JC-202009-citibike-tripdata.csv.zip
JC-202010-citibike-tripdata.csv.zip
JC-202011-citibike-tripdata.csv.zip
JC-202012-citibike-tripdata.csv.zip
JC-202101-citibike-tripdata.csv.zip
JC-202102-citibike-tripdata.csv.zip
JC-202103-citibike-tripdata.csv.zip
JC-202104-citibike-tripdata.csv.zip
JC-202105-citibike-tripdata.csv.zip
JC-202106-citibike-tripdata.csv.zip
JC-202107-citibike-tripdata.csv.zip
JC-202108-citibike-tripdata.csv.zip
JC-202109-citibike-tripdata.csv.zip
JC-202110-citibike-tripdata.csv.zip
JC-202111-citibike-tripdata.csv.zip
JC-202112-citibike-tripdata.csv.zip
JC-202201-citibike-tripdata.csv.zip
JC-202202-citibike-tripdata.csv.zip
JC-202203-citibike-tripdata.csv.zip
JC-202204-citibike-tripdata.csv.zip
JC-202205-citibike-tripdata.csv.zip
JC-202206-citibike-tripdata.csv.zip
JC-202207-citbike-tripdata.csv.zip
JC-202208-citibike-tripdata.csv.zip
JC-202209-citibike-tripdata.csv.zip
JC-202210-citibike-tripdata.csv.zip
JC-202211-citibike-tripdata.csv.zip
JC-202212-citibike-tripdata.csv.zip
JC-202301-citibike-tripdata.csv.zip
JC-202302-citibike-tripdata.csv.zip
JC-202303-citibike-tripdata.csv.zip
JC-202304-citibike-tripdata.csv.zip
JC-202305-citibike-tripdata.csv.zip
JC-202306-citibike-tripdata.csv.zip
JC-202307-citibike-tripdata.csv.zip
JC-202308-citibike-tripdata.csv.zip
JC-202309-citibike-tripdata.csv.zip
JC-202310-citibike-tripdata.csv.zip
JC-202311-citibike-tripdata.csv.zip
JC-202312-citibike-tripdata.csv.zip

In [88]:
# Directory containing zip files
zip_directory = "C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike"

# Directory where you want to extract the contents
extract_path = "C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike"

# Ensure the extraction directory exists
os.makedirs(extract_path, exist_ok=True)

# Loop through all files in the directory
for file_name in os.listdir(zip_directory):
    if file_name.endswith('.zip'):
    #if '2019' in file_name:
        # Construct the full path of the zip file
        zip_path = os.path.join(zip_directory, file_name)

        # Extract the contents of the zip file
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(extract_path)
    else:
        pass

print("Extraction completed.")

Extraction completed.

Note, as the monthly data for folder 2019-citibike-tripdata.zip and 2022-citibike-tripdata.zip had sub folders within them, unlike the folders that are prefixed with JC, the monthly csvs were manually moved to the data\citibike folder for these 2 folders only. Folders prefixed with JC appear to be journey's from Jercey City only

In [52]:
example_file  = Path(extract_path) / Path("JC-201901-citibike-tripdata.csv")
pd.read_csv(example_file, encoding="ISO-8859-2").head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [89]:
from glob import glob 

# using glob to list all the csv file in the bikefolder filepath
all_csv = glob("C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike"+str('/*.csv'))
all_csv

['C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201901-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201902-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201903-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201903-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201904-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201904-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201905-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201905-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201911-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201911-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201901-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201902-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201903-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201904-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201905-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201906-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201907-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201908-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201909-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201910-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201911-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201912-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202001-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202002-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202003-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202004-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202005-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202006-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202007-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202008-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202009-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202010-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202011-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202012-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202101-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202102-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202103-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202104-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202105-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202106-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202107-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202108-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202109-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202110-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202111-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202112-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202201-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202202-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202203-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202204-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202205-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202206-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202207-citbike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202208-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202209-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202210-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202211-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202212-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202301-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202302-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202303-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202304-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202305-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202306-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202307-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202308-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202309-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202310-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202311-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202312-citibike-tripdata.csv']

In [91]:
# creating a list of csv files that contain '2019' and '2022' respectively
csv_2019 = [item for item in all_csv if 'JC-2019' or 'citibike\\2019' in item]
csv_2020 = [item for item in all_csv if 'JC-2020' or 'citibike\\2020' in item]
csv_2022 = [item for item in all_csv if 'JC-2022' or 'citibike\\2022' in item]
csv_2023 = [item for item in all_csv if 'JC-2023' or 'citibike\\2023' in item]

In [93]:
csv_2019

['C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201901-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201902-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201903-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201903-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201904-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201904-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201905-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201905-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201906-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201907-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201908-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201909-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201910-citibike-tripdata_3.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201911-citibike-tripdata_1.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\201911-citibike-tripdata_2.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201901-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201902-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201903-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201904-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201905-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201906-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201907-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201908-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201909-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201910-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201911-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-201912-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202001-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202002-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202003-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202004-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202005-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202006-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202007-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202008-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202009-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202010-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202011-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202012-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202101-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202102-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202103-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202104-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202105-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202106-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202107-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202108-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202109-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202110-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202111-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202112-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202201-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202202-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202203-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202204-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202205-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202206-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202207-citbike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202208-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202209-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202210-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202211-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202212-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202301-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202302-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202303-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202304-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202305-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202306-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202307-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202308-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202309-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202310-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202311-citibike-tripdata.csv',
 'C:\\Users\\EMoses\\OneDrive - Birkbeck, University of London\\Documents\\Birkbeck\\2022-23\\Paper\\bike_sharing\\data\\citibike\\JC-202312-citibike-tripdata.csv']

### 2019 data prep

In [92]:
# using list comprehension that reads each csv file from the list and generates a sequence of dataframes
dfs_2019 = (pd.read_csv(csv) for csv in csv_2019)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2019 = pd.concat(dfs_2019, ignore_index=True)

In [94]:
print(data_2019.shape)
data_2019.head()

(22867015, 28)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,320.0,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,316.0,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,591.0,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2719.0,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,303.0,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data_2019.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [95]:
# 2019

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specified date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%Y/%m/%d %H:%M"

# Minute level of accuracy if fine for this analysis so the below code cuts these seconds off from the datetime and formats the datetime columns
data_2019['Start Date'] = data_2019['starttime'].str[:16]
data_2019['End Date'] = data_2019['stoptime'].str[:16]

data_2019['Start Date']= pd.to_datetime(data_2019['Start Date'], format=format)

data_2019['End Date']= pd.to_datetime(data_2019['End Date'], format=format)

data_2019['Hour']= pd.to_datetime(data_2019['Start Date'], format=format).dt.hour

data_2019['Day']= pd.to_datetime(data_2019['Start Date'], format=format).dt.weekday

data_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start Date,End Date,Hour,Day
0,320.0,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:01:00,2019-01-01 00:07:00,0.0,1.0
1,316.0,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:04:00,2019-01-01 00:10:00,0.0,1.0
2,591.0,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:06:00,2019-01-01 00:15:00,0.0,1.0
3,2719.0,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:07:00,2019-01-01 00:52:00,0.0,1.0
4,303.0,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:07:00,2019-01-01 00:12:00,0.0,1.0

In [96]:
# removing columns that aren't required 
data_2019.drop(['starttime', 'stoptime'], axis=1)

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,...,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start Date,End Date,Hour,Day
0,320.0,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:01:00,2019-01-01 00:07:00,0.0,1.0
1,316.0,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:04:00,2019-01-01 00:10:00,0.0,1.0
2,591.0,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:06:00,2019-01-01 00:15:00,0.0,1.0
3,2719.0,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:07:00,2019-01-01 00:52:00,0.0,1.0
4,303.0,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:07:00,2019-01-01 00:12:00,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22867010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HB203,40.748720,-74.040487,40.75453,-74.02658,casual,NaT,NaT,NaN,NaN
22867011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HB203,40.748767,-74.040470,40.75453,-74.02658,member,NaT,NaT,NaN,NaN
22867012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HB203,40.744291,-74.034404,40.75453,-74.02658,member,NaT,NaT,NaN,NaN
22867013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HB203,40.744398,-74.034501,40.75453,-74.02658,member,NaT,NaT,NaN,NaN
22867014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HB303,40.744398,-74.034501,40.74542,-74.03332,member,NaT,NaT,NaN,NaN

In [97]:
# check if and removing any rides that aren't from 2019. In this instance there are none
bike_data_2019 = data_2019[data_2019['Start Date'].dt.year == 2019]
bike_data_2019
len(data_2019) - len(bike_data_2019)

2865581

### 2022 data prep

In [68]:
# using list comprehension that reads each csv file from the list and generates a sequence of dataframes
dfs_2022 = (pd.read_csv(csv) for csv in csv_2022)

# concatenate csvs them into a single DataFrame using pd.concat()
# ignore_index=True parameter resets the index of the resulting DataFrame, so that it is a continuous sequence of integers.
data_2022 = pd.concat(dfs_2022, ignore_index=True)

In [69]:
data_2022

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

In [71]:
# 2022

## Add some extra variables to the dataset for use later in filtering

import datetime

## Feeding a specified date format speeds up the pd.to_datetime function immeasurably, especially over large datasets
## e.g. http://stackoverflow.com/questions/32034689/why-is-pandas-to-datetime-slow-for-non-standard-time-format-such-as-2014-12-31

format = "%Y/%m/%d %H:%M"

# Minute level of accuracy if fine for this analysis so the below code cuts these seconds off from the datetime and formats the datetime columns
data_2022['Start Date'] = data_2022['started_at'].str[:16]
data_2022['End Date'] = data_2022['ended_at'].str[:16]

data_2022['Start Date']= pd.to_datetime(data_2022['Start Date'], format=format)

data_2022['End Date']= pd.to_datetime(data_2022['End Date'], format=format)

data_2022['Hour']= pd.to_datetime(data_2022['Start Date'], format=format).dt.hour

data_2022['Day']= pd.to_datetime(data_2022['Start Date'], format=format).dt.weekday

data_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start Date,End Date,Hour,Day
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 18:50:00,2022-01-26 18:51:00,18,2
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28 13:14:00,2022-01-28 13:20:00,13,4
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10 19:55:00,2022-01-10 20:00:00,19,0
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 07:54:00,2022-01-26 07:55:00,7,2
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13 18:44:00,2022-01-13 18:45:00,18,3

In [72]:
# removing columns that aren't required 
data_2022.drop(['started_at', 'ended_at'], axis=1)

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Start Date,End Date,Hour,Day
0,CA5837152804D4B5,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 18:50:00,2022-01-26 18:51:00,18,2
1,BA06A5E45B6601D2,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-28 13:14:00,2022-01-28 13:20:00,13,4
2,7B6827D7B9508D93,classic_bike,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,2022-01-10 19:55:00,2022-01-10 20:00:00,19,0
3,6E5864EA6FCEC90D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-26 07:54:00,2022-01-26 07:55:00,7,2
4,E24954255BBDE32D,electric_bike,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,2022-01-13 18:44:00,2022-01-13 18:45:00,18,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member,2022-12-06 15:43:00,2022-12-06 15:53:00,15,1
895481,747A63A8E782D171,electric_bike,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual,2022-12-08 08:17:00,2022-12-08 08:23:00,8,3
895482,AE090858CFDE6E82,electric_bike,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member,2022-12-23 14:10:00,2022-12-23 14:14:00,14,4
895483,B3CC8E70AF4E259C,classic_bike,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member,2022-12-02 04:43:00,2022-12-02 04:46:00,4,4
895484,176B601F21327350,classic_bike,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member,2022-12-30 14:50:00,2022-12-30 14:55:00,14,4

In [73]:
# check if and removing any rides that aren't from 2022. In this instance there are none
bike_data_2022 = data_2022[data_2022['Start Date'].dt.year == 2022]
bike_data_2022
len(data_2022) - len(bike_data_2022)

0

### Storing the data as pickles for analysis later

In [98]:
# import pickle
# import os
# from pathlib import Path
events_path = Path("data/citibike_pickle/bike_data_2019.p")

# Store the file on disk so we can read it later.
bike_data_2019.to_pickle(events_path)

In [ ]:
events_path = Path("data/citibike_pickle/bike_data_2022.p")
# Store the file on disk so we can read it later.
bike_data_2022.to_pickle(events_path)